/**
 * _partials.animation.scss
 */
.animate {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animate--infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.animate--flip {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}


/**
 * flipInX
 */
.animate--flipInX {
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}


/**
 * Oldstuff
 */
@keyframes loading {
	0% {background-position: 0% 0px}
	0% {background-position: 100% 0px}
}
@-webkit-keyframes loading {
	0% {background-position: 0% 0px}
	0% {background-position: 100% 0px}
}
@-moz-keyframes loading {
	0% {background-position: 0% 0px}
	0% {background-position: 100% 0px}
}
@-o-keyframes loading {
	0% {background-position: 0% 0px}
	0% {background-position: 100% 0px}
}