
/* 	Base styles
/* ======================================= */

a.button {
    @include inline-block;
    width: 28px;
    height: 28px;
    padding: 5px 0 0 0;
    position: relative;
    outline: none;
    cursor: pointer;
    border: none;
    background: $flat-blue-4;
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    @include border-radius( 4px );
    @include transition( all .1s ease-out );

    &.right {
        float: right;
    }

    &:hover, &:active, &:focus, &.active {
        background: lighten($flat-blue-4, 10%);
    }
}

.wp-button {
    background: white;
    @include inline-block;
    padding: 12px 16px;
    margin: 0 12px;
    border: 1px solid #37A54B;
    color: #37A54B;
    @include border-radius( 50px );
    cursor: pointer;
    text-decoration: none;

    &.selected {
        border: 1px solid #b4b2bc;
        color: #b4b2bc;
    }
}