.profile-image {
  margin-top: -50px;
  margin-bottom: 12px;
}

.profile-image__container {
  border: solid 1px $white;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: padding-box;
}