.profile-cover {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: $black;
  position: relative;
}
.profile-cover--img {
  height: 420px;
}

.configurable-layout-column--is-comments .profile-cover--img {
  height: 100px;
  background-image: none !important;
}

.profile-cover--hero {
  height: 140px;
}

.profile-cover__upload-label {
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.profile-cover--edit {


  &:hover {
    cursor: pointer;

    .profile-cover__upload-label {
      background-clip: padding-box;
      border: solid 2px $swatch-five;
    }
  }

  .profile-cover__upload-label {
    position: absolute;
    top: 0;
    left: 0;
    height : 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
  }

  .profile-cover__dropzone {
    width: 74px;
    height: 74px;
    margin-right: auto;
    margin-left:  auto;
    position: relative;
    left: auto;
    background-color: $swatch-one;
    background-image: url('/static/assets/img/cover-upload.png');
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 50%;
    visibility: visible;
    opacity: 1;
    @extend .center-object;
  }
}


.profile-cover__dropzone {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
}

.profile-cover__dropzone:hover {
  cursor: pointer;
}

.profile-cover__dropzone--active {
  border: solid 2px $swatch-five;
}

.profile-cover__upload {
  display: none;
}