.profile-image {
  margin-top: -60px;
  margin-bottom: 12px;
}

.profile-image__container {
  border: solid 1px $white;
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: padding-box;
  position: relative;
}

.profile-image__container--edit {

}

.profile-image__container--edit:hover {
  cursor: pointer;
  border: solid 1px $dark-green;
  opacity: 0.6;
}

.profile-image__dropzone {
  position: absolute;
  top: 0;
  left: 0;
  height : 100%;
  width: 100%;
  border-radius: 50%;
  background: $black;
  opacity: 0.6;
}

.profile-image__dropzone:hover {
  cursor: pointer;
}

.profile-image__dropzone--active {
  border: solid 1px $dark-green;
}

.profile-image__upload {
  display: none;
}