.profile {
	margin-bottom: 50px;
}

.profile__name {
  font-size: 50px;
  margin-bottom: $half-spacing-unit;
  font-family: $heading-font-family;
  color: $swatch-three;
  text-align: center;
}

.profile__description {
  margin-bottom: $base-spacing-unit;
  @extend .lead;
  color: $swatch-three;
  text-align: center;
}