/* _profile-edit.scss */
.profile-edit {

}
.profile-edit__extended {
	width: 550px;
	margin: 0 auto;

	label {
		clear: both;
		float: left;
		width: 210px;
		text-align: right;
		margin-right: 15px;
		padding-top: 12px;
	}
	.input--field {
		float: left;
		background-color: #f8f8f8;
		border-bottom: 1px $light-grey solid;
		color: #727272; /* $dark-grey; ? */
		width: 325px;
		margin-bottom: $half-spacing-unit;
		padding: $half-spacing-unit;
	}
	.medium-editor-placeholder:after { padding: 12px; }
	.lookup--field {
		float: left;
		color: #727272; /* $dark-grey; ? */
		width: 325px;
		margin-bottom: $half-spacing-unit;
		padding: $half-spacing-unit;
	}
	.lookup--field:focus { outline-color: #66afe9; }
}
.profile-edit__description {
  margin-bottom: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
  border-bottom: 2px $light-grey solid;
  text-align: center;
}
.profile-edit__name {
  font-size: 50px;
  margin-bottom: $half-spacing-unit;
  font-family: $heading-font-family;
  color: $swatch-three;
  text-align: center;
}
.profile-edit__contact-button {
	float: left;
	margin-bottom: $half-spacing-unit;
	padding: $half-spacing-unit;
	padding-left: 230px;
	width: 325px;
	button {
		background-color: #fff;
		border-width: 0;
		border-style: none;
		text-transform: uppercase;
		font-weight: bold;
		color: $light-grey;
	}
	button:focus { outline-width: 0; }
	.active { color: $cold-black; }
}