.profile-cover {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border: solid 1px transparent;
  position: relative;
}
.profile-cover--img {
  height: 520px;
}
.profile-cover--hero {
  height: 140px;
}

.profile-cover--edit {

  &:hover {
    background-clip: border-box;
    cursor: pointer;
    border: solid 2px $swatch-five;
  }

  .profile-cover__upload-label {
    position: absolute;
    top: 0;
    left: 0;
    height : 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
  }

  .profile-cover__dropzone {
    width: 74px;
    height: 74px;
    margin-right: auto;
    margin-left:  auto;
    position: relative;
    left: auto;
    background-color: $swatch-one;
    border-radius: 50%;
    visibility: visible;
    opacity: 1;
    @extend .center-object;
  }
}


.profile-cover__dropzone {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  opacity: 0;  
}

.profile-cover__dropzone:hover {
  cursor: pointer;
}

.profile-cover__dropzone--active {
  border: solid 2px $swatch-five;
}

.profile-cover__upload {
  display: none;
}