.page-footer {
  height: $base-spacing-unit;
  width: 100%;
}

.page-footer__items {
  float: left;
}

.page-footer__item {
  display: inline-block;
  margin-right: 0.5em;
}

.page-footer__link {
  color: $dark-grey;
}

.page-footer__note {
  float: right;
  color: $dark-grey;
}