*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
/dist
/build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# local settings
wonder/romeo/settings/local.py

# virtual env
env/

# sqlite db
romeo.db

# webassets
wonder/romeo/static/.webassets-manifest
wonder/romeo/static/.webassets-cache
wonder/romeo/static/gen

# Sass cache
.sass-cache/

# node packages
node_modules/
npm-debug.log

# webstorm
.idea/

# OSX
.DS_Store

# email tests
email.html
email.txt
