Flask >= 0.10
Flask-WTF >= 0.9
Flask-Login >= 0.2
Flask-Cache >= 0.11
Flask-Script >= 0.6
#Flask-Assets >= 0.8
git+git://github.com/miracle2k/flask-assets.git@d89884ec765c7040e8347063f4041f59b944236c
Flask-SQLAlchemy >= 1.0
SQLAlchemy >= 0.9
psycopg2 >= 2.5
boto >= 2.6
alembic >= 0.5
requests >= 2
raven >= 4
