{% extends "base.html" %}

{% block title %}{% if recipient.is_initiator %}Your invitation to connect has been accepted{% else %}You have accepted an invitation to connect{% endif %} on Wonder PL{% endblock %}

{% block body %}

{% if sender.avatar %}
  <div style="width:100%;overflow:hidden;text-align:center;">
    <img src="{{ sender.avatar }}" alt="" width="66" height="66" style="display:block;max-width:none;width:66px;height:auto;margin:0 auto;border-radius:100%;"/>
  </div>
  <br>
{% endif %}

<div style="font-weight:bold;font-size:28px;line-height:1.35;font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;color:#2e2e32">
  Hello {{ recipient.name }},
</div>
<br>

<div>
  {% if recipient.is_initiator %}
  Great news! {{ sender.display_name }} has accepted your invitation to connect on Wonder.
  {% else %}
  You have accepted an invitation to connect from {{ sender.display_name }}.
  {% endif %}
</div>
<br>

<div>
  Here's their email address, so you can contact them directly, {{ sender.email }}. They have also been sent your email address.
</div>
<br>

<em style="font-style:italic">&mdash;Wonder PL</em><br><br>
{% endblock %}
