{% extends "base.html" %}

{% macro video_url() %}
{{ video.web_url }}
{%- endmacro %}

{% block title %}{% if error %}There was an error processing your video {% else %}Your video is ready{% endif %}{% endblock %}

{% block body %}

  <div style="font-weight:bold;font-size:28px;line-height:1.35;font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;color:#2e2e32">
    Hello {{ username }},
  </div>
  <br/>

  {% if error %}

    <div>
      Whoh&hellip; Something went wrong.<br><br>
      There was an error uploading <a href="{{ video_url() }}">"{{ video.title }}"</a> and it's stopped processing. Come back and try again.<br><br>
      {% if error_message %}
      <em style="font-style:italic;">{{ error_message }}</em>
      <br/>
      {% endif %}
    </div>

  {% else %}

    <div>
      We just wanted to let you know, your video <a href="{{ video_url() }}">"{{ video.title }}"</a> has finished processing and is now ready to watch.<br><br>
      So what's next? Well, you can start inviting collaborators to view and comment on this video or publish it for the rest of the world to see.<br><br>
      {% if video.thumbnail %}
      <a href="{{ video_url() }}" border="0" class="video-thumb" style="display:block;margin:0;border:none;outline:none;">
        <img src="{{ video.thumbnail }}" border="0" alt="{{ video.title }}" width="480" height="250" class="video-img" style="display:block;width:100%;height:auto;margin:0 auto;border:none;outline:none" />
      </a>
      {% endif%}
    </div>

  {% endif %}

  <br/>
  <p class="btn-center" style="display:block;width:100%;text-align:center;"><a href="{{ video_url() }}" class="btn" style="margin:0 auto;padding:10px 20px;font-weight:400;font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;text-decoration:none;color:#fff !important;text-align:center;background-color:#51b364;border:none;border-radius:100px;cursor:pointer;" border="0">Edit your video</a></p><br>
  Fill your life with Wonder,<br>
  <em style="font-style:italic">&mdash;Wonder PL</em><br><br>

  {% if error %}
    <span style="font-variant:small-caps;text-transform:lowercase;letter-spacing:0.1em;">p.s.</span> Received this email more than once?<br>
    Check our <a href="http://wonderpl.com/faqs" style="color:#51b464 !important;"><span style="font-variant:small-caps;text-transform:lowercase;letter-spacing:0.1em;">FAQ</span>s</a> or <a href="mailto:hello@wonderpl.com" style="color:#51b464 !important;">let us know</a>.<br><br>
  {% endif %}

{% endblock %}
