{% extends "base.html" %}

{% macro video_url() %}
{{ url_for('root.home') }}#/video/{{ video.id }}
{%- endmacro %}

{% block title %}{% if error %}There was an error processing your video {% else %}Your video is ready{% endif %}{% endblock %}

{% block body %}
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
  {% if error %}
  <tr>
    <td valign="top" class="bodyContent">
      There was an error processing <a href="{{ video_url() }}">"{{ video.title }}"</a>!
    </td>
  </tr>
  <tr>
    <td valign="top" class="bodyContent">
      <em>{{ error }}</em>
    </td>
  </tr>
  {% else %}
  <tr>
    <td valign="top" class="bodyContent">
      <a href="{{ video_url() }}">"{{ video.title }}"</a> is ready.
    </td>
  </tr>
  {% if video.thumbnail %}
  <tr>
    <td class="bodyContent" style="padding-top:0; padding-bottom:0;">
      <a href="{{ video_url() }}">
        <img src="{{ video.thumbnail }}" style="max-width:560px;" id="bodyImage" />
      </a>
    </td>
  </tr>
  {% endif %}
  <tr>
    <td valign="top" class="bodyContent">
      Link: <a href="{{ video_url() }}">{{ video_url() }}</a>
    </td>
  </tr>
  {% endif %}
</table>
{% endblock %}
