<section class="organise-navigation">

  <ul class="organise-navigation__nav-items organise-navigation__nav--core">
    <li class="organise-navigation__nav-item organise-navigation__nav-item--title">
      Manage
    </li>
    <li class="organise-navigation__nav-item">
      <a class="organise-navigation__link" ng-click="showAllVideos()">All videos</a>
    </li>
    <li class="organise-navigation__nav-item">
      <a class="organise-navigation__link">Recently added videos</a>
    </li>
    <li class="organise-navigation__nav-item">
      <a class="organise-navigation__link">Shared videos</a>
    </li>
  </ul>

  <ul class="organise-navigation__nav-items organise-navigation__nav--private">
    <li class="organise-navigation__nav-item organise-navigation__nav-item--title">
      Collections not visible in app
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--collection"
      ng-repeat="tag in tags | filter : { public : true }">
      <a class="organise-navigation__link"
        ng-bind="tag.label"
        ng-click="loadCollection(tag.id)">
      </a>
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--new">
      <a class="organise-navigation__link organise-navigation__link--new" ng-click="createPrivateCollection()">Add a new private collection</a>
    </li>
  </ul>

  <ul class="organise-navigation__nav-items organise-navigation__nav--public">
    <li class="organise-navigation__nav-item organise-navigation__nav-item--title">
      Collections visible in app
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--collection"
      ng-repeat="tag in tags | filter : { public : false }">
      <a class="organise-navigation__link"
        ng-bind="tag.label"
        ng-click="loadCollection(tag.id)">
      </a>
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--new">
      <a class="organise-navigation__link organise-navigation__link--new" ng-click="createPublicCollection()">Add a new public collection</a>
    </li>
  </ul>

</section>