<section class="organise-navigation">

  <ul class="organise-navigation__nav-items organise-navigation__nav--core">
    <li class="organise-navigation__nav-item organise-navigation__nav-item--title">
      Manage
    </li>
    <li class="organise-navigation__nav-item">
      <a class="organise-navigation__link" ng-click="showAllVideos()">All videos</a>
    </li>
    <li class="organise-navigation__nav-item">
      <a class="organise-navigation__link" ng-click="showAllVideos()">Recently added videos</a>
    </li>
  </ul>

  <ul class="organise-navigation__nav-items organise-navigation__nav--private">
    <li class="organise-navigation__nav-item organise-navigation__nav-item--title">
      Collections not visible in app
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--collection"
      ng-repeat="tag in tags | filter : { public : false }">
      <a class="organise-navigation__link"
        ng-bind="tag.label"
        ng-click="loadCollection(tag.id)">
      </a>
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--new">
      <a class="organise-navigation__link organise-navigation__link--new  split" ng-click="createPrivateCollection()"><span class="split__title">Add a new private collection</span> <i class="icon  icon--plus"></i></a>
    </li>
  </ul>

  <ul class="organise-navigation__nav-items organise-navigation__nav--public">
    <li class="organise-navigation__nav-item organise-navigation__nav-item--title">
      Collections visible in app
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--collection"
      ng-repeat="tag in tags | filter : { public : true }">
      <a class="organise-navigation__link"
        ng-bind="tag.label"
        ng-click="loadCollection(tag.id)">
      </a>
    </li>
    <li class="organise-navigation__nav-item organise-navigation__nav-item--new">
      <a class="organise-navigation__link organise-navigation__link--new  split" ng-click="createPublicCollection()"><span class="split__title">Add a new public collection</span> <i class="icon  icon--plus"></i></a>
    </li>
  </ul>

</section>