<section class="organise-video">

  <span class="organise-video__title" ng-bind="video.title"></span>

  <section class="organise-video__controls-container">
    <ul class="organise-video__controls">
      <li class="organise-video__control">
        <a class="organise-video__link organise-video__link--edit" ng-href="#/video/{{video.id}}/edit">edit</a>
      </li>
      <li class="organise-video__control">
        <a class="organise-video__link organise-video__link--stats">stats</a>
      </li>
      <li class="organise-video__control">
        <a class="organise-video__link organise-video__link--add-remove" ng-click="addRemove(video)">add/remove</a>
      </li>
      <li class="organise-video__control">
        <a class="organise-video__link organise-video__link--delete" ng-click="delete(video)">delete</a>
      </li>
    </ul>
  </section>

</section>