<section class="organise-video">

  <ul class="organise-video__inline-controls" ng-show="isList">
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--edit" ng-href="#/video/{{video.id}}/edit"><i class="icon  icon--edit"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--view" ng-href="#/video/{{video.id}}"><i class="icon  icon--eye"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--stats"><i class="icon  icon--bar-graph"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--add-remove" ng-click="addRemove(video)"><i class="icon  icon--collection"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--delete" ng-click="delete(video)"><i class="icon  icon--trash"></i></a>
    </li>
  </ul>

  <a ng-href="#/video/{{video.id}}">
    <span class="organise-video__inline-title" ng-show="isList" ng-bind="video.title"></span>
  </a>

  <a ng-href="#/video/{{video.id}}">
    <span class="organise-video__title" ng-hide="isList" ng-bind="video.title"></span>
  </a>

  <div class="video-thumb-container" ng-hide="isList">
    <ul class="nav  nav--block  video-action-list">
      <li class="video-action-list__item"><a class="video-action-list__link" ng-href="#/video/{{video.id}}/edit"><i class="icon  icon--edit"></i><span class="t--block">Edit</span></a></li>
      <li class="video-action-list__item"><a class="video-action-list__link" ng-href="#/video/{{video.id}}"><i class="icon  icon--eye"></i><span class="t--block">Review</span></a></li>
      <li class="video-action-list__item"><a class="video-action-list__link"><i class="icon  icon--bar-graph"></i><span class="t--block">Stats</span></a></li>
      <li class="video-action-list__item"><a class="video-action-list__link" ng-click="addRemove(video)"><i class="icon  icon--collection"></i><span class="t--block">Add / Remove</span></a></li>
      <li class="video-action-list__item"><a class="video-action-list__link" ng-click="delete(video)"><i class="icon  icon--trash"></i><span class="t--block">Delete</span></a></l>
    </ul>
    <ng-switch on="video.thumbnails.items[0].url.length">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="video-thumb-container__thumb" style="background-image: url('http://placehold.it/218x122')" ng-switch-when="0">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="video-thumb-container__thumb" style="background-image: url('{{ video.thumbnails.items[0].url }}')" ng-switch-default>
    </ng-switch>
  </div>

</section>