<div class="video-thumb-wrapper  organise-video">

  <ul class="nav  nav--block  organise-video__inline-controls" ng-show="isList">
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--edit" ng-href="#/video/{{video.id}}/edit" title="Edit"><i class="icon  icon--edit"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--view" ng-href="#/video/{{video.id}}" title="Review"><i class="icon  icon--eye"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--stats"><i class="icon  icon--bar-graph" title="Stats"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--add-remove" ng-click="addRemove(video)" title="Add/Remove from collection"><i class="icon  icon--collection"></i></a>
    </li>
    <li class="organise-video__inline-control">
      <a class="organise-video__inline-link organise-video__inline-link--delete" ng-click="showDelete(video)" title="Delete video" ><i class="icon  icon--trash"></i></a>
    </li>
  </ul>

  <a ng-href="#/video/{{video.id}}" class="video-thumb-link">
    <span class="heading  trunc  video-thumb-link__title" ng-show="isList" ng-bind="video.title"></span>
  </a>

  <a ng-href="#/video/{{video.id}}" class="video-thumb-link">
    <span class="heading  trunc  trunc--two  video-thumb-link__title" ng-hide="isList" ng-bind="video.title"></span>
  </a>

  <div class="ratio  ratio--16x9  video-thumb" ng-hide="isList">
    <ul class="nav  nav--block  video-thumb-list">
      <li class="video-thumb-list__item"><a class="video-thumb-list__link" ng-href="#/video/{{video.id}}/edit"><i class="icon  icon--edit"></i><span class="t--block  t--center">Edit</span></a></li>
      <li class="video-thumb-list__item"><a class="video-thumb-list__link" ng-href="#/video/{{video.id}}"><i class="icon  icon--eye"></i><span class="t--block  t--center">Review</span></a></li>
      <li class="video-thumb-list__item"><a class="video-thumb-list__link"><i class="icon  icon--bar-graph"></i><span class="t--block  t--center">Stats</span></a></li>
      <li class="video-thumb-list__item"><a class="video-thumb-list__link" ng-click="addRemove(video)"><i class="icon  icon--collection"></i><span class="t--block  t--center">Add / Remove</span></a></li>
      <li class="video-thumb-list__item"><a class="video-thumb-list__link" ng-click="showDelete(video)"><i class="icon  icon--trash"></i><span class="t--block  t--center">Delete</span></a></l>
    </ul>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="ratio__src  video-thumb__img" style="background-image: url('{{ thumbnail }}')">
  </div>

</div>