<section class="organise-collection">

  <h3 class="organise-collection__title">
    Cook-a-longs
    <span class="organise-collection__visibility organise-collection__visibility--private">private</span>
  </h3>

  <p class="organise-collection__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea labore, ratione culpa. Nihil iste rerum totam neque placeat! Voluptate repudiandae sit facere harum sapiente quod, libero consequuntur perspiciatis perferendis, soluta.
  </p>

  <a class="button organise-collection__edit">Edit</a>

</section>