<section class="organise-video-list">

  <section class="organise-video-list__list-controls">
    <label class="organise-video-list__list-control-label">
      Sort:
      <select class="organise-video-list__select  btn  btn--small"
        ng-model="sortOption"
        ng-init="sortOption=''">
        <option value="">Oldest</option>
        <option value="date_updated">Newest</option>
      </select>
    </label>
    <label class="organise-video-list__list-control-label">
      View:
      <div class="btn-group">
        <a class="btn  btn--small" title="Display videos in a grid view."
        ng-class="{ 'btn--active' : !isList }"
        ng-click="isList = false"><i class="icon  icon--grid"></i></a>
        <a class="btn  btn--small" title="Display videos in a list view."
        ng-class="{ 'btn--active' : isList }"
        ng-click="isList = true"><i class="icon  icon--align-justify"></i></a>
      </div>
    </label>
  </section>

  <div ng-hide="filteredVideos" class="organise-video-list__message">
    <p>Great, you've made a collection, but it's empty!</p>
    <p>Go and <a href="#/video">upload</a> a video.</p>
  </div>

  <ul class="layout" ng-show="filteredVideos">
    <li class="layout__item  one-third"
      ng-repeat="video in filteredVideos | orderBy: sortOption | filter : customFilter"
      ng-class="{
        'organise-video-list__video--last' : ($index + 1) % 3 == 0,
        'organise-video-list__video--list' : isList
      }">
      <organise-video video="video" is-list="isList"></organise-video>
    </li>
  </ul>

</section>





