<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta property="fb:app_id" content="{{ config.FACEBOOK_APP_ID }}">

    <title>{% block title %}Romeo{% endblock %}</title>

    <script type="text/javascript" src="//use.typekit.net/ftv4doz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% assets filters="cssmin", output="gen/app.%(version)s.css",
      "assets/vendor/css/spectrum.css",
      "assets/vendor/css/medium-editor.css",
      "assets/vendor/css/medium-editor-default.css",
      "assets/css/app.css"
    %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <link rel="shortcut icon" href="{{ config.ASSETS_URL }}/assets/img/favicon@2x.png">

    <script>
      var wonder = {romeo: {settings: {{ settings|tojson}} } };
    </script>
</head>
<body ng-app="RomeoApp" ng-controller="MainCtrl" class="page-(~ getCurrentRoute() ~) (~ 'js-ready' ~)">

  <global-navigation></global-navigation>
  <div class="container cf container--(~ $root.layoutMode ~)">

    <notification-tray notifications="notifications"></notification-tray>

    <page-header profile="profile"></page-header>
    
    <div ng-view=""></div>

    <page-footer></page-footer>
  </div>

  <div id="liveScripts">
    <!--[if lt IE 9]>
        <script type="text/javascript" src="aight.min.js"></script>
    <![endif]-->

    {% block vendorjs %}
        {% assets filters="rjsmin", output="gen/vendor.%(version)s.js",
            "assets/vendor/js/jquery.js",
            "assets/vendor/js/angular-file-upload/angular-file-upload-shim.min.js",
            "assets/vendor/js/angular/angular.js",
            "assets/vendor/js/angular/angular-route.js",
            "assets/vendor/js/angular/angular-cookies.js",
            "assets/vendor/js/angular/angular-localstorage.js",
            "assets/vendor/js/angular-file-upload/angular-file-upload.min.js",
            "assets/vendor/js/angulartics-0.16.1/angulartics.min.js",
            "assets/vendor/js/angulartics-0.16.1/angulartics-ga.min.js",
            "assets/vendor/js/moment.js",
            "assets/vendor/js/spectrum.js",
            "assets/vendor/js/medium-editor.js"
        %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {% endblock %}

    {% block appjs %}
        {% assets filters="rjsmin", output="gen/app.%(version)s.js",
            "assets/scripts/helpers.js",
            "assets/scripts/app.js",

            "assets/scripts/filters.js",
            "assets/scripts/services.js",
            "assets/scripts/directives.js",
            "assets/scripts/controllers.js",

            "assets/common/security/*.js",
            "assets/common/services/*.js",
            "assets/common/directives/*.js",
            
            "assets/scripts/services/*.js",
            "assets/scripts/controllers/*.js",
            "assets/scripts/filters/*.js",
            "assets/scripts/directives/*.js",
            "assets/scripts/directives/**/*.js",

            "assets/app/**/*.js",
            "assets/app/**/**/*.js",

            "assets/vendor/js/angular-medium-editor.js"
        %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {% endblock %}

    {% block viewsjs %}
        {% assets filters="rjsmin", output="gen/views.%(version)s.js",
            "assets/scripts/views.js"
        %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
    {% endblock %}

    {% include "ga.html" %}
    </div>

</body>
</html>
