.profile {
	margin-bottom: 50px;
}

.profile-details__optional {
  > li:before{
    content: '\00B7';
    font-size: 24px;
    line-height: 0;
    padding: 0 5px;
  }
  > li:first-child:before {
    content: '';
    padding: 0;
  }
}

.profile-collaborators__link {
  position: relative;
  padding-right: 6px;
  padding-left: 6px;
  border: none;
  overflow: inherit;

  .avatar__img {
    border-radius: 50%;
  }
}
.profile-visitors {
  float: right;
  width: 120px;

  h2 {
    font-size: 13px;
  }
  ul {
    display: block;
    list-style: none;
    max-height: 200px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
  }
}
.profile-connections {
  clear: both;
}
