<section class="profile">

  <div class="profile-view__nav-placeholder sub-navigation__placeholder" ng-show="flags.isOwner">
    <profile-navigation flags="flags" ng-if="flags.isOwner"></profile-navigation>
  </div>

  <profile-cover></profile-cover>

  <profile-image></profile-image>

  <div class="wrapper wrapper--fixed">
    <profile-edit-details data-profile="profile" data-flags="flags" ng-if="flags.isEdit"></profile-edit-details>
    <profile-view-details data-profile="profile" data-flags="flags" ng-if="! flags.isEdit"></profile-view-details>


    <list-videos ng-if="! flags.isOwner">
      This should be the list of collaborators and public videos
    </list-videos>

  </div>

</section>