<div>
  <header class="modal-header">
    <div class="wrapper">
      <h2 class="heading  alpha  u--ta-center">Connect with {{ profile.display_name }}</h2>
    </div>
  </header>
  <div class="modal-body">
    <div class="wrapper  wrapper--fixed">
      <div class="text-col">
        <form class="form-ui">
          <fieldset class="form-ui__fieldset">
            <legend class="accessible">Connect with {{ profile.display_name }}:</legend>
            <ul class="form-fields">
              <li>
                <label for="inviteMessage" class="accessible">Personalised Message:</label>
                <textarea id="inviteMessage" class="text-input  one-whole" ng-model="invitation.message" placeholder="Personalised Message"></textarea>
              </li>
              <li>
                <div class="btn-center">
                  <button class="btn  btn--positive" ng-click="sendInvite()">Send Invitation</button>
                </div>
              </li>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>