/*  Stats
/* ======================================= */

#page-stats {
  padding-top: 150px;
}

#analytics-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
  padding-bottom: 11px;
  margin-bottom: 11px;
}

#analytics-date {
  overflow: hidden;
}

#analytics-date-selected {
  float: right;
  clear: both;

  font-size: 1.5em;
}

#analytics-top-panel, #analytics-bottom-panel {
  position: relative;
}

#analytics-header {
  margin-bottom: 11px;
}

#analytics-tabs {
  position: absolute;
  right: 0;
  top: 10px;

  .analytics-tabs-tab {
    background: $flat-orange-2;
    @include border-radius(5px);
    @include inline-block;
    margin: 0 0 0 6px;

    &.selected {
      background: $flat-blue-4;
    }

    a {
      display: block;
      color: #fff;
      padding: 6px;
      font-size: 15px;
      text-decoration: none;

      &:before {
        padding-right: 5px;
      }
    }
  }
}

#analytics-contents h1 {
  padding-bottom: 30px;
}

#analytics-overview {
  text-align: center;
  #widget-container {
    @include inline-block;
    min-width: 350px;
    margin: 0 auto;

  }
}

.analytics-widget {
  @include inline-block;
  width: 200px;
  height: 300px;
  margin: 22px;
  padding: 10px;
  @include border-radius(10px);
  background: $flat-blue-4;
  color: #fff;

  .analytics-widget-top {
    display: block;
    text-align: center;
    margin: 0 0 20px 0;
    border-bottom: 1px solid lighten($flat-blue-4, 10%);

    .analytics-widget-statistic-datum {
      font-size: 94px;
      line-height: 150px;
      display: block;
    }

    .analytics-widget-statistic-title {
      position: relative;
      top: -20px;
    }
  }

  .analytics-widget-bottom {

    .analytics-widget-statistic {
      display: block;
      margin: 0 0 12px 0;
      font-size: 13px;
    }
  }
}

#performance-chart {
  width: 960px;
  height: 350px;
}

#geographic-map {
  width: 960px;
  height: 500px;
  margin: 0;
  padding: 0;
}

#geographic-map-data {
  display: inline-block;
  margin: 20px;
  width: 206px;
  padding: 11px;
  border: 1px dashed black;
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.44);

  .key-color {
    display: block;
    margin: 3px;
    float: left;

    height: 13px;
    width: 13px;

  }

  .key-title {
    margin-left: 3px;
  }

  .key-value {
    float: right;
  }

  .key-checkbox {
    float: left;
    clear: none;

    height: 13px;
    width: 13px;
    margin: 3px;
  }

  .key-row {
    white-space: nowrap;
    line-height: 20px;
    vertical-align: middle;
    font-size: 13px;
  }
}

.country, .state {
  &.highlight {
    fill: rgb(8, 28, 39);
  }
}

/* entire container, keeps perspective */
.flip-container {
  @include perspective(1000);
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
  @include transform(rotateY(-180deg));
}

.flip-container, .front, .flipper-back {
  width: 100%;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  @include transition(0.6s);
  @include transform-style(preserve-3d);
  @include transform-origin(50% 50% 0);

  position: relative;
  height: 100%;
}

/* hide back of pane during swap */
.flipper-front, .flipper-back {
  @include backface-visibility(hidden);

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.flipper-front {
  z-index: 2;
  width: 100%;
}

/* back, initially hidden pane */
.flipper-back {
  @include transform(rotateY(180deg));
  width: 100%;
}

#analytics-fields-key {
  overflow: auto;
  margin: 11px 0 7px 0;
  border-bottom: 1px dashed rgb(148, 147, 147);
  padding: 6px 0;

  #edit-icon {
    line-height: 22px;
    float: right;
    margin-right: 3px;
  }

  .analytics-fields-key-item {
    display: inline;
    line-height: 22px;
    vertical-align: middle;
    float: left;
    margin: 0 22px 0 0;

    .key-color {
      float: left;
      width: 16px;
      height: 16px;
      margin: 3px;
    }

    .key-title {
      margin-left: 6px;
      float: left;
    }

    .ng-enter, .ng-leave, .ng-move {
      -webkit-transition: 0.5s linear all;
      -moz-transition: 0.5s linear all;
      -o-transition: 0.5s linear all;
      transition: 0.5s linear all;
    }

  }
}

#analytics-fields-selection {

  overflow: hidden;

  .analytics-fields-selection-item {

    float: left;
    margin: 10px;
    width: 40%;

    .selection-title {
      line-height: 16px;
      float: left;
      clear: both;
      border-bottom: 3px outset #ccc;
      padding-bottom: 5px;

      input {
        height: 12px;
        width: 12px;
        float: left;
        margin: 2px;
        margin-right: 7px;

      }
    }

    .selection-description {
      float: left;
      padding-top: 5px;
    }

    &.disabled {
      color: $flat-gray-4;
    }
  }
}

#analytics-results-table {
  width: 100%;
  margin: 11px;

  th {
    padding-bottom: 7px;

    font-size: 1.1em;
    font-weight: bold;

    .results-table-column-header {
      //            border-bottom: 2px solid #ccc;
    }
  }

  td, th {
    border-style: dashed;
    border-color: #000;
    border-width: 0 1px;
    padding: 3px 0 3px 8px;
  }

  tr {
    border-bottom: 1px dashed rgba(219, 219, 219, 1);
  }

  td:first-child, th:first-child, td:last-child, th:last-child {
    border-width: 0;
    border-style: none;
  }

  th:first-child, td:first-child {
    padding-left: 0;
  }

}

.analytics-panel-top {
  position: relative;
  border: 1px dashed rgba(40, 95, 116, 0.3);
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.analytics-panel-bottom {
  width: 100%
}
  
#performance-table {
  width: 100%;  
  border-collapse: collapse;

  tr > th > span.table-title {
    border-color: #787878;
    border-bottom-width: 3px;
    border-style: outset;
  }

  td, th {
    padding: 11px;
  }
}

#engagement-video-segment-chart, #engagement-video-iframe {
  width: 500px;
  height: 300px;
}

#engagement-video-iframe {
  float: left;
}

#geographic-region-chooser {
  position: absolute;
  top: -42px;
  left: 11px;

  select {
    display: inline-block;
    width: 120px;
  }
}

