{% extends "base.html" %}

{% block content %}
<div class="container">
  Account name: {{ current_user.account.name }} ({{ current_user.account_id }})
</div>
<div class="container">
  <h2>Wonder</h2>
  <div>
    <h3>Display Name</h3>
    {{ dollyuser.display_name }}
  </div>
  <div>
    <h3>Avatar</h3>
    {% if dollyuser.avatar_thumbnail_url %}
    <img src="{{ dollyuser.avatar_thumbnail_url }}">
    {% else %}
    none
    {% endif %}
  </div>
  <div>
    <h3>Profile Cover</h3>
    {% if dollyuser.profile_cover_url %}
    <img src="{{ dollyuser.profile_cover_url }}">
    {% else %}
    none
    {% endif %}
  </div>
</div>
<div class="container">
  <h2>Password</h2>
  {{ change_password_form }}
</div>
<div class="container">
  <h2>Player Logo</h2>
</div>
{% endblock %}
