<form class="profile-edit">
  <h3 class="error" ng-hide="form.valid">{{ form.errorMsg() }}</h3>

  <input type="text" ng-model="profile.display_name" class="profile-edit__name input--field" placeholder="name" required="true" ng-trim="true" />

  <input class="profile-edit__description input--field"
    type="text"
    placeholder="description"
    ng-maxlength="300"
    ng-model="profile.description" ng-trim="true" />

  <section class="profile-edit__extended">

  <label>Job title:</label>
    <input type="text" class="profile-edit__job_title input--field"
      ng-model="profile.title" ng-trim="true" id="profileJobTitle" />

  <label>Website or homepage:</label>
    <input type="text" class="profile-edit__website input--field"
      ng-class="{ 'error' : form.errors.website_url }"
      placeholder="Link http://"
      ng-model="profile.website_url" />

  <label>Share your location:</label>
    <location-selector class="input--field" location="profile.location"></location-selector>

  <label>Show &ldquo;Connect with me&rdquo; button:</label>
    <div class="profile-edit__contact-button toggle--field">
    <button ng-class="{'active' : profile.contactable }" ng-click="profile.contactable = true">Yes</button>
    <button ng-class="{'active' : !profile.contactable }" ng-click="profile.contactable = false">No</button>
  </div>
  <label>Make yourself easy to find, add your skills and interests:</label>
    <input type="hidden" ui-select2="select2Options" ng-model="search_keywords" placeholder="Make yourself searchable by adding relevant terms">
  </section>
</form>