.page-header {
  position: relative;
  text-align: right;
  border-bottom: solid 1px $light-grey;
  font-size: 0.8em;
  font-weight: 800;
  @extend .cf;
}

.page-header__logo {
  display: inline-block;
  float: left;
}

.page-header__logo-link {
  background-image: url('/static/assets/img/page-logo.png');
  background-repeat: no-repeat;
  display: block;
  height: 27px;
  width: 160px;
  margin: 0.5em 0;
}

.page-header__link {
  color: $dark-grey;
}

.page-header__link:hover {
  text-decoration: underline;
}

.page-header__current-user {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1em;
}
.page-header__profile-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-size: contain;
}

.page-header__navigation {
  display: inline-block;
}

.page-header__navigation-item {
  display: inline-block;
  border-right: 1px solid $light-grey;
}

.page-header__navigation-item:first-child {
  border-left: 1px solid $light-grey;
}

.page-header__navigation-link {
  padding: 1em;
  display: block;
}





