/**
 * _objects.list-inline.scss
 */

/**
 * The list-inline object simply displays a list of items in one line.
 */

// Predefine the variables below in order to alter and enable specific features.
$list-inline-namespace:           $namespace !default;

$enable-list-inline--delimited:   false !default;
$enable-list-inline--justified:   false !default;
$enable-list-inline--meta:        true !default;
$list-inline-delimit-character:   ",\00A0" !default;
$list-inline-meta-character:      "\00A0\b7\00A0" !default;

.#{$list-inline-namespace}list-inline,
%#{$list-inline-namespace}list-inline {
  margin-left: 0;
  padding: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}


@if ($enable-list-inline--delimited == true) {

    /**
     * Comma delimited list to semantically mark up lists of tags, etc.
     *
     * N.B. This component requires that you remove the whitespace between LIs.
     *      The simplest (and valid) way to achieve this is by omitting the
     *      closing `</li>` tag.
     */

  .#{$list-inline-namespace}list-inline--delimited,
  %#{$list-inline-namespace}list-inline--delimited {

    > li + li {

      &:before {
        content: "#{$list-inline-delimit-character}";
      }
    }
  }
}


@if ($enable-list-inline--delimited == true) {

  /**
   * Have a list fit the entirety of it's parent container.
   */
  .#{$list-inline-namespace}list-inline--justified,
  %#{$list-inline-namespace}list-inline--justified {
    width: 100%;
    display: table;

    > li {
      display: table-cell;
      width: 1%;
      text-align: center;
    }
  }
}


@if ($enable-list-inline--meta == true) {

  /**
   * Change the seperate to a inerpunct (&middot;).
   */
  .#{$list-inline-namespace}list-inline--meta,
  %#{$list-inline-namespace}list-inline--meta {

    > li + li {
      
      &:before {
        content: "#{$list-inline-meta-character}";
      }
    }

    .avatar {
      top: 8px;
    }
  }
}