<div id="analytics-overview">
    <div id="widget-container" class="center">
        <pl-analytics-overview-widget class="icon-graph" id="analytics-widget-performance" data="data.overview.performance" href="/#/analytics/{{ video.videoID }}/performance"></pl-analytics-overview-widget>
        <pl-analytics-overview-widget class="icon-earth" id="analytics-widget-geographic" data="data.overview.geographic" href="/#/analytics/{{ video.videoID }}/geographic"></pl-analytics-overview-widget>
        <pl-analytics-overview-widget class="icon-user" id="analytics-widget-engagement" data="data.overview.engagement" href="/#/analytics/{{ video.videoID }}/engagement"></pl-analytics-overview-widget>
    </div>
</div>