<div id="analytics-overview">
    <div id="widget-container" class="center">
        <pl-analytics-overview-widget id="analytics-widget-performance" data="overview.data.performance" href="/#/analytics/{{ video.videoID }}/performance"></pl-analytics-overview-widget>
        <pl-analytics-overview-widget id="analytics-widget-geographic" data="overview.data.geographic" href="/#/analytics/{{ video.videoID }}/geographic"></pl-analytics-overview-widget>
        <pl-analytics-overview-widget id="analytics-widget-engagement" data="overview.data.engagement" href="/#/analytics/{{ video.videoID }}/engagement"></pl-analytics-overview-widget>
    </div>
</div>
