<div>
    <div class="analytics-panel analytics-panel-top">
        <svg id="geographic-map"></svg>
        <select id="geographic-region-chooser" ng-model="zoomedToUSA" ng-change="toggleUSAZoom()">
            <option value="{ true }">USA</option>
            <option value="{ false }">World</option>
        </select>
        <div id="geographic-map-data">
            <h3>Region: {{ !zoomedToUSA ? 'World' : 'USA' }}</h3>
            <h3>{{ zoomedToUSA ? 'State' : 'Country' }}: {{ areaData.name }}</h3>
            <div ng-repeat="field in fields | filter: { visible: true }">
                <span class="key-color" style="background-color: {{field.color}}"></span><span class="key-title" >{{ field.displayName }}</span>&nbsp;<span class="key-value">{{ areaData.metrics.video[field.field] }}</span>
            </div>
        </div>
    </div>
</div>
