
/* 	Tablet styles
/* ======================================= */

#wonder-wrapper {

	#wonder-poster {
		span {
			top: -46px;
			font-size: 40px;
			line-height: 57px;
			
			&:after {
				padding: 12px 0;
				font-size: 13px;
			}
		}
	}

	#wonder-controls {

		a {
			&.hidden {
				display: none;
			}

			&.wonder-play {
				width: 10%;
				max-width: 60px;
				height: 38px;
			}

			&.wonder-pause {
				width: 10%;
				max-width: 60px;
				height: 38px;
			}

			&.wonder-volume {
				left: auto;
				right: 33.5%;
			}

			&.wonder-rewind {
				left: 62px;
				top: 14px;
			}

			&.wonder-logo {
				right: 10%;
				left: auto;
				top: 0px;
				height: 37px;
				width: 20%;
				background-size: auto 55%;
			}

			&.wonder-fullscreen {
				right: 0px;
				top: 0px;
				width: 10%;
				max-width: 60px;
				height: 38px;
			}
		}
	
		span.wonder-timer {
			right: 32%;
			left: auto;
			padding-top: 16px;
			font-size: 13px;
			width: 10%;
			display: none;

		}

		// The wrappers for the scrubber bars
		.scrubber {
			&.vid {
				top: 15px;
				width: 48%;
				left: 10%;
			}
			&.vol {
				right: 33.5%;
			}	
		}

		.scrubber-target {
			&.vid {
				width: 52%;
				left: 8%;
			}
			&.vol {
				left: auto;
				right: 33.5%;
			}
		}

		&.volume-disabled {
			.scrubber {
				&.vid {
					width: 59%;
				}
			}
			.scrubber-target {
				&.vid {
					width: 65%;
				}
			}
		}

		&.ie10 {
			span.wonder-timer {
				right: 29%;
				left: auto;
				padding-top: 10px;
				font-size: 13px;
				width: 10%;
				display: block;
			}

			a.wonder-volume {
				right: 24%;
			}

			.scrubber {
				&.vol {
					right: 24%;
				}	
			}

			.scrubber-target {
				&.vol {
					right: 24%;
				}
			}
		}
	}
}
