<div class="profile-edit">
  <h3 class="error" ng-hide="form.valid">{{ form.errorMsg() }}</h3>

  <h2 class="profile-edit__name no-spacing input--field"
    medium-editor
    ng-class="{ 'error' : form.errors.name }"
    data-placeholder="{{ profile.name ? ' ' : 'name' }}"
    options="{ disableToolbar : true, forcePlainText : true, disableReturn : true }"
    ng-model="profile.display_name">
  </h2>

  <div class="profile-edit__description input--field"
    medium-editor
    ng-class="{ 'error' : form.errors.description }"
    data-placeholder="{{ profile.description ? ' ' : 'description' }}"
    options="{ disableToolbar : true, forcePlainText : true, disableReturn : true }"
    ng-model="profile.description">
  </div>

  <section class="profile-edit__extended">

  <label><span class="required">*</span> Job title:</label>
    <div class="profile-edit__job_title input--field"
      medium-editor
      me-required
      ng-class="{ 'error' : form.errors.title }"
      options="{ disableToolbar : true, forcePlainText : true, disableReturn : true }"
      ng-model="profile.title">
    </div>

  <label>Website or homepage:</label>
    <div class="profile-edit__website input--field"
      medium-editor
      ng-class="{ 'error' : form.errors.website }"
      data-placeholder="{{ profile.website ? ' ' : 'Link http://' }}"
      options="{ disableToolbar : true, forcePlainText : true, disableReturn : true }"
      ng-model="profile.website">
    </div>

  <label><span class="required">*</span> Share your location:</label>
    <!-- div class="profile-edit__location input--field"
      medium-editor
      me-required
      ng-class="{ 'error' : form.errors.location }"
      data-placeholder="{{ profile.location ? ' ' : 'Location (for example: London, UK)' }}"
      options="{ disableToolbar : true, forcePlainText : true, disableReturn : true }"
      ng-model="profile.location">
    </div -->
    <location-selector location="Home">
                </location-selector>

  <label>Show contact button:</label>
    <div class="profile-edit__contact-button toggle--field">
    <button ng-class="{'active' : profile.contactable }" ng-click="profile.contactable = true">Yes</button>
    <button ng-class="{'active' : !profile.contactable }" ng-click="profile.contactable = false">No</button>
  </div>
  <label><span class="required">*</span> Searchable terms:</label>
    <div class="profile-edit__search_terms lookup--field milli"
      medium-editor
      me-required
      ng-class="{ 'error' : form.errors.search_keywords }"
      data-placeholder="{{ profile.search_keywords ? ' ' : 'Make yourself searchable by adding relevant terms.' }}"
      options="{ disableToolbar : true, forcePlainText : true, disableReturn : true }"
      ng-model="profile.search_keywords">
    </div>
  </section>
</div>