<div class="profile-details">
	<h2 class="profile-details__name no-spacing" ng-bind="profile.display_name"></h2>

	<div ng-show="profile.title" class="profile-details__job-title" style="text-align: center;">{{ profile.title }}</div>

	<div class="profile-details__description" ng-bind-html="profile.description"></div>

	<ul class="profile-details__optional">
		<li class="profile-details__website"><a href="{{ profile.website_url }}" target="_new">{{ profile.website_url }}</a></li>
		<li ng-if="profile.location" class="profile-details__location">{{ findLocationName() }}</li>
	</ul>

    <profile-invite ng-if="!flags.isOwner && profile.contactable" data-profile="profile"></profile-invite>

	<p class="profile-details__legend f--sans" ng-if="connections">Collaborated with:</p>
	<ul class="profile-collaborators" ng-show="connections">
		<li ng-repeat="connection in connections">
			<a href="#/profile/{{ connection.user.id}}" class="profile-collaborators__link avatar"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" title="{{connection.user.display_name}}, {{connection.user.title}}" class="avatar__img" style="background-image: url({{connection.user.avatar}});">
			</a>
		</li>
	</ul>
</div>