<div class="profile-details">
	<h2 class="profile-details__name no-spacing" ng-bind="profile.display_name"></h2>
	
	<div ng-show="profile.title" class="profile-details__job-title" style="text-align: center;">{{ profile.jobTitle }}</div>

	<div class="profile-details__description" ng-bind-html="profile.description"></div>

	<ul class="profile-details__optional">
		<li class="profile-details__website" data-website="{{ profile.website }}"><a href="{{ profile.website }}">{{ profile.website }}</a></li>
		<li ng-if="profile.location" class="profile-details__location" data-location="{{ profile.location }}">{{ profile.location }}</li>
	</ul>

	<p class="profile-details__legend f--sans">Collaborated with:</p>
	<ul class="profile-collaborators" ng-show="collaborators">
		<li ng-repeat="user in collaborators">
			<a href="#/profile/{{ user.accountId}}" class="profile-collaborators__link avatar"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" title="{{user.display_name}}" class="avatar__img" style="background-image: url({{user.avatar}});">
			<span ng-if="flags.isOwner" class="profile-collaborators__remove">X</span>
			</a>
		</li>
	</ul>
</div>