/**
 * _components.sort-ui.scss
 */

.sort-ui {
  display: block;
  margin: 0;
  text-align: right;

  > li {
    display: inline-block;
    margin-bottom: $base-spacing-unit;
  }

  li + li {
    margin-left: $base-spacing-unit;
  }
}

.sort-ui__label {
  display: inline-block;
  font-weight: bold;
  font-family: $heading-font-family;
  @include font-size($base-font-size * 0.6666666666666666);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $base-color-ui;
}

.sort-ui__options {
  padding-right: $half-spacing-unit;
  font-weight: bold;
  font-family: $heading-font-family;
  @include font-size($base-font-size * 0.6666666666666666);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: transparent;
  background-image: url('/static/assets/img/select-bg.svg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 7px 6px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &:focus {
    outline: none;
  }
}