/**
 * _components.ratio.scss
 */
.ratio,
%ratio {
  position: relative;
  height: 0;

  > object,
  > embed,
  > iframe
  > .mov,
  > .img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  > .img,
  .ratio__src {
    @extend %img--full;
  }
}


.ratio--square,
%ratio--square { padding-bottom: 100%; }

.ratio--16x9,
%ratio--16x9 { padding-bottom: 56.25%; }

.ratio--3x2,
%ratio--3x2 { padding-bottom: 66.66666666666666% }

.ratio--graph {
  padding-bottom: 60.583395662%;
  margin-bottom: $base-spacing-unit;
}