/**
 * _components.avatars.scss
 */
// Define a set of avatar dimensions.
$avatar-dimensions:         66px;
$avatar-dimensions--tiny:   22px;
$avatar-dimensions--small:  33px;
$avatar-dimensions--large:  88px;
$avatar-dimensions--huge:   120px;


.avatar {
  display: block;
  width: $avatar-dimensions;
  height: $avatar-dimensions;
  overflow: hidden;
  margin-left: -($avatar-dimensions / 2);
  margin-bottom: $base-spacing-unit;
  position: relative;
  left: 50%;
  text-align: center;
  background-clip: padding-box;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.16),
              0 2px 12px 1px rgba(0,0,0,0.2);

  > .avatar__img {
    display: block;
    @extend %img--full;
    background-position: 50%;
  }


    /**
   * An icon can be included inside the avatar
   * to signify a status
   */
  > .icon {
    position: absolute;
    top: 100%;
    right:  0;
    z-index: 10;
    margin-top: -$icon-dimensions;
    border-radius: 100%;
  }

  > .icon--medium {
    margin-top: -$icon-dimensions--medium;
  }
  > .icon--large {
    margin-top: -$icon-dimensions--large;
  }
  > .icon--huge {
    margin-top: -$icon-dimensions--huge;
  }
  > .icon--natural {
    margin-top: -$icon-dimensions--natural;
  }
}


/**
 * Avatar size modifiers
 */
.avatar--tiny {
  width: $avatar-dimensions--tiny;
  height: $avatar-dimensions--tiny;
}
.avatar--small {
  width: $avatar-dimensions--small;
  height: $avatar-dimensions--small;
}
.avatar--large {
  width: $avatar-dimensions--large;
  height: $avatar-dimensions--large; 
}
.avatar--huge {
  width: $avatar-dimensions--huge;
  height: $avatar-dimensions--huge;
}


/**
 * When centering an avatar, we need half of it's dimensions.
 * This is where we use the variables for ease of use.
 */
.avatar--center {
  margin-left: -($avatar-dimensions / 2);
  left: 50%;

  &.avatar--tiny {
    margin-left: -($avatar-dimensions--tiny / 2);
  }
  
  &.avatar--small {
    margin-left: -($avatar-dimensions--small / 2);
  }
  
  &.avatar--large {
    margin-left: -($avatar-dimensions--large / 2);
  }
  
  &.avatar--huge {
    margin-left: -($avatar-dimensions--huge / 2); 
  }
}