/**
 * _components.truncate-text.scss
*/
.trunc {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.trunc--two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: $base-line-height * 2;
  white-space: normal;
  -webkit-line-clamp: 2;
}
.trunc--three {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: $base-line-height * 3;
  white-space: normal;
  -webkit-line-clamp: 3;
}
.trunc--four {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: $base-line-height * 4;
  white-space: normal;
  webkit-line-clamp: 4;
}