/**
 * _components.data-box.scss
 */
.data-box {
  font-family: "FreightSans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #2e2e32;
  border-radius: 3px;
}