.video-player {
  max-width: 300px;
  margin: 0 auto 40px;
  height: 350px;
  position: relative;
  margin-top: 600px; // temporary to push below all the crap
}

// add class to iframe if possible
.video-player__frame {
  position: absolute;
  top: 0;
  left: 0;
}