<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ config.ASSETS_URL }}/root/favicon.ico">
    <title>{% block title %}Romeo{% endblock %}</title>
    {% block headjs %}
    {#
    {% assets filters="cssmin", output="gen/base.%(version)s.css",
      "assets-old/vendor/bootstrap/css/bootstrap.css",
      "assets-old/vendor/bootstrap/css/bootstrap-theme.css",
      "assets-old/css/base.css"
     %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    #}
    {% endblock %}
  </head>

  <body>

    {% block header %}
    {% endblock %}

    {% block messages %}
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, m in messages %}
            {% if category %}
            <div class="alert alert-{{ category }}">
            {% else %}
            <div class="alert">
            {% endif %}
              <a href="#" class="close" data-dismiss="alert">x</a>
              {{ m }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock %}

    {% block content %}
    <div class="container">

      <div class="intro">
        <h1>Welcome to Romeo</h1>
        <p class="lead">Stuff goes here.</p>
      </div>

    </div>
    {% endblock %}

    {% block bottomjs %}
    {#
    {% assets filters="rjsmin", output="gen/base.%(version)s.js",
      "assets-old/vendor/bootstrap/js/bootstrap.js"
     %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    #}
    {% endblock %}
  </body>
</html>
