<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}Romeo{% endblock %}</title>

    <script type="text/javascript" src="//use.typekit.net/ftv4doz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% assets filters="cssmin", output="gen/app.%(version)s.css",
      "assets/vendor/css/nv.d3.min.css",
      "assets/vendor/css/ng-grid.min.css",
      "assets/css/app.css"
    %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

</head>
<body ng-app="{% block appName %}RomeoApp{% endblock %}" ng-controller="MainCtrl">
    
    <div id="wrapper">
    {% block content %}
    {% endblock %}
    </div>

    <div id="aside">
        <ul>
            <li><a href="/#/library/"><span class="icon-home"></span>Manage my videos</a></li>
            <li><a href="/#/upload/"><span class="icon-upload2"></span>Upload a new video</a></li>
            <li><a href="/#/account/"><span class="icon-user2"></span>Logged in as Dave</a></li>
        </ul>
    </div>
    {% block vendorjs %}
    {# assets filters="rjsmin", output="gen/vendor.%(version)s.js",
        "assets/vendor/js/d3.js",
        "assets/vendor/js/nv.d3.js",
        "assets/vendor/js/topojson.js",
        "assets/vendor/js/lodash.js",
        "assets/vendor/js/angular/angular.js",
        "assets/vendor/js/angular/angular-route.js",
        "assets/vendor/js/moment.js"
    #}
    <!--<script src="{{ ASSET_URL }}"></script>-->
    {# endassets #}
    {% endblock %}

    {% block appjs %}
    {# assets filters="rjsmin", output="gen/app.%(version)s.js",
        "assets/scripts/app.js",
        "assets/scripts/services/services.js",
        "assets/scripts/controllers/controllers.js",
        "assets/scripts/filters/filters.js",
        "assets/scripts/directives/directives.js",
        "assets/scripts/directives/analytics.js"
    #}
    <!--<script src="{{ ASSET_URL }}"></script>-->
    {# endassets #}
    {% endblock %}

    {% block viewsjs %}
    {# assets filters="rjsmin", output="gen/views.%(version)s.js",
        "assets/scripts/views.js"
    #}
    <!--<script src="{{ ASSET_URL }}"></script>-->
    {# endassets #}
    {% endblock %}
    
    <script src="/static/assets/vendor/js/d3.js"></script>
    <script src="/static/assets/vendor/js/nv.d3.js"></script>
    <script src="/static/assets/vendor/js/topojson.js"></script>
    <script src="/static/assets/vendor/js/lodash.js"></script>
    <script src="/static/assets/vendor/js/angular/angular.js"></script>
    <script src="/static/assets/vendor/js/angular/angular-route.js"></script>
    <script src="/static/assets/vendor/js/angular/angular-cookies.js"></script>
    <script src="/static/assets/vendor/js/angular/angular-localstorage.js"></script>
    <script src="/static/assets/vendor/js/moment.js"></script>

    <script src="/static/assets/scripts/app.js"></script>
    <script src="/static/assets/scripts/services/services.js"></script>
    <script src="/static/assets/scripts/controllers/controllers.js"></script>
    <script src="/static/assets/scripts/filters/filters.js"></script>
    <script src="/static/assets/scripts/directives/directives.js"></script>
    <script src="/static/assets/scripts/directives/analytics.js"></script>

    <script src="/static/assets/scripts/views.js"></script>
    
</body>
</html>
