<section class="add-collaborator">

  <header class="video-extended-controls__section-header" ng-click="addSearchTermsShow = !addSearchTermsShow">
    <h4 class="video-extended-controls__section-header-title" title="">
      Search terms &amp; Video SEO
    </h4>
  </header>

  <section class="video-add-collaborators">
    <p>Add words and phrases to make your video easier to find</p>
    <input type="hidden" ui-select2="select2Options" ng-model="video.search_keywords" />
  </section>

</section>

