<section class="video-player-config color-picker">
  <input color-picker ng-model="color" class="video-player-config__color-input" />
  <label class="video-player-config__hide-logo-label">
    Hide logo
    <input type="checkbox" ng-model="hideLogo" class="video-player-config__hide-logo-checkbox" ng-change="toggleHideLogo()" />
  </label>
  <label>
    Show buy button
    <input type="checkbox" class="video-player-config__hide-logo-checkbox" />
  <label>
  <label>
    Show description button
    <input type="checkbox" class="video-player-config__hide-logo-checkbox" />
  <label>
</section>
