<section class="video-comments-control video-comments-control--{{ $root.commentsPosition }}">

  <ul>
    <li class="video-comments-control__option">
      <a class="btn btn--utility  icon-text" ng-click="reposition('mirror')">left</a>
    </li>
    <li class="video-comments-control__option">
      <a class="btn btn--utility  icon-text" ng-click="reposition('default')">bottom</a>
    </li>
    <li class="video-comments-control__option">
      <a class="btn btn--utility  icon-text" ng-click="reposition('wide')">right</a>
    </li>
  </ul>

</section>