<section class="sub-navigation video-view-control-panel sub-navigation--{{ isComments ? $root.layoutMode : 'column' }}">
  <div class="wrapper">
    <ul class="sub-navigation__modes">
      <li class="sub-navigation__mode  f--left">
        <video-download video-id="videoId" ng-show="videoId && videoStatus==='published'"></video-download>
      </li>
      <li class="sub-navigation__mode  f--left">
        <a class="btn  btn--utility  icon-text"><i class="icon  icon--paper-stack  icon-text__icon"></i>Copy video to my account</a>
      </li>
      <li class="sub-navigation__mode" ng-show="isEdit">
        <a class="sub-navigation__link btn  btn--utility  icon-text" ng-click="save()">
          <i class="icon  icon--check  icon-text__icon"></i>
          Save Changes
        </a>
      </li>
      <li class="sub-navigation__mode" ng-show="isEdit">
        <a class="sub-navigation__link btn  btn--utility  icon-text" ng-click="cancel()">
          <i class="icon  icon--cross  icon-text__icon"></i>
          Cancel
        </a>
      </li>
      <li class="sub-navigation__mode" ng-hide="isEdit || !isOwner"> <!-- ng-show="video.status=='published'" -->
        <a
          class="sub-navigation__link btn  btn--utility icon-text"
          ng-click="displaySection('edit')">
          <i class="icon  icon--edit  icon-text__icon"></i>
          Edit
        </a>
      </li>
      <li class="sub-navigation__mode" ng-hide="isEdit">
        <a
          class="sub-navigation__link btn  btn--utility icon-text"
          ng-click="displaySection('')"
          ng-class="{ 'sub-navigation__link--active' : isReview }">
          <i class="icon  icon--eye  icon-text__icon"></i>
          Publish
        </a>
      </li>
      <li class="sub-navigation__mode" ng-hide="isEdit">
        <a
          class="sub-navigation__link btn  btn--utility icon-text"
          ng-click="displaySection('comments')"
          ng-class="{ 'sub-navigation__link--active' : isComments }">
          <i class="icon  icon--speech-bubble  icon-text__icon"></i>
          Collaborate
        </a>
      </li>
    </ul>
  </div>
</section>