<section class="video-share">
  <div class="btn-center  btn-group">
    <a href="" class="btn  btn--small" ng-class="{ 'btn--disabled' : !hasTags || hasTags === 'false' }" ng-click="showEmbedCode = !showEmbedCode">
      <i class="icon  icon--medium  icon--code"></i>
    </a>
    <a href="" class="btn  btn--small" ng-class="{ 'btn--disabled' : !hasTags || hasTags === 'false' }" ng-click="shareTwitter()">
      <i class="icon  icon--medium  icon--twitter"></i>
    </a>
    <a href="" class="btn  btn--small" ng-class="{ 'btn--disabled' : !hasTags || hasTags === 'false' }" ng-click="shareFacebook()">
      <i class="icon  icon--medium  icon--facebook" ></i>
    </a>
  </div>
  <section class="video-share__embed-code-container"
    ng-class="{ 'video-share__embed-code-container--active' : showEmbedCode }">
  <label class="video-share__embed-code-label">
    <input class="video-share__embed-code-field" placeholder="embed link" ng-model="embedCode.html" />
  </label>

  </section>
</section>