<section class="video-extended-controls" ng-show="flags.isEdit">
  <section class="video-extended-controls__section" ng-class="{ 'video-extended-controls__section--expanded' : addCollectionShow }">
    <i class="icon  icon--medium  icon--plus  section-drawer__icon" ng-click="showHideCollectionExtended()" ng-hide="addCollectionShow"></i>
    <i class="icon  icon--medium  icon--minus  section-drawer__icon" ng-click="showHideCollectionExtended()" ng-show="addCollectionShow"></i>
    <collection-add-video available-tags="tags"
      video="video"
      show-collection="addCollectionShow"
      class="video-extended-controls__section-contents">
    </collection-add-video>
    <span class="btn  btn--small  btn--positive  f--right" ng-click="save(); addCollectionShow = !addCollectionShow">Done</span>
  </section>

  <section class="video-extended-controls__section" ng-class="{ 'video-extended-controls__section--expanded' : addCollaboratorShow }">
    <i class="icon  icon--medium  icon--plus  section-drawer__icon" ng-click="addCollaboratorShow = !addCollaboratorShow" ng-hide="addCollaboratorShow"></i>
    <i class="icon  icon--medium  icon--minus  section-drawer__icon" ng-click="addCollaboratorShow = !addCollaboratorShow" ng-show="addCollaboratorShow"></i>
    <add-collaborator class="video-extended-controls__section-contents"
      video="video"
      add-collaborator-show="addCollaboratorShow"
      flags="flags">
    </add-collaborator>
  </section>

  <section class="video-extended-controls__section" ng-class="{ 'video-extended-controls__section--expanded' : addSearchTermsShow }">
    <i class="icon  icon--medium  icon--plus  section-drawer__icon" ng-click="addSearchTermsShow = !addSearchTermsShow" ng-hide="addSearchTermsShow"></i>
    <i class="icon  icon--medium  icon--minus  section-drawer__icon" ng-click="addSearchTermsShow = !addSearchTermsShow" ng-show="addSearchTermsShow"></i>
    <video-search-terms class="video-extended-controls__section-contents"
      video="video"
      add-search-terms-show="addSearchTermsShow"
      flags="flags">
    </add-collaborator>
  </section>
</section>