<section class="video-extended-controls" ng-show="isEdit">
  <section class="video-extended-controls__section" ng-class="{ 'video-extended-controls__section--expanded' : addCategoryShow }">
    <i class="icon  icon--medium  icon--plus  section-drawer__icon" ng-click="addCategoryShow = !addCategoryShow" ng-hide="addCategoryShow"></i>
    <!--<span class="video-extended-controls__indicator video-extended-controls__indicator--more"
      ng-click="addCategoryShow = !addCategoryShow"
      ng-hide="addCategoryShow">
      +
    </span>-->
    <i class="icon  icon--medium  icon--minus  section-drawer__icon" ng-click="addCategoryShow = !addCategoryShow" ng-show="addCategoryShow"></i>
    <!--<span class="video-extended-controls__indicator video-extended-controls__indicator--less"
      ng-click="addCategoryShow = !addCategoryShow"
      ng-show="addCategoryShow">
      -
    </span>-->
    <category-add-video selected-category="video.category"
      show-category="addCategoryShow"
      class="video-extended-controls__section-contents">
    </category-add-video>
    <span class="button button--primary" ng-click="save(); addCategoryShow = !addCategoryShow">Done</span>
  </section>

  <section class="video-extended-controls__section"
    ng-class="{ 'video-extended-controls__section--expanded' : addCollectionShow }">
    <i class="icon  icon--medium  icon--plus  section-drawer__icon" ng-click="addCollectionShow = !addCollectionShow" ng-hide="addCollectionShow"></i>
    <!--<span class="video-extended-controls__indicator video-extended-controls__indicator--more"
      ng-click="addCollectionShow = !addCollectionShow"
      ng-hide="addCollectionShow">
      +
    </span>-->
    <i class="icon  icon--medium  icon--minus  section-drawer__icon" ng-click="addCollectionShow = !addCollectionShow" ng-show="addCollectionShow"></i>
    <!--<span class="video-extended-controls__indicator video-extended-controls__indicator--less"
      ng-click="addCollectionShow = !addCollectionShow"
      ng-show="addCollectionShow">
      -
    </span>-->
    <collection-add-video available-tags="tags"
      video="video"
      show-collection="addCollectionShow"
      class="video-extended-controls__section-contents">
    </collection-add-video>
    <span class="button button--primary" ng-click="save(); addCollectionShow = !addCollectionShow">Done</span>
  </section>

  <section class="video-extended-controls__section" ng-class="{ 'video-extended-controls__section--expanded' : addCollaboratorShow }">
    <i class="icon  icon--medium  icon--plus  section-drawer__icon" ng-click="addCollaboratorShow = !addCollaboratorShow" ng-hide="addCollaboratorShow"></i>
    <!--<span class="video-extended-controls__indicator video-extended-controls__indicator--more"
      ng-click="addCollaboratorShow = !addCollaboratorShow"
      ng-hide="addCollaboratorShow">
      +
    </span>-->
    <i class="icon  icon--medium  icon--minus  section-drawer__icon" ng-click="addCollaboratorShow = !addCollaboratorShow" ng-show="addCollaboratorShow"></i>
    <!--<span class="video-extended-controls__indicator video-extended-controls__indicator--less"
      ng-click="addCollaboratorShow = !addCollaboratorShow"
      ng-show="addCollaboratorShow">
      -
    </span>-->
    <add-collaborator class="video-extended-controls__section-contents"
      show-collaborator="addCollaboratorShow">
    </add-collaborator>
  </section>
</section>