<section class="video-more">

  <a class="video-more__link btn"
    ng-click="(showMoreLinkConfigPanel = !showMoreLinkConfigPanel)"
    ng-show="isEdit"
    title="You can add a button, which will appear under your video in the Wonder App that takes you to any website.&#013;&#013;Simply add the text for the button (up-to 30 characters) and type in the URL you want to go to.">
    {{ text ? text : 'Add a link (optional) &hellip;' }}
  </a>

  <a class="video-more__link btn  btn--positive" href="{{ url }}" ng-hide="isEdit">{{ text }}</a>

  <section class="video-more__form" ng-class="{ 'video-more__form--active' : showMoreLinkConfigPanel }" ng-show="isEdit">

    <section class="video-more__controls-container">

      <form name="videoMoreLink" ng-submit="videoMoreLink.$valid && save(); isSubmitted = true">

        <label class="video-more__label video-more__label--text">
          <input class="video-more__input video-more__input--short"
            name="linkText"
            ng-model="text"
            placeholder="Custom text&hellip;"
            required
            ng-maxlength="30" />
          <span class="video-more__character-count"
            ng-bind="remaining"></span>
        </label>

        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.linkText.$error.required">Enter text</span>
        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.linkText.$error.maxlength">Too many characters</span>

        <label class="video-more__label video-more__label--link">
          <input class="video-more__input"
            name="linkUrl"
            ng-model="url"
            required
            placeholder="Link URL" />
        </label>

        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.linkUrl.$error.pattern">Incorrect format: http://&hellip;</span>
        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.linkUrl.$error.required">Enter URL</span>

        <p class="video-more__hint"><strong>Hint:</strong> Drive traffic to your website by adding a link</p>

        <input class="btn  btn--small  btn--positive" type="submit" value="Okay" />

      </form>

    </section>

  </section>

</section>