<section class="video-preview" ng-class="{ 'video-preview--invert' : invertPreviewSelector }">

  <iframe ng-hide="videoHasLoaded" class="video-preview__frame" src="/embed/88888888/?controls=1"></iframe>

  <a class="video-thumbnail__option video-thumbnail__option--select" ng-class="{ 'video-thumbnail__option--disabled' : video.status !== 'ready' }" ng-hide="showThumbnailSelector" ng-click="(video.status !== 'ready') || selectThumbnail()">Pick a generated thumbnail</a>

  <section class="video-thumbnail__option video-thumbnail__option--upload" ng-hide="showThumbnailSelector" ng-file-drop="onPreviewImageSelect($files)" ng-file-select="onPreviewImageSelect($files)">
    <p>Choose your own thumbnail</p>
    <input type="file" ng-file-select="onPreviewImageSelect($files)" />
    <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
  </section>

  <section class="video-thumbnail__option video-preview__option--cancel"
    ng-hide="showThumbnailSelector"
    ng-class="{ 'video-preview__option--disabled' : !videoHasLoaded }"
    ng-click="!videoHasLoaded || closePreviewSelector()">
    <p ng-hide="!videoHasLoaded">Cancel</p>
  </section>

  <section class="video-thumbnail__selector" ng-show="showThumbnailSelector">
    <a class="video-preview__close-link" ng-click="closePreviewSelector()">×</a>
    <section class="video-preview__images-container">
      <ul class="video-preview__available-images js-preview-images" style="width: {{ previewImages.length * 500 }}px" ng-style="indexOffset">
        <li class="video-preview__available-image-container {{ $index }}"
          ng-class="{ 'video-preview__available-image-container--active' : previewIndex === $index }"
          ng-repeat="preview in previewImages">
          <img class="video-preview__available-image"
            ng-class="{ 'video-preview__available-image--active' : previewIndex === $index }"
            ng-src="{{ preview.url }}"
            ng-click="updateIndex($index)" />
        </li>
      </ul>
    </section>

    <section class="video-thumbnail__select-controls">
      <a class="video-preview__select-control video-preview__previous-image-link inline-space-fix" ng-click="previewIndex = previewIndex - 1">&lt;</a>
      <span class="video-preview__select-control video-preview__preview-index inline-space-fix">{{ previewIndex + 1 }}/{{ previewImages.length }}</span>
      <a class="video-preview__select-control video-preview__next-image-link inline-space-fix" ng-click="previewIndex = previewIndex + 1">&gt;</a>

      <a class="video-thumbnail__select-link button button--primary button--wide" ng-click="setBackground()">Ok</a>
    </section>

  </section>

</section>