<section class="video-frame-stepper">

  <ul>
    <li class="inline-space-fix video-frame-stepper__block">
      <a class="button button__component button__component--left" ng-click="step(-1)">&lt;</a>
    </li>
    <li class="inline-space-fix video-frame-stepper__block">
      <div class="button button__component button button__component--input-container">
        <input class="video-frame-stepper__input" ng-model="videoTime" />
      </div>
    </li>
    <li class="inline-space-fix video-frame-stepper__block">
      <a class="button button__component button__component--right" ng-click="step(1)">&gt;</a>
    </li>
  </ul>

</section>