.configurable-layout {
  list-style: none;
  margin-left: 0;
  padding-bottom: 48px;
  position: relative;
  @extend .cf;
}

.configurable-layout-column {

  .layout-block {
    max-width: 63em;
    margin-right: auto;
    margin-left:  auto;
    padding-right: $base-spacing-unit;
    padding-left:  $base-spacing-unit;
    @extend .cf;
  }
  .layout-block--group {
    padding: 0;
  }
}

.configurable-layout-column--is-comments {
  .video-view__title {
    font-size: 18px;
    line-height: 1.5;
  }
  .layout-block-primary--column {

    .video-view {
      padding-right: 12.5%;
      padding-left:  12.5%;
    }
  }

  .layout-block-secondary--column {

    .video-view__comments {
      padding-right: 12.5%;
      padding-left:  12.5%;
    }
  }
}

.configurable-layout-mirror,
.configurable-layout-wide {
  margin-left: -$base-spacing-unit;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;

  > .layout-block {
    padding-left: $base-spacing-unit;
  }
}  

.configurable-layout-mirror,
.configurable-layout-wide {

  > .layout-block {
    //width: 50%;
    float: left;
  }  
}

.configurable-layout-mirror,
.configurable-layout-wide {

  >.layout-block__quaternary {
    width: 33.3333%;
  }
  .layout-block--group {
    width: 66.6666%;
  }
}

.configurable-layout-mirror {

  > .layout-block--group {

    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 100%;
      background-color: lighten($swatch-two, 10%);
      position: absolute;
      margin-left: -16px;
    }
  }
}
.configurable-layout-wide {

  > .layout-block__quaternary {
    float: right;

    &:before {
      content: "";
      display: block;
      width: 8px;
      height: 100%;
      background-color: lighten($swatch-two, 10%);
      position: absolute;
      margin-left: -16px;
    }
  }
}