.configurable-layout {
  @extend .cf;
  padding-bottom: 100px;
  position: relative;
}

.configurable-layout--mirror {
  text-align: right;
}

.layout-block {
  max-width: 960px;
}

.layout-block--narrow {
  padding: 0 20%;
}

.layout-block-primary--column {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.layout-block-secondary--column {

}

.layout-block-primary--wide {
  width: 49%;
  display: inline-block;
  padding: 0 10%;
  vertical-align: top;
}

.layout-block-secondary--wide {
  width: 49%;
  display: inline-block;
  padding: 0 10%;
  float: left;
}

.layout-block-tertiary--wide {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding: 0 12px;
  position: absolute;
  top: 48px;
  right: 12px;
}

.layout-block-primary--mirror {
  width: 49%;
  padding: 0 10%;
  float:right;
  clear: right;
}

.layout-block-secondary--mirror {
  width: 49%;
  padding: 0 10%;
  float: right;
  clear: right;
}

.layout-block-tertiary--mirror {
  width: 49%;
  padding: 0 12px;
  position: absolute;
  left: 0;
}



