.layout-control {
  display: block;
  width: 100%;
  padding-top:    6px;
  padding-bottom: 6px;
  position: fixed;
  bottom: 0;
  left:   0;
  z-index: 20;
  text-align: right;
  background: $swatch-one;
  background-clip: padding-box;
  border-top: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.05);
}

.layout-control--column {

  .btn-group {
    .btn:nth-child(2n) {
      @extend .btn--active;
    }
  }
}
.layout-control--wide {

  .btn-group {

    .btn:last-of-type {
      @extend .btn--active;
    }
  }
}
.layout-control--mirror {

  .btn-group {

    .btn:first-of-type {
      @extend .btn--active;
    }
  }  
}

.layout-control__option {
  display: inline-block;
}