.video-feedback {
  margin: 48px 0 0;
  display: block;
  transition: all 0.4s;
}

.video-feedback__comments-list {
  max-height: 500px;
  overflow-y: scroll;
  padding-bottom: 500px;
  position: relative;
}

.video-feedback--column {
  width: 75%;
  float: left;
}

.video-feedback__input-container {
}

.video-feedback__form {
  text-align: right;
  transition: max-height 0.4s linear;
  max-height: 8em;
  overflow: hidden;
  border-bottom: solid 1px $light-grey;
}

.video-feedback__form--active {
  max-height: 100em;
}

.video-feedback__input {
  text-align: left;
  border: 0 none;
  resize: none;
  transition: height 0.4s ease-in-out;
  height: 48px;
  font-size: 1em;
  width: 100%;
}

.video-feedback__input--active {
  height: 100px;
}

.video-feedback__comments {
  margin: 20px 0;
  transition: all 1s ease-in-out;
  position: relative;
  text-align: left;
}

.video-feedback__comment {
  transition: opacity 0.4s linear;
  margin: 1em 0;
  position: relative;
  clear: both;
  text-align: left;
}

.video-feedback__comment-details {
  display: block;
  padding-top: 0.5em;
  min-height: 0.5em;
}

.video-feedback__comment-resolved {
  font-size: 0.8em;
  padding: 0.5em;
  color: $white;
  background: $black;
  display: inline-block;
  transition: opacity 0.4s;
  opacity: 0;
}

.video-feedback__comment-resolved--active {
  opacity: 1;
}

.video-feedback__comment--resolved {
  opacity: 0.4;
}

.video-feedback__comment-content {
  margin-top: 0.5em;
}

.video-feedback__comment-timestamp {
  display: block;
  float: left;
}

.video-feedback__comment-profile-image {
  display: inline-block;
  height: 66px;
  width: 66px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.video-feedback__comment-text {
  margin-left: 140px;
  margin-bottom: 3em;
}

.video-feedback__comment-name {
  font-weight: 800;
  margin-right: 1em;
}

.video-feedback__comment-time-posted {
  font-size: 0.8em;
  color: $grey;
  margin-right: 1em;
}

.video-feedback__comment--hover {
  background-color: #ffefef;
}

.video-feedback__comment-message {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  margin-bottom: 10px;
}

.video-feedback__comment-time {
  display: inline-block;
  width: 40px;
  font-size: small;
}

.video-feedback__comment-time:hover {
  cursor: pointer;
}

.video-feedback__comment-author {
  margin-left: 45px;
  color: $grey;
  font-style: italic;
  font-size: small;
  text-transform: lowercase;
  font-variant: small-caps;
}

.video-feedback__comment-date {
  color: $light-grey;
  font-style: italic;
  font-size: small;
  text-transform: lowercase;
}

.video-feedback__comment-author:after {
  content: ',';
}

.video-feedback__resolve-link {
  position: absolute;
  bottom: 12px;
  right: 4em;
  cursor: pointer;
  color: $dark-green;
}

.video-feedback__resolve-link:hover {
  text-decoration: underline;
}

.video-feedback__reply-link {
  position: absolute;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  color: $dark-green;
}

.video-feedback__reply-link:hover {
  text-decoration: underline;
}

.video-feedback__comment-timestamp-link {
  color: $dark-green;
  cursor: pointer;
}

.video-feedback__comment-timestamp-link:hover {
  text-decoration: underline;
}

.video-feedback__notify {
  text-align: center;
}

.video-feedback__button {

}

.video-feedback__comment-controls {
  padding-top: 1em;
  position: relative;
}

.video-feedback__comments-filters {
  @include vendor(appearance, none);
  font-size: 1em;
  padding-left: 1em;
  padding-right: 2em;
}

.video-feedback__comments-filter-label {
  font-variant: small-caps;
  color: $grey;
  text-transform: lowercase;
}







