.video-add-collaborators {
  margin-bottom: 12px;
}

.video-add-collaborators__messages {
  margin-bottom: 12px;
}

.video-add-collaborators__message--error {
  font-weight: 800;
  color: $red;
}

.video-add-collaborators__label {
  display: block;
  margin-bottom: 1em;
  font-variant: small-caps;
  font-weight: 600;
  font-family: $heading-font-family;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.video-add-collaborators__label--inline {
  display: inline;
  margin-right: 1em;
  font-weight: normal;
  font-family: $heading-font-family;
  letter-spacing: 0;
}

.video-add-collaborators__input {
  display: block;
  width: 20em;
  font-weight: normal;
  font-size: 1em;
  font-family: $heading-font-family;
  font-variant: normal;
  text-transform: normal;
  letter-spacing: 0;
  padding: 0.3em;
}