.video-view {

}
.video-view__avatar {
  margin-top: $base-spacing-unit;
  font-family: $heading-font-family;
  font-size: 24px;
  font-weight: 600;
}
.video-view__title {
  margin-bottom: $half-spacing-unit;
  margin-top: $base-spacing-unit;
  font-family: $heading-font-family;
  font-size: 48px;
  line-height: 58px;
  color: $swatch-three;
}

.video-view__sub-title {
  font-weight: 200;
  font-size: 38px;
  line-height: 46px;
  font-family: $heading-font-family;
  color: $swatch-three;
}

.video-view__title--small {
  font-size: 2em;
  line-height: 1.5;
}

.video-view__comments {
  padding-left: $half-spacing-unit;
  position: relative;
  vertical-align: top;
}

.video-view__download {
  text-align: center;
  margin-bottom: 48px;
}

.video-view__edit {
  display: none;
  position: relative;
}

.video-view__edit--active {
  display: block;
}

.video-view__container {
  @extend %ratio--16x9;
  position: relative;
  width: 100%;
  max-height: 540px;
  margin-bottom: 24px;
}

.video-view__container--fixed {
  height: 540px;
}

.video-view__save-controls {
  margin-bottom: $base-spacing-unit;
  text-align: center;
}

.video-view__description {
  width: 600px;
  margin: 0 auto $base-spacing-unit;
  overflow: auto;
}

.video-view__description--edit {
  border-bottom: solid 1px $grey;
  min-height: 10em;
}

.video-view__owner {
  text-align: center;
  vertical-align: middle;

  a {
    color: #000;
    text-decoration: none;
    border-bottom: 0;
    text-align: center;
  }

  .video-view__avatar {
    position: static;
    display: inline;
    vertical-align: middle;
    margin: 0 $half-spacing-unit $half-spacing-unit 0;
  }
}