.video-extended-controls {

  border-top: solid 1px lighten($grey,30%);
  margin-bottom: 1.5em;
}

.video-extended-controls__section {
  border-bottom: solid 1px lighten($grey,30%);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: relative;
  transition: max-height 0.4s ease-in-out;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  //@extend .enable-hardware-acceleration;
  max-height: 4.5em; /* 72*/
  overflow: hidden;
}

.video-extended-controls__section--expanded {
  max-height: 500em;
}

.video-extended-controls__indicator {
  user-select: none;
  //@extend .no-selection;
  display: block;
  padding-top: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 1em;
  cursor: pointer;
  font-size: 2.5em;
  line-height: 1.2em;
  color: $light-grey;
}

.video-extended-controls__indicator--more {

}

.video-extended-controls__indicator--less {

}

.video-extended-controls__section-contents {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

.video-extended-controls__section-header {
  font-family: $heading-font-family;
  color: $swatch-three;
  cursor: pointer;
  margin-bottom: 24px;
}

.video-extended-controls__section-header-title {
  display: inline-block;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0;
}

.collection-add-video--modal {
  margin: 12px;
}
.video-extended-controls .icon {
  pointer-events: auto;
}
