.video-edit-collections {
  position: relative;
}

.video-edit-collections__options {
  max-width: 704px;
  margin: 0 auto;
  left: 130px;
}
.modal__content {

  .video-edit-collections__options {
    max-width: 496px;
  }
}

.video-edit-collections__option {
  display: inline-block;
  width: 344px;
  min-height: 112px;
  padding: 30px 0 30px 120px;
  border: solid 2px transparent;
  border-radius: 3px;
  margin-bottom: $half-spacing-unit;
  vertical-align: top;
  background: url('/static/assets/img/video-collection__tag.png') 10px 0 no-repeat transparent;

  &:nth-child(even) {
    margin-left: $half-spacing-unit;
  }
}
.video-edit-collections__option--private {
  background-image: url('/static/assets/img/video-collection__tag--private.png');
}


.video-edit-collections__option--modal {
  width: 230px;
  margin-right: 12px;
}
.video-edit-collections__option-create--modal {
  display: none; /* TODO fix after beta release */
}

.video-edit-collections__option--selected,
.video-edit-collections__option--selected:hover,
.video-edit-collections__option:hover.video-edit-collections__option--selected {
  background-image: url('/static/assets/img/video-collection__tag--selected.png');
  background-position: 10px 0;
  background-repeat: no-repeat;
  background-color: $swatch-five !important;
  color: $white !important;

  .video-edit-collections__option-title,
  .video-edit-collections__option-count {
    color: $swatch-one;
  }
}

.video-edit-collections__option--selected.video-edit-collections__option--private,
.video-edit-collections__option--selected:hover.video-edit-collections__option--private {
  background-image: url('/static/assets/img/video-collection__tag--private--selected.png');
  background-position: 10px 0;
  background-repeat: no-repeat;
}

.video-edit-collections__option-title {
  display: block;
  font-weight: 600;
  font-family: $heading-font-family;
  color: $swatch-three;
}

.video-edit-collections__option-count {
  display: block;
  font-family: $heading-font-family;
  color: $swatch-two;
}

.video-edit-collections__option:hover {
  cursor: pointer;
  border-color: $dark-green;
  background-image: url('/static/assets/img/video-collection__tag--active.png');
  color: $black;
}

.video-edit-collections__option--private:hover {
  background-image: url('/static/assets/img/video-collection__tag--private--active.png');
}

.video-edit-collections__assigned-tag {
  color: $grey;
}

.video-edit-collections__assigned-tag-title {

}

.video-edit-collections__remove-tag {
  font-weight: 800;
  color: $red;
  text-shadow: 0 0 2px $shadow-red;
  padding: 1em 2em 0 0;
}


.video-edit-collections__assigned-tags {
  display: inline-block;
}

.modal__title {

  .video-edit-collections__assigned-tags {
    margin: 0;
    float: left;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    padding-top: 8px;
    margin-left: 12px;
  }
}

.video-edit-collections__assigned-tag {
  display: inline-block;

  & + & {
    margin-left: $half-spacing-unit;
  }
}
.video-edit-collections__remove-tag {
  cursor: pointer;
  padding-right: $half-spacing-unit / 2;
  padding-left:  $half-spacing-unit / 2;
}