.video-share {
  width: 100%;
  padding: 24px 0;
  text-align: center;
}

.video-share__controls {
  margin-bottom: $base-spacing-unit;
}

.video-share__control {
  display: inline-block;
}

.video-share__control--disabled {
  pointer-events: none;
  opacity: 0.3;
}

.video-share__link {
  padding: 0.5em;
  background-repeat: no-repeat;
  background-position: center;
}

// .video-share__link--embed {
// background-image: url('/static/assets/img/video-share__icon-embed.png');
// }
// 
// .video-share__link--twitter {
// background-image: url('/static/assets/img/video-share__icon-twitter.png');
// }
// 
// .video-share__link--facebook {
// background-image: url('/static/assets/img/video-share__icon-facebook.png');
// }

.video-share__embed-code-container {
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.video-share__embed-code-container--active {
  max-height: 100em;
  overflow: visible;
}

.video-share__embed-code-label {
  display: inline-block;
  padding: $half-spacing-unit;
  position: relative;
  background-color: #fff;
  background-clip: content-box;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.12);

  &:before,
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 42.6%;
    border: solid transparent;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-width: 11px;
    margin-left: -11px;
  }
}

.video-share__embed-code-field {
  width: 40em;
  padding: 0.5em;
  font-size: 1em;
}



