.video-edit-categories {

}

.video-edit-categories__category {
  display: inline-block;
  transition: border-color 0.4s ease-in-out;
  border: solid 1px $darkGrey;
  color: $darkGrey;
  padding: 1em;
  text-align: center;
  margin-right: 12px;
  margin-bottom: 1em;
  cursor: pointer;
  width: 300px;
  min-width: 200px;
}

.video-edit-categories__category:hover {
  border-color: $darkGreen;
}

.video-edit-categories__category--active {
  border-color: $green;
}

.video-edit-categories__subcategories {
  float: left;
  display: inline-block;
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.video-edit-categories__subcategories--active {
  max-height: 100em;
}

.video-edit-categories__subcategory {
  margin-right: 16px;
}

