.video-medium {

  color: $dark-grey;

  h2 {
    @extend .large-font;
    margin-bottom: 24px;
  }
  h3 {
    @extend .medium-font;
    margin-bottom: 24px;
  }
  b {
    font-weight: bold;
  }
  i {
    font-style: italic;
  }
  p {
    @extend .regular-font;
    margin-bottom: 24px;
  }
  ul {
    @extend .regular-font;
    list-style: disc inside;
    margin-bottom: 24px;
  }
  li {

  }
  blockquote {

    @extend .quote-font;
    margin: 0 auto 24px auto;
    max-width: 80%;
    min-width: 450px;
    text-indent: -0.41em;
    font-weight: 300;
    text-align: center;

    quotes: "#{$open-quote}" "#{$close-quote}";

    &:before {
      content: "\2018";
      content: open-quote;
    }

    &:after {
      content: "\2019";
      content: close-quote;
    }

  }
}