.video-edit-collections {
  position: relative;
}

.video-edit-collections__options {
  max-width: 700px;
  margin: 0 auto;
  left: 130px;
}

.video-edit-collections__option {
  display: inline-block;
  width: 300px;
  padding: 30px 0 30px 120px;
  min-height: 100px;
  border: solid 1px transparent;
  margin-bottom: 5px;
  vertical-align: top;
  background: url('/static/assets/img/video-collection__tag.png') 10px 0 no-repeat transparent;
}

.video-edit-collections__option--modal {
  width: 230px;
  margin-right: 12px;
}

.video-edit-collections__option--selected {
  background: url('/static/assets/img/video-collection__tag--selected.png') 10px 0 no-repeat $dark-green;
  color: $white;
}

.video-edit-collections__option-title {
  display: block;
  font-weight: 800;
}

.video-edit-collections__option-count {
  display: block;
}

.video-edit-collections__option:hover {
  cursor: pointer;
  border-color: $dark-green;
  background: url('/static/assets/img/video-collection__tag--active.png') 10px 0 no-repeat transparent;
  color: $black;
}

.video-edit-collections__assigned-tag {
  color: $grey;
}

.video-edit-collections__assigned-tag-title {

}

.video-edit-collections__remove-tag {
  font-weight: 800;
  color: $red;
  text-shadow: 0 0 2px $shadow-red;
  padding: 1em 2em 0 0;
}


.video-edit-collections__assigned-tags {
  display: inline-block;
}

.video-edit-collections__assigned-tag {
  display: inline-block;
}
