.video-indicators {
  border-bottom: solid 1px $grey;
  display: block;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.video-indicators__comment-indicators {
  position: relative;
}

.video-indicators__comment-indicator {
  position: absolute;
  top: 0;
}

.video-indicators__comment-link {
  display: block;
  height: 12px;
  margin-bottom: 3px;
  width: 2px;
  background-color: green;
  border: solid 1px transparent;
}

.video-indicators__comment-link--active {
  border: solid 1px $red;
}

.video-indicators__comment-link:hover {
  cursor: pointer;
}

.video-indicators__scrubber {
  transition: left 0.4s linear;
  position:absolute;
  top: -5px;
  left: 0;
  display: block;
  width: 1px;
  height: 25px;
  background-color: $red;
}

.video-indicators__scrubber:before {
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: red;
  position: absolute;
  bottom: -2px;
  left: -2px;
}





