.video-feedback {
  max-width: 600px;
  margin: 40px auto;
}

.video-feedback__form {
  text-align: right;
}

.video-feedback__input {
  text-align: left;
}

.video-feedback__comments {
  margin: 20px 0;
  max-height: 300px;
  overflow: scroll;
  transition: all 1s ease-in-out;
  position: relative;
}

.video-feedback__comment {
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}

.video-feedback__comment--active {
  border-left: solid 5px $green;
  padding-left: 15px;
}

.video-feedback__comment--hover {
  background-color: #ffefef;
}

.video-feedback__reply-link {
  visibility: hidden;
  float: right;
  cursor: pointer;
  text-decoration: underline;
}

.video-feedback__comment:hover .video-feedback__reply-link {
  visibility: visible;
}

.video-feedback__reply-form {
  transition: all 0.4s ease-in;
  display: block;
  max-height: 0;
  opacity: 0;
  margin: 0 0 0 80px;
  text-align: right;
  overflow: hidden;
}

.video-feedback__reply-form--active {
  max-height: 300px;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 40px;
}

.video-feedback__reply-text {
  text-align: left;
}

.video-feedback__reply-submit {

}

.video-feedback__reply-cancel {
  cursor: pointer;
  text-decoration: underline;
}

.video-feedback__comment-message {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  margin-bottom: 10px;
}

.video-feedback__comment-time {
  display: inline-block;
  width: 40px;
  font-size: small;
}

.video-feedback__comment-time:hover {
  cursor: pointer;
}

.video-feedback__comment-author {
  margin-left: 45px;
  color: $grey;
  font-style: italic;
  font-size: small;
  text-transform: lowercase;
  font-variant: small-caps;
}

.video-feedback__comment-date {
  color: $light-grey;
  font-style: italic;
  font-size: small;
  text-transform: lowercase;
}

.video-feedback__comment-author:after {
  content: ',';
}

.video-feedback__comment-replies {
  margin-top: 20px;
  margin-left: 80px;
}

.video-feedback__comment-reply {
  margin-bottom: 10px;
  font-size: small;
  color: $dark-grey;
}

.video-feedback__reply-message {
  display: block;
  margin-bottom: 10px;
}

.video-feedback__reply-author {
  color: $grey;
  font-style: italic;
  font-size: small;
  text-transform: lowercase;
  font-variant: small-caps;
}

.video-feedback__reply-date {
  color: $light-grey;
  font-style: italic;
  font-size: small;
  text-transform: lowercase;
}

.video-feedback__reply-author:after {
  content: ',';
}






