/**
 * _video-section-drawer.scss
 */
.section-drawer {
  
  > li {
    overflow: hidden;
    padding-top:   $base-spacing-unit;
    cursor: pointer;
  }
  
  > li:nth-child(1n) {
    border-top: 1px solid #dedee1;
  }
  
  > li + li {
    border-top: 1px solid #dedee1;
  }
}

.section-drawer__title {
  display: block;
  margin-bottom: $base-spacing-unit;
  font-weight: 600;
  font-size: 1.3333333333333333em;
  line-height: 1;
  font-family: $heading-font-family;
  color: $cold-black;
}

.section-drawer__icon {
  padding-top: $base-spacing-unit;
  position: absolute;
  top:   0;
  right: 0;
}