.video-view {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.video-more {
  text-align: center;
  margin-bottom: 1em;
}

.video-view-control-panel {
  text-align: right;
  padding: 24px;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
}

.video-view-control-panel__modes {

}

.video-view-control-panel__mode {
  display: inline-block;
}

.video-view__comments {
  display: none;
}

.video-view__comments--active {
  display: block;
}

.video-view__edit {
  display: none;
  position: relative;
}

.video-view__edit--active {
  display: block;
}
