.video-more {
  text-align: center;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
}

.video-more__controls-container {
  padding: 0.5em 0 0.5em 1em;
  margin-top: $base-spacing-unit;
}

.video-more__link {
  padding: 8px 16px;
}

.video-more__input {
  padding: 0.5em;
  font-size: 1em;
  background-color: transparent;
  border: none 0;
}

.video-more__label {
  background-repeat: no-repeat;
  background-position: center left;
  display: block;
  padding-left: 1em;
  border-bottom: solid 1px $light-grey;
  text-align: left;
  margin-bottom: $half-spacing-unit;
}

.video-more__label--text {
  background-image: url('/static/assets/img/video-more__icon-type.png');
}

.video-more__label--link {
  background-image: url('/static/assets/img/video-more__icon-globe.png');
}

.video-more__hint {
  font-size: 0.875em;
  line-height: 1.5;
  margin-right:  $half-spacing-unit;
  margin-bottom: $half-spacing-unit;
  text-align: left;
}

.video-more__character-count {
  float: right;
  font-weight: 800;
  padding: 0.5em;
}

.video-more__error {
  display: block;
  text-align: left;
  margin: 0.5em 0;
  color: $red;
  font-weight: 800;
}












