.video-upload {
  margin-bottom: 1em;
  color: $grey;
  font-size: 2em;
  text-align: center;
  display: table;
}

.video-upload__dropzone {
  width: 960px;
  height: 540px;
  border: 2px dashed #b4b2bc;
  vertical-align: middle;
  display: table-cell;

  p {
    font-size: 26px;
    line-height: 32px;
    font-family: $heading-font-family;
  }
}

.video-upload__input {
  margin-right: auto;
  margin-left:  auto;
  font-size: 16px;
  color: $swatch-three;
  text-align: center;
  position: relative;
  left: 74px;
}