.video-collaborators {

}

.video-collaborators--column {
  float: right;
  width: 22%;
}

.video-collaborators--mirror {
  width: 37%;
  float: left;
}

.video-collaborators--wide {
  width: 37%;
  float: right;
}

.video-collaborators__header {
  padding-bottom: 1em;
}

.video-collaborators__collaborator {
  text-align: left;
  margin-bottom: 0.5em;
}

.video-collaborators__title {
  font-variant: small-caps;
  color: $grey;
  float: left;
  margin-top: 0.5em;
}

.video-collaborators__none-message {
  font-variant: small-caps;
  color: $grey;
  text-align: left;
  text-transform: lowercase;
}

.video-collaborators__collaborator-image {
  height: 33px;
  width: 33px;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  vertical-align: middle;
  margin-right: 0.5em;
}

.video-collaborators__collaborator-name {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.video-collaborators__collaborator-name-container {
  width: 150px;
  display: inline-block;
}





