.video-edit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  min-height: 100%;
  width: 100%;
}

.video-edit__zone {
  border: solid 6px transparent;
  width: 100%;
  cursor: pointer;
}

.video-edit__zone:hover {
  border-color: $darkGreen;
}

.video-edit__preview {
  height: 503px;
}

.video-edit__player-controls {
  height: 40px;
  margin-top: -1px;
}

.color-picker {
  position: absolute;
  bottom: 50px;
  right: 20px;
  display: inline-block;
}