.video-new-collection {
  max-width: 700px;
  margin: 0 auto;
  transition: max-height 0.4s, opacity 0.4s ease-in-out;
  position: relative;
  padding-bottom: 1em;
  background: $white;
  font-size: 1em;
}

.video-new-collection__new-title {
  font-size: 1em;
  border-bottom: solid 1px $grey;
  color: $dark-grey;
  padding: 12px;
}

.video-new-collection__new-controls {
  padding-left: 140px;
  background: url('/static/assets/img/video-collection__tag.png') 20px 10px no-repeat;
}

.video-new-collection__new-collection-name {
  display: block;
  margin: 0;
  padding-left: $half-spacing-unit;
  padding-bottom: 6px;
  font-weight: 600;
  font-size: 18px;
  font-family: $heading-font-family;
  color: $swatch-three;
  border: none;
  border-bottom: solid 1px $light-grey;
  width: 100%;
}

.video-new-collection__new-collection-description {
  display: block;
  width: 100%;
  min-height: $base-spacing-unit * 4;
  margin-bottom: $half-spacing-unit;
  padding-top: 6px;
  padding-left: $half-spacing-unit;
  font-size: 16px;
  font-family: $heading-font-family;
  border: none;
  border-bottom: solid 1px $light-grey;
  border-radius: 0;
  resize: none;
}

.video-new-collection__scope-options {
  margin-bottom: 24px;
}

.video-new-collection__scope-option {
  display: inline-block;
}

.video-new-collection__label {
  padding-left: 1px;
  font-size: 16px;
  font-family: $heading-font-family;
  color: $swatch-three;
}

.video-new-collection__error {
  display: block;
  text-align: left;
  margin: 0.5em 0;
  color: red;
  font-weight: 800;
  padding-left: 0.5em;
}
