.video-medium {

  color: $swatch-three;

  h2,h3,p,ul,blockquote{ margin-bottom: $base-spacing-unit; }
  h2 {  }
  h3 {  }
  b { font-weight: bold; }
  i { font-style: italic; }
  p { font-size: 20px; line-height: 28px; }
  ul {
    font-family: $base-font-family;
    list-style: disc inside;
  }
  blockquote {
    margin: 0;
    margin-right: auto;
    margin-bottom: $base-spacing-unit;
    margin-left:  auto;
    max-width: 80%;
    min-width: 450px;
    text-indent: -0.41em;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    quotes: "#{$open-quote}" "#{$close-quote}";

    &:before {
      content: "\2018";
      content: open-quote;
    }

    &:after {
      content: "\2019";
      content: close-quote;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}