.video-collaborators {

}

.video-collaborators--column {
  float: right;
  width: 22%;
}
.video-extended-controls__section .video-collaborators--column {
  float: none;
  width: auto;
}


.video-collaborators--mirror {
  width: 100%;
  float: left;
}

.video-collaborators--wide {
  width: 100%;
  float: right;
}

.video-collaborators__header {
  padding-bottom: 1em;
  @extend .cf;
}

.video-collaborators__collaborator {
  text-align: left;
  margin-bottom: 0.5em;
}

.video-collaborators__title {
  padding-top: 4px;
  font-variant: small-caps;
  font-family: $heading-font-family;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: $grey;
  float: left;
}

.video-collaborators__none-message {
  font-variant: small-caps;
  color: $grey;
  text-align: left;
  text-transform: lowercase;
}

.video-collaborators__collaborator-image {
  height: 33px;
  width: 33px;
  display: inline-block;
  border-radius: 50%;
  background-size: contain;
  vertical-align: middle;
}

.video-collaborators__collaborator-name {
  display: inline-block;
  font-family: $heading-font-family;
}

.video-collaborators__collaborator-name-container {
  display: inline-block;
}





