.video-new-collection {
  max-width: 700px;
  margin: 0 auto;
  transition: max-height 0.4s, opacity 0.4s ease-in-out;
  position: relative;
  padding-bottom: 1em;
  background: $white;
  font-size: 1em;
}

.video-new-collection__new-title {
  font-size: 1em;
  border-bottom: solid 1px $grey;
  color: $dark-grey;
  padding: 12px;
}

.video-new-collection__new-controls {
  padding-left: 140px;
  background: url('/static/assets/img/video-collection__tag.png') 20px 10px no-repeat;
}

.video-new-collection__new-collection-name {
  font-size: 1em;
  margin: 1em 0;
  border: none;
  border-bottom: solid 1px $light-grey;
  display: block;
  padding-left: 0.5em;
  width: 100%;
}

.video-new-collection__new-collection-description {
  font-size: 1em;
  border: none;
  border-bottom: solid 1px $light-grey;
  display: block;
  padding-left: 0.5em;
  width: 100%;
  margin-bottom: 0.5em;
  resize: none;
  border-radius: 0;
  min-height: 5em;
}

.video-new-collection__scope-options {
  margin-bottom: 24px;
}

.video-new-collection__scope-option {
  display: inline-block;
}

.video-new-collection__label {
  font-size: 1.2em;
  margin-right: 2em;
  color: $dark-grey;
}

.video-new-collection__error {
  display: block;
  text-align: left;
  margin: 0.5em 0;
  color: red;
  font-weight: 800;
  padding-left: 0.5em;
}
