.video-view {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

.video-view--wide {
  width: 59%;
  display: inline-block;
  vertical-align: top;
  padding: 0 12px;
}

.video-view--mirror {
  width: 59%;
  display: inline-block;
  float: right;
  padding: 0 12px;
}

.video-view__comments {
  position: relative;
  text-align: center;
  vertical-align: top;
}

.video-view__comments--wide {
  display: inline-block;
  width: 40%;
  margin-top: 48px;
  padding-bottom: 96px;
}

.video-view__comments--mirror {
  display: inline-block;
  width: 40%;
  float: left;
  margin-top: 48px;
  padding-bottom: 96px;
}

.video-view__comments-section--left {
  float: left;
  width: 73%;
  margin-left: 48px;
}

.video-view__comments-section--right {
  float: right;
  width: 21%;
}

.video-view__comments-section--wide {
  padding: 0 12px;
}

.video-view__download {
  text-align: center;
  margin-bottom: 48px;
}

.video-view__edit {
  display: none;
  position: relative;
}

.video-view__edit--active {
  display: block;
}

.video-view__container {
  position: relative;
  width: 100%;
  height: 540px;
  margin-bottom: 48px;
}

.video-view__save-controls {
  margin-bottom: $base-spacing-unit;
  text-align: center;
}

.video-view__description {
  width: 600px;
  margin: 0 auto;
  overflow: auto;
}

.video-view__description--edit {
  border-bottom: solid 1px $grey;
  min-height: 10em;
}

.video-view__nav-placeholder {
  display: block;
  height: 52px;
}