.video-edit-categories {

}

.video-edit-categories__category {
  display: inline-block;
  width: 300px;
  min-width: 200px;
  margin-right: 12px;
  margin-bottom: 1em;
  padding: 1em;
  font-weight: bold;
  font-size: 0.875em;
  font-family: $heading-font-family;
  color: $dark-grey;
  text-align: center;
  border: solid 2px lighten($dark-grey, 20%);
  border-radius: 3px;
  @include vendor(user-select, none);
  cursor: pointer;
  /*transition: border-color 0.4s ease-in-out;*/
}

.video-edit-categories__category:hover {
  border-color: $dark-grey;
}

.video-edit-categories__category--active {
  color: #fff;
  background-color: $dark-green;
  border-color: $dark-green;

  &:hover {
    border-color: $dark-green;
  }
}


.video-edit-categories__subcategories {
  margin: 0;
  float: left;
  display: inline-block;
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.video-edit-categories__subcategories--active {
  max-height: 100em;
}

.video-edit-categories__subcategory {
  margin-right: 16px;
  border-color: lighten($grey,30%);
}

.video-edit-categories__subcategory:hover {
  border-color: lighten($grey,20%);
}

.video-edit-categories__subcategory--active {
  color: $dark-green;
  background-color: transparent;
  border-color: $dark-green;

  /**
   * !shame!
   */
  &:hover {
    border-color: $dark-green !important;
  }
}

.video-edit-categories__selected-category {
  display: inline-block;
  color: $grey;
}

.video-edit-categories__remove-category {
  font-weight: 800;
  color: $red;
  text-shadow: 0 0 2px $shadow-red;
  padding: 1em 2em 0 0;
}
