.video-upload {
  margin-bottom: 1em;
  color: $grey;
  text-align: center;
  display: table;
}

.video-upload__dropzone {
  width: 960px;
  height: 540px;
  color: $base-color-text;
  border: 2px dashed #b4b2bc;
  vertical-align: middle;
  display: table-cell;
}

.video-upload__input {
}