.video-share {
  width: 100%;
  padding: 24px 0;
  text-align: center;
}

.video-share__controls {
  margin-bottom: 1em;
}

.video-share__control {
  display: inline-block;
}

.video-share__link {
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

.video-share__link--embed {
  background-image: url('/static/assets/img/video-share__icon-embed.png');
}

.video-share__link--twitter {
  background-image: url('/static/assets/img/video-share__icon-twitter.png');
}

.video-share__link--facebook {
  background-image: url('/static/assets/img/video-share__icon-facebook.png');
}

.video-share__embed-code-container {
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.video-share__embed-code-container--active {
  max-height: 100em;
}

.video-share__embed-code-label {
  background: $light-grey;
  padding: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

.video-share__embed-code-field {
  width: 40em;
}

