/**
 * _base.anchors.scss
 */
a {
  text-decoration: none;
  color: $swatch-five;
  border-bottom: 1px solid lighten($swatch-five, 30%);
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: $swatch-five;
    cursor: pointer;
  }
  &:active {
    color: lighter($swatch-five, 30%);
  }
}

a.non-link {
  color: inherit;
  border: none;
}

// http://stackoverflow.com/a/880518
a.no-selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}