/**
 * _base.anchors.scss
 */
a {
  text-decoration: none;
  color: $swatch-five;
  border-bottom: 1px solid lighten($swatch-five, 30%);
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: $swatch-five;
    cursor: pointer;
  }
  &:active {
    color: lighter($swatch-five, 30%);
  }
}

a.non-link {
  color: inherit;
  border: none;
}