/**
 * _base.page.scss
 */
html,
body {
  height: 100%;
}
html {
  min-height: 100%;
  position: relative;
  font-weight: $base-font-weight;
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
}
body {
  margin-bottom: 47px;
  color: $swatch-four;
  background-color: $swatch-one;
}