/**
 * _base.tables.scss
 */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $base-spacing-unit;
}

th,
td {
  padding: $base-spacing-unit / 4;
  text-align: left;
}

[colspan] {
  text-align: center;
}
[colspan="1"] {
  text-align: left;
}

[rowspan] {
  vertical-align: middle;
}
[rowspan="1"] {
  vertical-align: top;
}