/**
 * _base.page.scss
 */

@viewport {
  width: device-width;
}


/**
 * 1. Ensure both the html and body fills the entire height of the viewport
 *    for use of sticky footers
 * 2. Hide everything larger than the html element, which fills the viewport.
 * 3. Enable smooth scrolling on mobile devices. !NOTE!: disables the ability to
 *    tap the status bar in iOS to scroll to top.
 */
html,
body {
  height: 100%; /* [1] */
  //overflow: hidden; /* [2] */
  //-webkit-overflow-scrolling: touch; /* [3] */
}


/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */

html {
  font-size: ($base-font-size / 16px) * 1em; /* [1] */
  line-height: $base-line-height / $base-font-size; /* [1] */
  font-family: $base-font-family;
  background-color: $base-color-background;
  color: $base-color-text;
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  -webkit-text-size-adjust: 100%; /* [4] */
      -ms-text-size-adjust: 100%; /* [4] */
  -moz-osx-font-smoothing: grayscale; /* [5] */
   -webkit-font-smoothing: antialiased; /* [5] */

  @media screen and (min-width:0px) and (max-width:249px){
    & {
      font-size: 75%;
    }
  }
  @media screen and (min-width:250px) and (max-width:319px){
    & {
      font-size: 87.5%;
    }
  }
  @media screen and (min-width: 1199px){
    & {
      font-size: 112.5%;
    }
  }
  // @media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
    // & {
      // font-weight: 300;
    // }
  // }
}


/**
 * Modify the default selection state of the browser.
 */
::selection {
  color: $base-color-text;
  background-color: #e1f1e5;
  background-color: rgba($base-color-link, 0.25);
}