<div autocomplete="off" class="login-view">
  <div class="center-container">
    <div class="center-object">
      <div class="wrapper">
        <form ng-submit="signUp()">
          <fieldset>
            <legend class="accessibility">Sign up details</legend>
            <ul class="form-fields  login-view__form">
              <li class="text-col">
                <div class="login-view__input  icon-text">
                  <i class="icon  icon--head  icon-text__icon"></i>
                  <label class="label login-view__label  accessibility" for="login-view__name">Name</label>
                  <input type="text" ng-model="name" autocomplete="off" class="text-input" id="login-view__name" placeholder="Name" />
                </div>
                <div class="login-view__input  icon-text">
                  <i class="icon icon--mail icon-text__icon"></i>
                  <label class="label login-view__label  accessibility" for="login-view__username">Email</label>
                  <input type="text" ng-model="username" autocomplete="off" class="text-input" id="login-view__email" placeholder="Email" />
                </div>
                <div class="login-view__input  icon-text">
                  <i class="icon  icon--lock  icon-text__icon"></i>
                  <label class="label login-view__label  accessibility" for="login-view__password">Password</label>
                  <input type="password" name="password" ng-model="password" autocomplete="off"  class="text-input" id="login-view__password" placeholder="Password" />
                </div>
                <div class="login-view__input login-view__input--location  icon-text">
                  <i class="icon  icon--globe  icon-text__icon"></i>
                  <location-selector location="location">
                  </location-selector>
                </div>
              </li>
              <li class="text-col" ng-show="errorMessage">
                <div class="error u--c-destructive u--ff-sans" ng-bind="errorMessage"></div>
              </li>
              <li class="text-col">
                <ul class="check-list">
                  <li>
                    <input type="checkbox" name="tandc" ng-model="tandc" required class="login-view__input_checkbox" id="tandc"/>
                    <label class="t--inline  login-view__label" for="tandc">I agree with the standard Wonder Place Ltd <a href="http://wonderpl.com/tos">terms and conditions</a> and the following conditions of the Closed Beta Program:</label>
                  </li>
                </ul>
              </li>
              <li class="text-col">
                <span class="login-view__errors" ng-bind="errors"></span>
                <div class="btn-center">
                  <button type="submit" class="btn btn--positive login-view__submit" ng-class="{'btn--disabled': !tandc}" ng-disabled="!tandc" ng-click="save()">Sign up  <img class="login-view__loading-indicator" src="/static/assets/img/loading.gif" ng-show="isLoading" /></button>
                </div>
              </li>
              <li>
                <p class="smallprint  muted">The Program is proprietary to, and a valuable trade secret of, Wonder Place Ltd. It is entrusted to Tester only for the purpose set forth in this Agreement. Tester shall maintain the Program in the strictest confidence. Tester will not, without Company's prior written consent:</p>
                <ol class="smallprint" type="a">
                  <li><p class="muted">disclose any information about the Program, its design and performance specifications, its code, and the existence of the beta test and its results to anyone other than Tester's employees who are performing the testing and who shall be subject to nondisclosure restrictions at least as protective as those set forth in this Agreement;</p></li>
                  <li><p class="muted">copy any portion of the Program or documentation, except to the extent necessary to perform beta testing; or</p></li>
                  <li><p class="muted">reverse engineer, decompile or disassemble Software or any portion of it.</p></li>
                </ol>
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>