<section class="public-profile__wrapper" ng-show="videos">
  <hr class="rule">

  <h2 class="heading delta u--ta-center f--sans" ng-if="connections">Videos I've worked on</h2>
  <ul class="list-ui  simple-list">
    <li ng-repeat="item in videos" class="simple-list__item">
      <a href="#/video/{{item.id}}" class="media  reverse-link">
        <div class="media__img  video-thumb--small">
          <div class="ratio  ratio--16x9">
            <img class="ratio__src" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" style="background-image : url({{ item.thumbnail }});" />
          </div>
        </div>
        <div class="media__body">
          <h4 class="heading  delta  u--m-none" ng-bind-html="item.title"></h4>
          <p class="milli  trunc  trunc--two" ng-bind-html="item.description"></p>
        </div>
      </a>
    </li>
  </ul>
</section>