<div id="page-account" class="section" ng-controller="AccountController">

    <div id="edit-profile-cover-image" style="background-image: url((~ User.profile_cover ~));">
        <div class="edit-background" ng-class="{ show: isEditable }"></div>
        <span class="upload-target" ng-show="isEditable && !coverImageUploading"></span>
        <span class="account-upload-spinner" ng-show="coverImageUploading"></span>
        <input type="file" id="edit-profile-cover-image-choose-background" ng-file-select="coverImageSelected($files)" ng-show="isEditable" />

        <div id="edit-profile-avatar" style="background-image: url((~ User.avatar ~));">
            <div class="edit-background" ng-class="{ show: isEditable }"></div>
            <span class="upload-target" ng-show="isEditable && !avatarUploading"></span>
            <span class="account-upload-spinner" ng-show="avatarUploading"></span>
            <input type="file" id="edit-profile-avatar-choose-avatar" ng-file-select="avatarImageSelected($files)" ng-show="isEditable" />
        </div>
        <a ng-click="toggleEditable()" ng-class="{ active: isEditable }" class="wp-button" id="toggle-editable-button">(~ isEditable ? "Stop Editing" : "Edit Profile" ~)</a>
    </div>
    
    <!-- <div class="background" style="background-image: url((~ User.profile_cover ~));">
        <div ng-if="isEditable" class="edit-text"><input id="profile-picker" type="file" class="hidden-input"/></div>
    </div> -->

<!--     <div class="avatar" style="background-image: url((~ User.avatar ~));">
        <div ng-if="isEditable" class="avatar-change">
            <label for="avatar-picker" class="icon-export">&nbsp;</label>
            <input id="avatar-picker" type="file" class="hidden-input" />
        </div>
    </div> -->
    <!-- <div ng-if="isLoggedIn" class="edit-icons">
        
    </div> -->
    <div class="inner" id="edit-profile-details">
        <div class="row">
            <input type="text" id="edit-profile-name" ng-model="User.display_name" data-model="display_name" placeholder="Your Full Name" ng-class="{ disabled: !isEditable }" auto-save-field disable-new-lines />
        </div>
        <div class="row">
            <input type="text" id="edit-profile-username" ng-model="User.name" data-model="name" placeholder="Your Username" ng-class="{ disabled: !isEditable }" auto-save-field disable-new-lines />
        </div>
        <div class="row">
            <textarea type="text" id="edit-profile-description" ng-model="User.description" data-model-"description" placeholder="Describe yourself in a few words" ng-class="{ disabled: !isEditable }" auto-save-field disable-new-lines></textarea
        </div>

        <!--<div class="row">
            <pre id="edit-profile-name" ng-class="{ disabled: !isEditable }" placeholder="Your Full Name" ng-paste="cleanPaste($event)" data-model="display_name" pl-content-editable-placeholder contenteditable auto-save-field disableNewLines>(~ User.display_name ~)</pre>
        </div>
        <div class="row">
            <pre id="edit-profile-username" ng-class="{ disabled: !isEditable }" placeholder="Your Username" ng-paste="cleanPaste($event)" data-model="name" pl-content-editable-placeholder contenteditable auto-save-field disableNewLines>(~ User.name ~)</pre>
        </div>
        <div class="row">
            <pre id="edit-profile-description" ng-class="{ disabled: !isEditable }" placeholder="Describe yourself in a few words" ng-paste="cleanPaste($event)" data-model="description" pl-content-editable-placeholder contenteditable auto-save-field disableNewLines>(~ User.description ~)</pre>
        </div>-->
    </div>
</div>

