<section class="add-collaborator">

  <header class="video-extended-controls__section-header" ng-click="addCollaboratorShow = !addCollaboratorShow">
    <h4 class="video-extended-controls__section-header-title" title="Invite people to review and comment on your video, or send someone a link to download it. Type in their name, email address and the permissions yo want to give them.">
      Wonder Transfer
    </h4>
  </header>

  <section class="video-add-collaborators">

    <input type="hidden" ui-select2="select2Options" ng-model="invite.collaborators" />

    <div class="video-add-collaborators__messages">
      <p ng-show="collaboratorAdded">New collaborator has been added.</p>
      <p class="video-add-collaborators__message--error" ng-show="errors">An error occured. Collaborator not added.</p>
    </div>
    <a class="btn btn--small btn--positive f--right" ng-click="add()">Send Link</a>

  </section>

</section>



