<div class="section">
    <ul id="breadcrumb" class="inner">
        <li class="home"><a href="/#/" class="icon-home"></a></li>
        <li><span class="divider">/</span><span>Stats</span></li>
    </ul>
</div>

<div id="page-stats" class="section" ng-controller="AnalyticsController">

    <div class="inner" ng-if="analytics.state === analytics.States.COMPLETE">

        <!-- Header -->
        <div id="analytics-header">
            <!--  Title -->
            <h1 id="analytics-title">Stats for {{ analytics.video.title }}</h1>

            <!-- Tabs -->
            <div id="analytics-tabs">
                <ul>
                    <li class="analytics-tabs-tab" ng-class="{ selected: isSection(analytics.Sections.OVERVIEW) }">
                        <a href="/#/analytics/{{ analytics.video.videoID }}/overview" class="icon-analytics">Overview</a>
                    </li>
                    <li class="analytics-tabs-tab" ng-class="{ selected: isSection(analytics.Sections.PERFORMANCE) }">
                        <a href="/#/analytics/{{ analytics.video.videoID }}/performance" class="icon-graph">Performance</a>
                    </li>
                    <li class="analytics-tabs-tab" ng-class="{ selected: isSection(analytics.Sections.GEOGRAPHIC) }">
                        <a href="/#/analytics/{{ analytics.video.videoID }}/geographic" class="icon-earth">Geographic</a>
                    </li>
                    <li class="analytics-tabs-tab" ng-class="{ selected: isSection(analytics.Sections.ENGAGEMENT) }">
                        <a href="/#/analytics/{{ analytics.video.videoID }}/engagement" class="icon-user">Engagement</a>
                    </li>
                </ul>
            </div>

            <!-- Date Range -->
            <div id="analytics-date">
                <div id="analytics-date-selected">
                    <span>Date: {{ analytics.dateFrom | date: 'shortDate' }} - {{ analytics.dateTo | date: 'shortDate' }}</span>
                </div>
            </div>
        </div>

        <!-- Top Panel -->
        <div id="analytics-top-panel">
            <div pl-analytics-overview ng-if="isSection(analytics.Sections.OVERVIEW)"></div>
            <div pl-analytics-performance-chart ng-if="isSection(analytics.Sections.PERFORMANCE)"></div>
            <div pl-analytics-geographic-map ng-if="isSection(analytics.Sections.GEOGRAPHIC)"></div>
            <div pl-analytics-engagement-video-segment ng-if="isSection(analytics.Sections.ENGAGEMENT)"></div>
        </div>

        <!-- Bottom Panel -->
        <div id="analytics-bottom-panel" class="flip-container">
            <div pl-analytics-fields-key ng-if="isSection(analytics.Sections.PERFORMANCE) || isSection(analytics.Sections.GEOGRAPHIC)"></div>
            <div class="flipper">
                <div pl-analytics-results-table ng-if="isSection(analytics.Sections.PERFORMANCE) || isSection(analytics.Sections.GEOGRAPHIC)" class="flipper-front front"></div>
                <div pl-analytics-fields-chooser ng-if="isSection(analytics.Sections.PERFORMANCE) || isSection(analytics.Sections.GEOGRAPHIC)" class="flipper-back back"></div>
            </div>
            <!-- Engagement Bottom Here -->
        </div>

        <!-- Footer -->
        <div id="analytics-footer">

        </div>

    </div>
</div>
