<section class="collection-add-video" ng-class="{ 'collection-add-video--modal' : isModal }">

  <a class="modal__close" ng-show="isModal" ng-click="close()">&times;</a>

  <header class="video-extended-controls__section-header"
    ng-click="showCollection = !showCollection">
    <h4 class="video-extended-controls__section-header-title">
      <span ng-if="!video || !video.tags || !video.tags.items || video.tags.items.length === 0">
        Add video to collection
      </span>
      <span ng-if="video.tags.items.length === 1">
        In Collection:
      </span>
      <span ng-if="video.tags.items.length > 1">
        In Collections:
      </span>
    </h4>

    <ul ng-show="video.tags.items.length" class="video-edit-collections__assigned-tags">
      <li ng-repeat="tag in video.tags.items" class="video-edit-collections__assigned-tag">
        <span class="" ng-bind-html="tag.label"></span>
        <span class="video-edit-collections__remove-tag" ng-click="removeTag(tag.id, $event)">&times;</span>
      </li>
    </ul>

  </header>

  <section class="video-edit-collections">

    <ul class="video-edit-collections__options">
      <li class="video-edit-collections__option"
        ng-click="hideAddRemoveAndShowCreateCollection()"
        ng-class="{ 'video-edit-collections__option--modal' : isModal }">
        <span class="video-edit-collections__option-title">Create New Collection</span>
        <span class="video-edit-collections__option-count"></span>
      </li>
      <li class="video-edit-collections__option"
        data-videos="{{ tag.video_count }}"
        ng-class="{
          'video-edit-collections__option--selected' : hasTag(tag.id),
          'video-edit-collections__option--modal' : isModal
        }"
        ng-repeat="tag in availableTags"
        ng-click="addTag(tag.id, $event)">
        <span class="video-edit-collections__option-title" ng-bind-html="tag.label"></span>
        <ng-switch ng-show="tag.video_count" on="tag.video_count">
          <span class="video-edit-collections__option-count">
            <ng-pluralize count="tag.video_count"
              when="{
                '0'     : 'no videos',
                '1'     : '1 video',
                'other' : '{{ tag.video_count }} videos'}">
            </ng-pluralize>
          </span>
      </li>
    </ul>

  </section>

</section>