<div>
  <div class="modal__title  split" ng-click="showCollection = !showCollection">
    <span class="split__title  t--block  w--600">{{ getTitle() }}</span>
    <ul ng-show="video.tags.items.length" class="video-edit-collections__assigned-tags">
      <li ng-repeat="tag in video.tags.items" class="video-edit-collections__assigned-tag">
        <span class="" ng-bind-html="tag.label"></span>
        <span class="video-edit-collections__remove-tag" ng-click="removeTag(tag.id, $event)">&times;</span>
      </li>
    </ul>
    <a class="modal__link" ng-click="close()"><i class="icon icon--medium icon--circle-cross"></i></a>
  </div>
  <div class="modal__content">
    <ul class="video-edit-collections__options">
      <li class="video-edit-collections__option" ng-click="hideAddRemoveAndShowCreateCollection()">
        <span class="video-edit-collections__option-title">Create New Collection</span>
        <span class="video-edit-collections__option-count"></span>
      </li>
      <li class="video-edit-collections__option"
        data-videos="{{ tag.video_count }}"
        ng-class="{
          'video-edit-collections__option--selected' : hasTag(tag.id),
          'video-edit-collections__option--modal' : isModal,
          'video-edit-collections__option--private' : !tag.public
        }"
        ng-repeat="tag in availableTags"
        ng-click="addTag(tag.id, $event)">
        <span class="video-edit-collections__option-title" ng-bind-html="tag.label"></span>
        <ng-switch ng-show="tag.video_count" on="tag.video_count">
          <span class="video-edit-collections__option-count">
            <ng-pluralize count="tag.video_count"
              when="{
                '0'     : 'no videos',
                '1'     : '1 video',
                'other' : '{{ tag.video_count }} videos'}">
            </ng-pluralize>
          </span>
      </li>
    </ul>
  </div>
  <div class="modal__footer" ng-if="isModal">
    <div class="modal__actions">
      <a ng-click="close()" class="btn  btn--small  btn--positive">Okay</a>
    </div>
  </div>
</div>