<a class="modal-close" ng-click="close()"><i class="icon  icon--large  icon--cross"></i></a>
<div class="center-object">
  <header class="modal-header">
    <div class="wrapper" ng-click="showCollection = !showCollection">
      <h2 class="heading  alpha  u--ta-center">{{ getTitle() }}</h2>
      <div class="text-col">
        <ul ng-show="video.tags.items.length && !showOnlyPublic" class="list-inline  u--ta-center">
          <li ng-repeat="tag in video.tags.items" class="zeta  u--ff-sans u--o75">
            <span class="" ng-bind-html="tag.label"></span>
            <span class="video-edit-collections__remove-tag" ng-click="removeTag(tag.id, $event)"><i class="icon  icon--cross"></i></span>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="modal-body">
    <div class="wrapper  wrapper--fixed">
      <ul class="layout  is-scrollable  is-scrollable-ui  u--mh-small">
        <li class="layout__item  one-half">
          <a class="block-link  collection-link" ng-click="hideAddRemoveAndShowCreateCollection()">
            <div class="flag  box  box--small">
              <div class="flag__img">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="collection-sprite  collection-sprite--new">
              </div>
              <div class="flag__body">
                <div class="trunc"><span class="u--ff-sans  u--m-none">Create a new collection</span></div>
              </div>
            </div>
          </a>
        </li><!--
     --><li class="layout__item  one-half" data-videos="{{ tag.video_count }}" ng-repeat="tag in availableTags">
          <a href="" class="block-link  collection-link" ng-class="{ 'block-link--active' : hasTag(tag.id), 'collection-link--modal' : isModal }" ng-click="addTag(tag.id, $event)">
            <div class="flag  box  box--small">
              <div class="flag__img">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="collection-sprite" ng-class=" { 'collection-sprite--private' : !tag.public } ">
              </div>
              <div class="flag__body">
                <div class="trunc"><span class="u--ff-sans" ng-bind-html="tag.label"></span></div>
                <p class="trunc  u--ff-sans  milli  u--o50  u--m-none" ng-if="tag.video_count"><ng-pluralize count="tag.video_count" when="{ '0' : 'no videos', '1' : '1 video', 'other' : '{{ tag.video_count }} videos'}"></ng-pluralize></p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <footer class="modal-footer">
    <div class="wrapper">
      <ul class="list-inline  u--ta-center">
        <li><a ng-click="close()" class="btn  btn--positive">Okay</a></li>
      </ul>
    </div>
  </footer>
</div>