<div class="section">
  <ul id="breadcrumb" class="inner">
    <li class="home"><a href="/#/" class="icon-home"></a></li>
    <li><span class="divider">/</span> <span>Dashboard</span></li>
  </ul>
</div>

<div id="page-dashboard" class="section" ng-controller="DashboardController">
	<div class="inner">
		<h1>Welcome to Romeo</h1>
		<!-- <h2>What would you like to do?</h2> -->
		<a href="/#/library" class="big-button">Show me my videos</a>
		<p>or</p>
		<a href="/#/upload" class="big-button">Add a new video</a>
	</div>
</div>

