<div class="section">
    <ul id="breadcrumb" class="inner">
        <li class="home"><a href="/#/" class="icon-home"></a></li>
        <li><span class="divider">/</span> <span>Library</span></li>
    </ul>
</div>

<div id="page-collections" class="section" ng-controller="LibraryController">
    <div class="inner">
    	<h1>Manage your videos &amp; collections</h1>

		<div id="library-left">
			<div class="toolbar">
				<a class="icon-cross clear-filter" ng-click="clearFilter($event)" ng-class="{ show: filter.searchtext.length > 0 }"></a>
				<input type="text" class="filter right" placeholder="Filter Videos" ng-model="filter.searchtext" pl-focus-field>
				<a class="button icon-list right"></a>
				<a class="button icon-layout right"></a>
				<h2 ng-show="selectedItems.length == 0">Videos</h2>
				<div id="selection-status" ng-class="{ show: selectedItems.length > 0 }">
					<span>{{ selectedItems.length }} video<span ng-show="selectedItems.length > 1">s</span> selected: <a ng-click="showAddToCollectionForm($event)">Add to a collection</a> / <a href="#">View analytics</a></span>
				</div>				
				<div class="clear"></div>
			</div>
			
			<div id="collection-filter" ng-class="{ show: filter.collection != null }">
				<span>Showing videos from the collection "{{ collections[filter.collection].label }}" ( <a ng-click="clearFilter($event, 'collection')">clear filter</a> )</span>
			</div>

			<div id="filter-status" ng-class="{ show: filter.searchtext.length > 0 }" class="border-top">
				<span>Filtering results for "{{ filter.searchtext }}" ( <a ng-click="clearFilter($event, 'search')">clear filter</a> )</span>
			</div>

			<div id="search-status" ng-class="{ show: filter.numresults == 0 }">
				<span>Your search for {{ filter.searchtext }} returned {{ filter.numresults }} results (<a ng-click="clearFilter($event, 'search')">Clear search</a>).</span>
			</div>

			<ul id="video-list" ng-class="{ loading: loading }">
	            <li pl-draggable draggable="true" ng-repeat="(key, video) in filter.results" class="row" data-id="{{ key }}" style="background: transparent url({{ video.thumbnail }}) center center no-repeat; background-size: 100% auto;">
	            	<div class="content">
						<span class="title">{{ video.title }}</span>
						<span class="number-of-collections">( in <span pl-tooltip="{{ listCollections(video.collections) }}" ng-class="{ active: listCollections(video.collections).length > 0}">{{ video.collections.length }} collections</span> )</span>
		                <!-- <div class="inline-wrapper">
		                    <span class="title"><a href="/#/video/{{ key }}">{{ video.title }}</a></span>
		                    <ul class="collections">
		                    	<li class="label">Collections ( {{ video.collections.length }} ) :</li>
		                        <li ng-repeat="collection in video.collections" class="collection">
		                            <a class="label" ng-click="filterByCollection($event, collection.id)">{{ collection }}</a>
		                        </li>
		                    </ul>
		                </div> -->
		                <a href="/#/video/{{ key }}" class="button edit"><span class="icon-info"></span></a>
		                <a href="/#/analytics/{{ key }}/overview" class="button analytics" title="View analytics for this video"><span title="View analytics for this video" class="icon-pie"></span></a>
		                <div data-id="{{ key }}" class="pl-checkbox"></div>	            		
	            	</div>
	            </li>
	           	
	        </ul>
		</div>

		<div id="library-right">
			<div class="toolbar">
				<h2>Collections</h2>
			</div>
			<ul class="library-left" id="collection-list" ng-class="{ loading: loading }">
				<li class="all-videos" ng-class="{ highlighted: filter.collection == null }" ng-click="clearFilter($event)"><span>All videos</span></li>
                <li pl-droppable ng-repeat="(key, collection) in collections" data-collection="{{ $index }}" ng-class="{ highlighted: filter.collection == key }">
                    <span class="title" ng-click="filterByCollection($event, key)">{{ collection.label }}</span>
                    <a class="info" ng-click="editCollection($event, collection.label, $index)">Edit</a>
                </li>
			</ul>
		</div>

		<div id="library-content-left"></div>
		<div id="library-content-right"></div>

        </div>
    </div>
</div>