

<div ng-controller="LoginCtrl" autocomplete="off" class="login-view">

		<form ng-submit="login()">

				<label class="login-view__label">Username <input type="text" ng-model="username" autocomplete="off" class="login-view__input" /></label>

				<label class="login-view__label">Password <input type="password" name="password" ng-model="password" autocomplete="off"  class="login-view__input" /></label>

        <label class="login-view__label">I agree with the <a href="http://wonderpl.com/tos">terms and conditions</a> of this closed beta <input type="checkbox" name="tandc" ng-model="tandc" required class="login-view__input" /></label>


        <span class="login-view__errors" ng-bind="errors"></span>

        <img class="login-view__loading-indicator" src="/static/assets/img/loading.gif" ng-show="isLoading" />
        <button type="submit" class="btn btn--positive login-view__submit" ng-class="{'btn--disabled': !tandc}" ng-disabled="!tandc" ng-click="isLoading = true;">
          Login
        </button>
		</form>

</div>