<div id="page-login" class="center-container" ng-controller="LoginCtrl" autocomplete="off">
	<div class="center-object">
		<form ng-submit="login()">
			<div class="row">
				<label for="username">Username</label>
				<input type="text" id="login-username" name="username" ng-model="username" autocomplete="off">
			</div>
			<div class="row">
				<label for="password">Password</label>
				<input type="password" id="login-password" name="password" ng-model="password" autocomplete="off">
			</div>
			<div class="row">
				<button type="submit" pl-progress-button>
					<span class="label">Login</span>
					<div class="progress"></div>
				</button>
			</div>
		</form>
	</div>
</div>