<div class="modal__title  split">
  <span class="split__title  t--block  w--600">Invite Collaborators</span>
  <a class="modal__link" ng-click="close()"><i class="icon icon--medium icon--circle-cross"></i></a>
</div>
<div class="modal__content">

  <input type="hidden" ui-select2="select2Options" ng-model="invite.collaborators" />

  <select ng-model="invite.permissions">
    <option value="canComment">Comment</option>
    <option value="canCommentDownload">Comment and Download</option>
    <option value="canDownload">Download</option>
  </select>

  <a class="btn btn--small btn--positive" ng-click="sendInvitations()">Invite</a>

</div>
<div class="modal__footer">
  <div class="modal__actions">
  </div>
</div>