<div id="page-manage" class="section" ng-controller="ManageController">
    
    <div class="inner">

		<div id="manage-top">
			<div id="manage-top-left">
				<h2>All Videos &raquo; <span class="highlighted">{{ currentFilter.name }}</span></h2>
			</div>
			<div id="manage-top-right" class="icon-search">
				<input type="text" id="manage-search-videos" placeholder="Search" ng-model="searchText" />
			</div>
			<div class="clear"></div>
		</div><!-- end of top section -->

		<div id="manage-body">
			<div id="manage-left">
				<h3>Manage</h3>
				<ul>
					<li><a ng-click="changeFilter('none')" ng-class="{ highlighted: currentFilter.slug == 'none' }">All videos</a></li>
					<li><a ng-click="changeFilter('uploads')" ng-class="{ highlighted: currentFilter.slug == 'uploads' }">Uploads in progress</a></li>
					<li><a ng-click="changeFilter('recent')" ng-class="{ highlighted: currentFilter.slug == 'recent' }">Recently added videos</a></li>
				</ul>
				<h3>Collections not visible in app</h3>
				<ul>
					<li ng-repeat="tag in Tags | filter: { public: false }"><a href="/#/manage/collection/{{ tag.id }}">{{ tag.label }}</a></li>
					<li><a ng-click="showAddNewCollectionForm(false)" class="highlighted">Create a private collection</a></li>
				</ul>
				<h3>Collections visible in app</h3>
				<ul>
					<li ng-repeat="tag in Tags | filter: { public: true }"><a href="/#/manage/collection/{{ tag.id }}">{{ tag.label }}</a></li>
					<li><a ng-click="showAddNewCollectionForm(true)"class="highlighted">Create a public collection</a></li>
				</ul>
			</div><!-- end of manage body left section -->
			<div id="manage-right" ng-class="{ loading: isEmpty(Videos) }">
				<div id="manage-toolbar"></div>
				<div id="manage-search-results">
					<ul>
						<li ng-repeat="video in Videos | filter: { title: searchText }" pl-draggable draggable="true">
							<a class="title">{{ video.title | elipsis:20 }}</a>
							<div class="frame" style="background: black url((~ video.thumbnails.items[0].url ~)) center center no-repeat; background-size: cover;">
								<div class="actions">
									<a ng-click="showAddToCollectionForm(video.id)">Add to a collection</a>
									<a href="/#/analytics/{{ video.id }}">Show me analytics</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>

    </div>
</div>