<h2>Add videos to a collection</h2>
<form name"editCollectionForm" ng-submit="submitAddToCollectionForm(data)">
	<div class="row">
		<label>Select a collection:</label>
		<select class="actions" ng-options="collection.label for collection in data.collections" ng-model="data.selectedAction" pl-toolbar-dropdown></select>
		<!-- <input type="text" ng-model="data.name" pl-focus-field/> -->
	</div>
	<div class="row">
		<input type="submit" value="Add to {{ data.selectedAction.title }}" />
	</div>	
	<div class="clear"></div>
</form>
<a class="icon-cross close-modal" ng-click="closeModal()"></a>