<h2>Change Password</h2>
<div class="modal-content">
	<form name"changePassword" ng-submit="savePassword(data)">
		<div class="row">
			<label>New password</label>
			<input type="text" ng-model="data.password1" pl-focus-field />
		</div>
		<div class="row">
			<label>confirm new password</label>
			<input type="text" ng-model="data.password2" />
		</div>
		<div class="row">
			<input type="submit" value="Save" />
		</div>	
		<div class="clear"></div>
	</form>
	<a class="icon-cross close-modal" ng-click="closeModal()"></a>
</div>