<a class="modal-close" ng-click="closeModal()"><i class="icon  icon--large  icon--cross"></i></a>
<div class="center-object">
  <header class="modal-header">
    <div class="wrapper">
      <h2 class="heading  alpha  u--ta-center">Change e-mail address</h2>
    </div>
  </header>
  <div class="modal-body">
    <div class="wrapper  wrapper--fixed">
    	<div class="text-col">
      	<form class="form-ui" name"changeEmailAddress" ng-submit="saveEmailAddress(data)">
      	  <fieldset class="form-ui__fieldset">
      	    <legend class="accessible">Change your email address.</legend>
      	    <ul class="form-fields">
      	      <!--<li>
      	        <label for="current-email" class="accessible">Current email address:</label>
      	        <input id="current-email" name="current-email" class="text-input" type="text" placeholder="Type your current email address.">
      	      </li>-->
      	      <li>
      	        <label for="new-email" class="accessible">New email address:</label>
      	        <input id="new-email" name="new-email" class="text-input" type="text" placeholder="Choose a new email address to use" ng-model="data.email" pl-focus-field>
      	      </li>
      	      <li>
      	        <div class="btn-center">
      	          <input type="submit" value="Save" class="btn  btn--positive">
      	        </div>
      	      </li>
      	    </ul>
      	  </fieldset>
      	</form>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <div class="wrapper">
    </div>
  </footer>
</div>