<div class="modal__title  split">
  <span class="split__title  t--block  w--600">Delete Video</span>
  <a class="modal__link" ng-click="close()"><i class="icon icon--medium icon--circle-cross"></i></a>
</div>
<div class="modal__content">
  <div class="media">
    <div class="media__img">
      <i class="icon icon--trash icon--large"></i>
    </div>
    <div class="media__body">
      <p class="organise-video-delete__msg">Are you sure you want to delete '{{video.title}}'?</p>
    </div>
  </div>
</div>
<div class="modal__footer">
  <div class="modal__actions">
    <a ng-click="close()" class="btn  btn--small">Cancel</a>
    <a ng-click="delete(video)" class="btn  btn--small  btn--positive">Okay</a>
  </div>
</div>