<h2>Create New Collection</h2>
<div class="modal-content">
	<form name"newCollectionForm" ng-submit="submitAddNewCollectionForm(data)">
		<div class="row">
			<!-- <label>Collection Name:</label> -->
			<input type="text" ng-model="data.label" pl-focus-field placeholder="Collections Name"/>
		</div>
		<div class="row">
			<!-- <label>Collection Description:</label> -->
			<input type="text" ng-model="data.description" placeholder="Collection Description"/>
		</div>
		<div class="row">
			<input type="submit" value="save" />
		</div>
		<div class="clear"></div>
	</form>
	<a class="icon-cross close-modal" ng-click="closeModal()"></a>
</div>