<ul class="nav  nav--stacked  notice-tray">
  <li ng-repeat="notification in notifications" class="notice  notice--{{ notification.status }}  animate  animate--flippable" ng-class="{ 'notice--active' : notification.active, 'animation--flipInX' : notification.show,  'animation--flipOutX' : notification.hide}">
    <div class="flag  flag--rev">
      <div class="flag__body">
        <p><b>{{ notification.title }}</b>:<br>
        {{ notification.message }}</p>
      </div>
      <div class="flag__img">
        <!--<a class="notice__dismiss" ng-click="removeNotification(notification.id); notification.show = false; notification.hide = true">
          <i class="icon  icon--cross"></i>
        </a>-->
      </div>
    </div>
  </li>
</ul>