<header class="page-header cf page-header--{{ $root.layoutMode }}">
  <h1 class="page-header__logo">
    <ng-switch on="$root.isCollaborator">
      <a class="page-header__logo-link hide-text" ng-switch-when="true">WonderPl</a>
      <a class="page-header__logo-link hide-text" href="/#/" ng-switch-default="">WonderPl</a>
    </ng-switch>
  </h1>

  <upload-progress upload="upload" ng-if="isLoggedIn"></upload-progress>

  <nav class="page-header__navigation" ng-if="isLoggedIn">
    <ul class="page-header__navigation-list">
      <li class="page-header__navigation-item"><a class="page-header__navigation-link page-header__link" href="/#/organise">manage</a></li>
      <li class="page-header__navigation-item"><a class="page-header__navigation-link page-header__link" href="/#/video">upload</a></li>
    </ul>
  </nav>

  <section class="page-header__current-user" ng-if="isLoggedIn">
    <a href="/#/profile" class="page-header__link page-header__profile-link  hide-text" ng-style="profile">{{ User.display_name }}</a>
  </section>

</header>