<section class="page-footer cf">
  <ul class="page-footer__items">
    <li class="page-footer__item"><a href="#" class="page-footer__link">iOS App</a></li>
    <li class="page-footer__item"><a href="#" class="page-footer__link">Help</a></li>
    <li class="page-footer__item"><a href="#" class="page-footer__link">API</a></li>
    <li class="page-footer__item"><a href="#" class="page-footer__link">Blog</a></li>
    <li class="page-footer__item"><a href="#" class="page-footer__link">Twitter</a></li>
    <li class="page-footer__item"><a href="#" class="page-footer__link">Facebook</a></li>
    <li class="page-footer__item"><a href="#" class="page-footer__link">LinkedIn</a></li>
    <li class="page-footer__item"><a href="#" class="page-footer__link">Instagram</a></li>

    <li class="page-footer__item"><a class="page-footer__link" ng-click="testNotify('success')">SUCCESS</a></li>
    <li class="page-footer__item"><a class="page-footer__link" ng-click="testNotify('warning')">WARNING</a></li>
    <li class="page-footer__item"><a class="page-footer__link" ng-click="testNotify('error')">ERROR</a></li>
    <li class="page-footer__item"><a class="page-footer__link" ng-click="testNotify('info')">INFO</a></li>

  </ul>
  <span class="page-footer__note">&copy; 2014 Wonder PL, Ltd.</span>
</section>