<footer class="page-footer" role="contentinfo">
  <div class="wrapper">
    <!--<ul class="nav  footer-nav">
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">iOS App</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">Help</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">API</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">Blog</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">Twitter</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">Facebook</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">LinkedIn</a></li>
      <li class="footer-nav__item"><a href="#" class="footer-nav__link">Instagram</a></li>
    
      <li class="footer-nav__item"><a class="footer-nav__link" ng-click="testNotify('success')">SUCCESS</a></li>
      <li class="footer-nav__item"><a class="footer-nav__link" ng-click="testNotify('warning')">WARNING</a></li>
      <li class="footer-nav__item"><a class="footer-nav__link" ng-click="testNotify('error')">ERROR</a></li>
      <li class="footer-nav__item"><a class="footer-nav__link" ng-click="testNotify('info')">INFO</a></li>
    
      <li class="footer-nav__item  f--right">&copy; 2014 Wonder PL, Ltd.</li>
    </ul>-->
    <div class="t--center">
      <span class="t--block  smallprint">&copy; 2014 Wonder PL, Ltd.</span>
    </div>
  </div>
</footer>