
<upload-progress></upload-progress>

<h1>PROTOTYPE</h1>

<section class="main-view video-view" ng-controller="PrototypeCtrl">

  <nav>
    <ul>
      <li>
        <a ng-click="displaySection('edit')">edit</a>
      </li>
      <li>
        <a ng-click="displaySection('comments')">comments</a>
      </li>
      <li>
        <a href="/#/manage">manage</a>
      </li>
      <li>
        <a href="/#/upload">upload</a>
      </li>
    </ul>
  </nav>


  <section class="video-view__edit" ng-class="{ 'video-view__edit--active' : isEdit }">

    <div ng-hide="hasVideo">

      <video-upload></video-upload>

      <video-thumbnail data-background="http://ak.c.ooyala.com/l0dWJnbjpLZ5hwo3aVaBFqpVICC63Wo3/3Gduepif0T1UGY8H4xMDoxOjBhOzV3Va"></video-thumbnail>

    </div>

    <div ng-show="hasVideo">

      <video-player url="http://localhost:5001/embed/viwAdAYl4is9rfPwmRE39MXA/?controls=1"></video-player>

    </div>

    <input ng-model="color" />
    <input color-picker ng-model="color" />

    <section class="video-more">
      <p class="video-more__link" medium-editor ng-model="more"></p>
    </section>

    <section class="video-view__description" medium-editor ng-model="text"></section>

    <video-share></video-share>

  </section>

  <section class="video-view__comments" ng-class="{ 'video-view__comments--active' : isComments }">

    <video-player url="http://localhost:5001/embed/viwAdAYl4is9rfPwmRE39MXA/?controls=1"></video-player>

    <video-indicators></video-indicators>

    <video-comments></video-comments>

  </section>

</section>

</div>






