<div ng-controller="TwitterLoginCtrl" autocomplete="off" class="login-view">
  <div class="center-container">
    <div class="center-object">
      <div class="wrapper">
        <form ng-submit="save()">
          <fieldset>
            <legend class="accessibility">Twitter Log in details:</legend>
            <ul class="form-fields  login-view__form">
              <li class="text-col">
                <h2>Nearly there</h2>
                <div class="login-view__input  icon-text">
                  <i class="icon  icon--mail  icon-text__icon"></i>
                  <label class="label login-view__label  accessibility" for="login-view__displayname">Full name</label>
                  <input type="text" ng-model="profile.display_name" autocomplete="off" class="text-input" id="login-view__displayname" placeholder="Full name" />
                </div>
                <div class="login-view__input  icon-text">
                  <i class="icon  icon--mail  icon-text__icon"></i>
                  <label class="label login-view__label  accessibility" for="login-view__username">Email Address</label>
                  <input type="text" ng-model="profile.username" autocomplete="off" class="text-input" id="login-view__username" placeholder="Email Address" />
                <location-selector>
                </location-selector>
              </li>
              <li class="text-col">
                <ul class="check-list">
                  <li>
                    <input type="checkbox" name="tandc" ng-model="tandc" required class="login-view__input_checkbox" id="tandc"/>
                    <label class="t--inline  login-view__label" for="tandc">By creating an account, I accept Wonder's <a href="http://wonderpl.com/tos">Terms of Service</a> </label>
                  </li>
                </ul>
              </li>
              <li class="text-col">
                <span class="login-view__errors" ng-bind="errors"></span>
                <div class="btn-center">
                  <button type="submit" class="btn btn--positive login-view__submit" ng-click="isLoading = true;" ng-disabled="!tandc">Save <img class="login-view__loading-indicator" src="/static/assets/img/loading.gif" ng-show="isLoading" /></button>
                </div>
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>