
<div id="page-upload" class="section" ng-controller="UploadController">
	<div class="inner">
		<quick-share></quick-share>
		<div class="inner centered">
			<!-- <div class="avatar"><img src="/static/assets/img/tom.jpg" width="64" alt="" /></div> -->
			<!-- <div id="upload-draft-status" class="f-serif">
				<span>
					{{ status.saved != null ? 'Last autosaved: ' + status.saved : 'Tip: Did you know that lorem ipsum dolor sit amet?' }}
				</span>
			</div> -->
			<form id="upload-form" ng-submit="saveMetaData($event)">
				<div class="row" id="title-row">
					<pre id="upload-title" type="text" ng-paste="cleanPaste($event)" placeholder="Video Title" pl-content-editable-placeholder pl-focus-field contenteditable auto-save-field></pre>
				</div>
				<div id="upload-dropzone" class="pl-upload-dropzone" ng-class="{ dashedborder : file.state == 'empty' }">

					<div class="backgrounds">
						<div ng-show="file.state == 'uploading' || file.state == 'complete'" class="thumbnail-background"></div>
						<div ng-show="file.state != 'empty' && file.thumbnail == null" class="confirm-background"></div>
					</div>

					<div class="dialogs">
						
						<span ng-show="file.state == 'empty'" class="empty-upper f-sans">Drag &amp; drop your video here</span>
						<span ng-show="file.state == 'empty'" class="empty-icon icon-drag"></span>
						<span ng-show="file.state == 'empty'" class="empty-lower f-sans">or choose a video from your computer</span>

						<input ng-show="file.state != 'uploading'" type="file" id="file-input" ng-file-select="onFileSelect($files)">

						<div ng-show="file.state == 'chosen'" class="confirm-label f-serif">Is "{{ file.name }}" correct?</div>
						<a ng-show="file.state == 'chosen'" class="confirm-cancel">Choose a different file</a><!--
						--><a ng-show="file.state == 'chosen'" class="confirm-proceed" ng-click="startUpload()">Upload</a>
						
						<div ng-show="file.state == 'uploading'" class="progress-bar">
							<div class="inner-wrapper">
								<div class="inner" style="width: {{ file.upload.progress }}%;"></div>
							</div>
						</div>
						<div ng-show="file.state == 'uploading'" class="progress-percentage f-serif">{{ file.upload.progress | wholeNumber }}%</div>

						<a ng-show="file.state == 'complete'" class="upload-complete icon-upload-complete"></a>
						<div ng-show="file.state == 'complete'" class="upload-complete-message f-sans">Great, your video has finished processing and is ready, now you can pick a thumbnail</div>
						<a ng-show="file.state == 'complete' && file.thumbnail == null" ng-class="{ enabled: file.upload.progress >= 55 }" class="progress-pick-a-thumbnail" ng-click="showThumbnailChooser()">Let's pick a thumbnail</a>

					</div>

				</div>
				<div class="row" id="upload-buttons">
					<a href="#"></a>
				</div>
				<div class="row f-serif" id="description-row">
					<pre id="upload-description" placeholder="Video description" ng-paste="cleanPaste($event)" pl-content-editable-placeholder contenteditable auto-save-field></pre>
				</div>
				<div class="row" id="category-row">
					<a id="category-chooser" ng-click="showCategories()" class="f-sans">{{ chosenCategory.label || 'Select a category' }}<span>{{ chosenCategory.label != undefined ? '...' : '+' }}</span></a>
				</div>

<!-- 				<video id="video" src="" video-thumbnail-grabber preload></video>
				<canvas id="canvas"></canvas> -->
			</form>
		</div>
		
	</div>
</div>