<!-- <div class="section">
  <ul id="breadcrumb" class="inner">
    <li class="home"><a href="/#/" class="icon-home"></a></li>
    <li><span class="divider">/</span> <span>Upload</span></li>
   </ul>
</div>
 -->

<div id="page-upload" class="section" ng-controller="UploadController">
	<div class="inner">
		<!-- <h1>Upload your content to Romeo</h1> -->

		<!-- STAGE ONE -->
		<div class="inner centered" ng-if="fileDropped == false">
			<div id="upload-dropzone" class="pl-upload-dropzone">
				<label>
					Choose your files below to upload them.<br/>
					<input type="file" onchange="angular.element(this).scope().fileNameChanged()">
				</label>
			</div>
		</div><!--
		<div class="inner half-width" ng-if="fileDropped == false">
			<div id="upload-instructions">
				<div class="tooltip">
					<h4><span class="icon-info"></span>Uploading your content is easy</h4>
					<ul>
						<li>&bull; Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>&bull; Quos, doloremque aperiam molestias magni dolore beatae enim non dolorem.</li>
						<li>&bull; Ipsum facere aperiam saepe voluptate magnam minima velit ratione ad ea qui.</li>
					</ul>
				</div>
			</div>
		</div>-->
		<!-- END OF STAGE ONE -->

		<!-- STAGE TWO -->
		<div class="inner" ng-if="fileDropped == true">
			<div id="upload-progress-wrapper">
				<div class="bar">
					<div class="progress"></div>
				</div>
				<div class="percentage">Uploading...</div>
			</div><!--
			--><div id="upload-info-wrapper">
				<h2>Tell us about your content...</h2>
				<form ng-submit="createVideo(data)">
					<div class="row">
						<label>Video Title</label>
						<input type="text" ng-model="newVideo.title" pl-focus-field>
					</div>
					<div class="row">
						<label>Video Description</label>
						<input type="text" ng-model="newVideo.description">
					</div>
					<div class="row">
						<label>Video Category</label>
						<select ng-model="newVideo.category">
				            <option value="" default="" selected=""></option>
				            
				            <optgroup label="Food">
				              
				                <option value="11">Chefs &amp; Recipes</option>
				              
				                <option value="12">Wine &amp; Drink</option>
				              
				                <option value="113">Healthy Eats</option>
				              
				                <option value="10">Baking</option>
				              
				            </optgroup>
				            
				            <optgroup label="Culture">
				              
				                <option value="114">Men's Fashion</option>
				              
				                <option value="56">Fashion</option>
				              
				                <option value="51">The Arts</option>
				              
				                <option value="54">LIterature</option>
				              
				                <option value="50">Culture Shock</option>
				              
				                <option value="112">Filmmakers</option>
				              
				                <option value="52">Architecture &amp; Design</option>
				              
				                <option value="102">Galleries</option>
				              
				                <option value="105">Nature &amp; Science</option>
				              
				                <option value="53">News Stand</option>
				              
				            </optgroup>
				            
				            <optgroup label="Mind">
				              
				                <option value="60">Inspirational</option>
				              
				                <option value="64">Life Skills</option>
				              
				                <option value="63">Causes</option>
				              
				                <option value="61">Education</option>
				              
				                <option value="110">Technology</option>
				              
				                <option value="65">Business</option>
				              
				                <option value="108">Travel &amp; Adventure</option>
				              
				            </optgroup>
				            
				            <optgroup label="Entertainment">
				              
				                <option value="106">Animation &amp; Shorts</option>
				              
				                <option value="41">Interviews</option>
				              
				                <option value="42">Classic Clips</option>
				              
				                <option value="43">Vintage Videos</option>
				              
				                <option value="44">Music</option>
				              
				            </optgroup>
				            
				            <optgroup label="Wellness">
				              
				                <option value="23">Beauty</option>
				              
				                <option value="21">Fitness</option>
				              
				                <option value="20">Wellness</option>
				              
				                <option value="22">Yoga &amp; Meditation</option>
				              
				            </optgroup>
				            
				            <optgroup label="Home &amp; Family">
				              
				                <option value="33">How-To</option>
				              
				                <option value="104">Environment</option>
				              
				                <option value="30">Homes &amp; Gardens</option>
				              
				                <option value="31">i-Nanny</option>
				              
				            </optgroup>
				          </select>

					</div>
					<div class="row">
						<label>Add your video to a collection</label>
						<select class="actions" ng-options="collection.label for collection in collections" ng-model="newVideo.collections"></select>
					</div>
					<div class="row">
						<input type="submit" value="Publish">	
					</div>
				</form>
			</div>
			
		</div>
		<!-- END OF STAGE TWO -->
	</div>
</div>