<div class="section">
  <ul id="breadcrumb" class="inner">
    <li class="home"><a href="/#/" class="icon-home"></a></li>
    <li><span class="divider">/</span> <a href="/#/library">Library</a></li>
    <li><span class="divider">/</span> <span>{{ $rootScope.pagetitle }}</span></li>
   </ul>
</div>

<div id="page-video-single" class="section" ng-controller="VideoController">
	<div class="inner">
		<h1>{{ video.title }}</h1>
		
		<div class="inner half-width left">
			<h3>Edit your video details</h3>
			<form action="#">
				<div class="row">
					<label>Video Title</label>
					<input type="text" ng-model="video.title" />
				</div>
				<div class="row">
					<label>Video Description</label>
					<textarea name="" id="" ng-model="video.description"></textarea>
				</div>
				<div class="row half-width left"><label>Mood</label><input type="text" placeholder="Intrigued" /></div><!--
				--><div class="row half-width"><label>Click to more link</label><input type="text" placeholder="www.google.com"/></div>
				<!-- <div class="row"><label>Video</label><input type="text" /></div> -->
				<div class="row half-width left">
					<label>Video Thumbnail</label>
					<div class="thumbnail-picker">
						<span class="icon-pictures"></span>
					</div>
				</div><!--
				--><div class="row half-width">
					<label>Meta data</label><input class="margin-bottom" type="text"/>
					<label>Content data</label><input type="text"/>
				</div>
			</form>
		</div><!--
		--><div class="inner half-width right">
			<div class="wonder-embed">
				<iframe src="http://wonderpl.com/embed/viwAdAYl4is9rfPwmRE39MXA/" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
			</div>
			<h3>Customise your embeddable player</h3>
			<div id="customize-player">
				<form action="">
					<div class="row">
						<label>Embed Link</label>
						<!-- <input type="text" value="wonderpl.com/embed/vieasdasdads"> -->

						<!-- <iframe src="//player.vimeo.com/video/88737187?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=c9ff23" width="443" height="197" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/88737187">Made in Tohoku</a> from <a href="http://vimeo.com/theinouebrothers">The Inoue Brothers</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->

						<input type="text" value="<iframe src=&quot;(( embedurl ))&quot; width=&quot;100%&quot; height=&quot;100%&quot; frameborder=&quot;0&quot; allowfullscreen></iframe>" />
					</div>
					<div class="row">
						<input type="text" placeholder="Width" class="dimension" /><input type="text" placeholder="Height" class="dimension height" />
						<span class="padding top">
							<input type="checkbox" class="inline-block margin-right" /><label class="inline-block">Maintain aspect-ratio?</label>	
						</span>
					</div>
				</form>
			</div>
		</div>

		<div id="top-right-links">
			<ul>
				<!-- <li><a href="#"></a></li> -->
				<!-- <li><a href="/#/tools/{{ video.id }}"><span class="icon-tools"></span>Monetization Tools</a></li> -->
				<li><a href="/#/analytics/{{ video.id }}"><span class="icon-graph"></span>View Analytics</a></li>
			</ul>
		</div>
	</div>
</div>