<section class="video-thumbnail">

  <a class="video-thumbnail__option video-thumbnail__option--select" ng-class="{ 'video-thumbnail__option--disabled' : video.status !== 'ready' }" ng-hide="showThumbnailSelector" ng-click="(video.status !== 'ready') || selectThumbnail()">select generated</a>

  <a class="video-thumbnail__option video-thumbnail__option--upload" ng-hide="showThumbnailSelector" ng-click="uploadThumbnail()">upload</a>

  <section class="video-thumbnail__selector" style="background-image: url('{{ background }}');" ng-show="showThumbnailSelector">

    <section class="video-thumbnail__select-controls">
      <a ng-click="previousBackground()">previous</a>
      <span>({{ previewIndex + 1 }}/{{ previewImages.length }})</span>
      <a ng-click="nextBackground()">next</a>

      <a class="video-thumbnail__select-link" ng-click="setBackground()">select</a>
    </section>

  </section>

</section>