<section class="video-view-control-panel">
  <ul class="video-view-control-panel__modes">
    <li class="video-view-control-panel__mode">
      <a class="video-view-control-panel__link" ng-click="displaySection(edit)">edit</a>
    </li>
    <li class="video-view-control-panel__mode">
      <a class="video-view-control-panel__link" ng-click="displaySection(review)">review</a>
    </li>
    <li class="video-view-control-panel__mode">
      <a class="video-view-control-panel__link" ng-click="displaySection(comments)">comment</a>
    </li>
  </ul>
</section>