
<div ng-controller="VideoCtrl">

  <video-navigation></video-navigation>

  <section class="main-view video-view">

    <h2 class="video-view__title" medium-editor ng-model="title"></h2>

    <video-player ng-show="hasVideo" url="http://localhost:5001/embed/viwAdAYl4is9rfPwmRE39MXA/?controls=1"></video-player>

    <video-upload ng-hide="hasVideo"></video-upload>

    <video-thumbnail ng-show="hasSelectedVideo && !hasVideo" data-background="http://ak.c.ooyala.com/l0dWJnbjpLZ5hwo3aVaBFqpVICC63Wo3/3Gduepif0T1UGY8H4xMDoxOjBhOzV3Va"></video-thumbnail>

    <video-color-picker ng="hasVideo"></video-color-picker>


    <!-- swap this for same-style link as on other page -->
    <section class="video-more">
      <p class="video-more__link" medium-editor ng-model="more"></p>
    </section>




    <section class="video-view__description" medium-editor ng-model="text"></section>

    <video-share></video-share>

    <video-indicators ng-show="hasVideo"></video-indicators>

    <video-comments ng-show="hasVideo"></video-comments>

  </section>

</div>





