<section class="video-more">

  <a class="video-more__link button" ng-click="(showMoreLinkConfigPanel = !showMoreLinkConfigPanel)" ng-show="isEdit">{{ text ? text : 'Add a link (optional) &hellip;' }}</a>

  <a class="video-more__link button" href="{{ url }}" ng-hide="isEdit">{{ text }}</a>

  <section class="video-more__form" ng-class="{ 'video-more__form--active' : showMoreLinkConfigPanel }" ng-show="isEdit">

    <section class="video-more__controls-container">

      <input class="video-more__input" ng-model="text" placeholder="Create a custom button..." />

      <input class="video-more__input" ng-model="url" placeholder="http://google.com/" />

    </section>

  </section>

</section>