
<div ng-controller="VideoCtrl">

  <video-navigation></video-navigation>

  <section ng-cloak class="main-view video-view">

    <h2 class="video-view__title"
      data-placeholder="{{ titlePlaceholder }}"
      medium-editor
      options="{ disableToolbar : true }"
      ng-model="video.title"
      ng-show="isEdit">
    </h2>
    <h3 class="video-view__sub-title"
      data-placeholder="{{ straplinePlaceholder }}"
      medium-editor
      options="{ disableToolbar : true }"
      ng-model="video.strapline"
      ng-show="isEdit">
    </h2>

    <h2 class="video-view__title" ng-hide="isEdit" ng-bind-html="video.title"></h2>
    <h3 class="video-view__sub-title" ng-hide="isEdit" ng-bind-html="video.strapline"></h2>

    <div class="video-view__container">
      <video-upload ng-show="showUpload && isEdit"></video-upload>
      <video-player ng-show="hasProcessed" embed-url="embedUrl"></video-player>
      <video-edit ng-show="showVideoEdit && isEdit"></video-edit>
      <video-color-picker player-parameters="playerParameters" video-id="{{ video.id }}" ng-show="showColorPicker && isEdit"></video-color-picker>
      <video-thumbnail ng-show="showPreviewSelector && isEdit"></video-thumbnail>
    </div>

    <video-more-link
      text="video.link_title"
      url="video.link_url"
      is-edit="{{ isEdit }}"
      ng-show="(isEdit || video.link_title && video.link_url) && !isComments">
    </video-more-link>

    <section class="video-view__description"
      ng-class="{ 'video-view__description--edit' : isEdit }"
      data-placeholder="{{ descriptionPlaceholder }}"
      medium-editor
      options="{ buttons : ['bold', 'italic', 'underline', 'header1', 'header2'] }"
      ng-model="video.description"
      ng-show="isEdit">
    </section>

    <section class="video-view__description" ng-bind-html="video.description" ng-hide="isComments || isEdit"></section>

    <video-share video="video" has-tags="{{ video.tags && video.tags.items && video.tags.items.length > 0 }}" ng-hide="isComments" video-id="{{ video.id }}"></video-share>

    <section class="video-extended-controls" ng-show="isEdit">

      <section class="video-extended-controls__section" ng-class="{ 'video-extended-controls__section--expanded' : addCategoryShow }">
        <span class="video-extended-controls__indicator video-extended-controls__indicator--more"
          ng-click="addCategoryShow = !addCategoryShow"
          ng-hide="addCategoryShow">
          +
        </span>
        <span class="video-extended-controls__indicator video-extended-controls__indicator--less"
          ng-click="addCategoryShow = !addCategoryShow"
          ng-show="addCategoryShow">
          -
        </span>
        <category-add-video selected-category="video.category"
          show-category="addCategoryShow"
          class="video-extended-controls__section-contents">
        </category-add-video>
        <span class="button button--primary" ng-click="save(); addCategoryShow = !addCategoryShow">Done</span>
      </section>

      <section class="video-extended-controls__section"
        ng-class="{ 'video-extended-controls__section--expanded' : addCollectionShow }">
        <span class="video-extended-controls__indicator video-extended-controls__indicator--more"
          ng-click="addCollectionShow = !addCollectionShow"
          ng-hide="addCollectionShow">
          +
        </span>
        <span class="video-extended-controls__indicator video-extended-controls__indicator--less"
          ng-click="addCollectionShow = !addCollectionShow"
          ng-show="addCollectionShow">
          -
        </span>
        <collection-add-video available-tags="tags"
          video="video"
          show-collection="addCollectionShow"
          class="video-extended-controls__section-contents">
        </collection-add-video>
        <span class="button button--primary" ng-click="save(); addCollectionShow = !addCollectionShow">Done</span>
      </section>

      <section class="video-extended-controls__section" ng-class="{ 'video-extended-controls__section--expanded' : addCollaboratorShow }">
        <span class="video-extended-controls__indicator video-extended-controls__indicator--more"
          ng-click="addCollaboratorShow = !addCollaboratorShow"
          ng-hide="addCollaboratorShow">
          +
        </span>
        <span class="video-extended-controls__indicator video-extended-controls__indicator--less"
          ng-click="addCollaboratorShow = !addCollaboratorShow"
          ng-show="addCollaboratorShow">
          -
        </span>
        <add-collaborator class="video-extended-controls__section-contents"
          show-collaborator="addCollaboratorShow">
        </add-collaborator>
      </section>

    </section>

    <section class="video-view__comments" ng-show="video.id && isComments"><!-- video.status === 'published'" -->
      <div class="video-view__comments-section--left">
        <video-indicators comments="comments" current-time="videoCurrentTime" total-time="videoTotalTime"></video-indicators>
        <video-frame-stepper current-time="videoCurrentTime"></video-frame-stepper>
        <video-comments notified="notified" comments="comments" video-id="{{ video.id }}" current-time="videoCurrentTime"></video-comments>
      </div>
      <div class="video-view__comments-section--right">
        <video-collaborators notified="notified" ng-show="video.id && isComments" collaborators="collaborators" video-id="{{ video.id }}"></video-collaborators>
      </div>
    </section>

    <div class="video-view__save-controls" ng-show="isEdit">
      <a ng-click="cancel()" class="button">cancel</a>
      <a ng-click="save()" class="button button--primary">save changes</a>
    </div>

  </section>

</div>





