<section class="video-indicators">
  <div class="video-indicators__scrubber" ng-model="scrubber" style="left: {{ (currentTime/totalTime)*100 }}%"></div>
  <ul class="video-indicators__comment-indicators">
    <li class="video-indicators__comment-indicator"
      ng-class="{ 'video-indicators__comment-indicator--active' : isTimeSync(comment.timestamp) }"
      ng-repeat="comment in comments"
      style="left: {{ (comment.timestamp/totalTime)*100 }}%;">
      <a data-id="{{ comment.id }}" class="video-indicators__comment-link" ng-click="seek(comment.timestamp)"></a>
    </li>
  </ul>
</section>