.video-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: none;
          transform: none;
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &.ng-hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: scale(0.8) translateY(-25%);
            transform: scale(0.8) translateY(-25%);
  }
}


.show-modal-button {
  position:absolute;
  top: 0;
  left: 0;
}

.video-modal__overlay {
  position:absolute;
  top:  0;
  left: 0;
  height: calc(100% - 38px);
  width: 100%;
  background: rgba($white, 0.98);
}

.video-modal__window {
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video-modal__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.modal__content--video {
  max-height: none;
}