<section class="sub-navigation video-view-control-panel sub-navigation--{{ flags.isComments ? $root.layoutMode : 'column' }}">
  <div class="wrapper">
    <ul class="sub-navigation__modes">
      <li class="sub-navigation__mode  f--left">
        <video-download video-id="videoId" ng-show="videoId && (flags.canDownload || flags.isOwner) && (videoStatus == 'published' || videoStatus == 'ready') && !flags.isReview"></video-download>
      </li>
      <li class="sub-navigation__mode  f--left" ng-if="!flags.isOwner && !isCollaborator && flags.canDownload">
        <a class="btn  btn--utility  icon-text" ng-click="copyToAccount()"><i class="icon  icon--paper-stack  icon-text__icon"></i>Copy video to my account</a>
      </li>
      <li class="sub-navigation__mode" ng-show="flags.isEdit">
        <a class="sub-navigation__btn btn btn--positive  icon-text"
         ng-class="{ 'sub-navigation__btn--active' : flags.isEdit }"
         ng-click="save()">
          <i class="icon  icon--check  icon-text__icon"></i>
          Save Changes
        </a>
      </li>
      <li class="sub-navigation__mode" ng-show="flags.isEdit">
        <a class="sub-navigation__btn btn icon-text" ng-click="cancel()">
          <i class="icon  icon--cross  icon-text__icon"></i>
          Discard
        </a>
      </li>
    </ul>
  </div>
</section>