<ul id="video-list-grid" class="library" ng-class="{ loading: loading }">
    <li pl-draggable draggable="true" ng-repeat="(key, video) in filter.results" class="row" data-id="{{ key }}" style="background: transparent url({{ video.thumbnail }}) center center no-repeat; background-size: 100% auto;">
        <div class="content">
            <span class="title">{{ video.title }}</span>
            <span class="number-of-collections" ng-click="showAllCollections($event,key)">( in <span ng-class="{ active: video.collections.length > 0}">{{ video.collections.length }} collections</span> )</span>
            <a href="#/video/{{ key }}" class="button edit"><span class="icon-info"></span></a>
            <a href="#/analytics/{{ key }}/overview" class="button analytics" title="View analytics for this video"><span title="View analytics for this video" class="icon-pie"></span></a>
            <div data-id="{{ key }}" class="pl-checkbox"></div>
        </div>
    </li>
</ul>