<div>
  <header class="video-extended-controls__section-header">
    <h4 class="video-extended-controls__section-header-title">
      <span ng-click="showHideCollectionCtrl()">
        {{ getTitle() }}
      </span>
    </h4>

    <ul ng-show="video.tags.items.length" class="video-edit-collections__assigned-tags">
      <li ng-repeat="tag in video.tags.items" class="video-edit-collections__assigned-tag">
        <span class="" ng-bind-html="tag.label"></span>
        <span class="video-edit-collections__remove-tag" ng-click="removeTag(tag.id, $event)">&times;</span>
      </li>
    </ul>
  </header>

  <section class="video-edit-collections" ng-show="addCollectionShow">
    <ul class="video-edit-collections__options">
      <li class="video-edit-collections__option" ng-click="hideAddRemoveAndShowCreateCollection()">
        <span class="video-edit-collections__option-title">Create New Collection</span>
        <span class="video-edit-collections__option-count"></span>
      </li>

      <li class="video-edit-collections__option video-edit-collections__option--private" data-videos="{{ tag.video_count }}"
        ng-class="{
          'video-edit-collections__option--selected' : hasTag(tag.id)
        }"
        ng-repeat="tag in tags"
        ng-click="addTag(tag.id, $event)">
        <span class="video-edit-collections__option-title" ng-bind-html="tag.label"></span>
        <ng-switch ng-show="tag.video_count" on="tag.video_count">
          <span class="video-edit-collections__option-count">
            <ng-pluralize count="tag.video_count"
              when="{
                '0'     : 'no videos',
                '1'     : '1 video',
                'other' : '{{ tag.video_count }} videos'}">
            </ng-pluralize>
          </span>
      </li>
    </ul>
  </section>
</div>