<section class="video-more">

  <a class="video-more__link btn"
    ng-click="(showMoreLinkConfigPanel = !showMoreLinkConfigPanel)"
    title="You can add a button, which will appear under your video in the Wonder App that takes you to any website.&#013;&#013;Simply add the text for the button (up-to 30 characters) and type in the URL you want to go to.">
    {{ video.link_title ? video.link_title : 'Add a link (optional) &hellip;' }}
  </a>

  <section class="text-col">
    <section class="video-more__controls-container">

      <form name="videoMoreLink" ng-submit="videoMoreLink.$valid && save(); isSubmitted = true">

        <label class="video-more__label video-more__label--text">
          <input class="video-more__input video-more__input--short"
            name="linkTitle"
            ng-model="video.link_title"
            placeholder="Custom text&hellip;"
            required
            ng-maxlength="30" />
          <span class="video-more__character-count"
            ng-bind="remaining"></span>
        </label>

        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.linkTitle.$error.required">Enter text</span>
        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.linkTitle.$error.maxlength">Too many characters</span>

        <label class="video-more__label video-more__label--link">
          <input class="video-more__input"
            name="url"
            ng-model="video.link_url"
            required
            placeholder="Link URL" />
        </label>

        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.url.$error.pattern">Incorrect format: http://&hellip;</span>
        <span class="video-more__error" ng-show="isSubmitted && videoMoreLink.url.$error.required">Enter URL</span>

        <p class="video-more__hint"><strong>Hint:</strong> Drive traffic to your website by adding a link</p>
      </form>

    </section>

  </section>

</section>