<section class="video-config-nav">
  <ul class="nav  nav--stacked">
    <li><a class="btn btn-arrow  btn-arrow--left" ng-class="{ 'active' : modalSelection === 'cover' }" ng-click="showSection('cover')">update cover</a></li>
    <li><a class="btn btn-arrow  btn-arrow--left" ng-class="{ 'active' : modalSelection === 'player' }"  ng-click="showSection('player')">edit player</a></li>
    <li><a class="btn btn-arrow  btn-arrow--left" ng-class="{ 'active' : modalSelection === 'controls' }"  ng-click="showSection('controls')">extended controls</a></li>
    <li><a class="btn btn-arrow  btn-arrow--left" ng-class="{ 'active' : modalSelection === 'description' }"  ng-click="showSection('description')">description</a></li>
  </ul>
</section>