<div class="video-modal video-modal__overlay">

  <div class="video-modal__window">

    <div class="video-modal__header modal__title  split">
      <span class="split__title  t--block  w--600">Configure Video</span>
      <a class="modal__link" ng-click="close($event)"><i class="icon icon--medium icon--circle-cross"></i></a>
    </div>

    <div class="video-modal__container modal__content modal__content--video">

      <cover-selector ng-if="modalSelection === 'cover'" video="video"></cover-selector>
      <player-editor ng-if="modalSelection === 'player'" player-parameters="playerParameters" video="video"></player-editor>
      <extended-controls ng-if="modalSelection === 'controls'" player-parameters="playerParameters"></extended-controls>
      <edit-description ng-if="modalSelection === 'description'" video="video"></edit-description>

    </div>
    <div class="video-modal__footer modal__footer">
      <div class="modal__actions">
      </div>
    </div>
  </div>

</div>
