.organise-video-list {
  max-width: 100%;
  text-align: center;
}

.organise-video-list__display-controls {
  text-align: right;
  margin-bottom: 12px;
}

.organise-video-list__videos {
  text-align: left;
}

.organise-video-list__video {
  display: inline-block;
  width: 32.5%;
  min-width: 200px;
  margin-right: 8px;
  margin-bottom: 12px;
  vertical-align: top;
}

.organise-video-list__video--list {
  display: block;
  width: 100%;
  border-bottom: solid 1px $light-grey;
  padding: 12px 0;
}

.organise-video-list__video--last {
  margin-right: 0;
}

.organise-video-list__message {
  display: inline-block;
  margin: 2em auto;
  text-align: center;
}

.organise-video-list__list-controls {
  text-align: right;
  margin-bottom: 24px;
}

.organise-video-list__select {
  @extend .small-font;
  @include vendor(appearance, none);
  padding-left: 1em;
  padding-right: 2em;
}

.organise-video-list__list-control-label {
  margin: 0 24px;
}
