.organise-video {
}

.organise-video__title {
  @extend .truncate;
  @extend .truncate--two;
  @extend .small-font;
  font-weight: 800;
  height: 3em;
  margin-bottom: 1em;
  margin-left: 2px;
}

.organise-video__link {
  display: block;
  color: $white;
}

.organise-video__link:hover {
  text-decoration: underline;
}

.organise-video__controls-container {
  display: block;
  height: 122px;
  background-color: $dark-grey;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.organise-video__overlay {
  position: relative;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s linear;
  opacity: 0;
}

.organise-video__overlay:hover {
  opacity: 1;
}

.organise-video__controls-mask {
  transition: opacity 0.4s linear;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $black;
  opacity: 0.6;
}

.organise-video__controls {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.organise-video__controls:hover {
  cursor: pointer;
}

.organise-video__inline-controls {
  float: left;
  margin-right: 12px;
}



.organise-video__inline-title {
  font-weight: 800;
}

.organise-video__inline-control {
  display: inline-block;

  & + & {
    margin-left: 4px;
  }
}

.organise-video__inline-link {

}

.organise-video__inline-link:hover {
  cursor: pointer;
}








