.organise__main {
  @extend .regular-font--sans;
  max-width: 670px;
  min-width: 400px;
  display: inline-block;
}

.organise-collection {
  max-width: 100%;
  vertical-align: top;
  padding: 0 100px 12px 130px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-image: url('/static/assets/img/video-collection__tag.png');
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
  border-bottom: solid 1px $light-grey;
  min-height: 10em;
}

.organise-collection__title {
  @extend .large-font;
}

.organise-collection__visibility {
  @extend .small-font;
  text-transform: lowercase;
  font-variant: small-caps;
  color: $grey;
}

.organise-collection__button {
  position: absolute;
  right: 0;
}

.organise-collection__button--edit {
  top: 0;
}

.organise-collection__button--save {
  top: 0;
}

.organise-collection__button--delete {
  bottom: 12px;
}



