.organise-navigation {
  @extend .regular-font--sans;
  display: inline-block;
  width: 260px;
  margin-right: 24px;
  margin-top: 24px;
  vertical-align: top;
}

.organise-navigation__nav-items {
  margin-bottom: 24px;
}

.organise-navigation__nav-item {
  color: $dark-grey;
}

.organise-navigation__nav-item--collection {
  color: $dark-green;
}

.organise-navigation__nav-item--new {

}

.organise-navigation__nav-item--title {
  text-transform: lowercase;
  font-variant: small-caps;
  color: $grey;
}

.organise-navigation__link:hover {
  cursor: pointer;
  text-decoration: underline;
}