/*
Error: File to import not found or unreadable: _components/components.global-nav-menu.
       Load paths:
         Compass::SpriteImporter
         /Users/johan/wonder/romeo/wonder/romeo/static/scss
         /Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets
        on line 46 of /Users/johan/wonder/romeo/wonder/romeo/static/scss/app.scss

41:   "_objects/objects.box",
42:   "_objects/objects.button",
43:   "_objects/objects.button-group",
44:   "_objects/objects.rules",
45: 
46:   "_components/components.global-nav-menu",
47:   "_components/components.global-nav-core-actions",
48:   "_components/components.avatars",
49:   "_components/components.center-object",
50:   "_components/components.ratios",
51:   "_components/components.truncate-text",

Backtrace:
/Users/johan/wonder/romeo/wonder/romeo/static/scss/app.scss:46
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/import_node.rb:45:in `import'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/engine.rb:268:in `render'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `load'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/bin/compass:19:in `<main>'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/bin/ruby_executable_hooks:15:in `eval'
/Users/johan/.rvm/gems/ruby-1.9.3-p286/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: _components/components.global-nav-menu.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/johan/wonder/romeo/wonder/romeo/static/scss\A          /Users/johan/.rvm/gems/ruby-1.9.3-p286/gems/compass-core-1.0.1/stylesheets\A         on line 46 of /Users/johan/wonder/romeo/wonder/romeo/static/scss/app.scss\A \A 41:   \"_objects/objects.box\",\A 42:   \"_objects/objects.button\",\A 43:   \"_objects/objects.button-group\",\A 44:   \"_objects/objects.rules\",\A 45: \A 46:   \"_components/components.global-nav-menu\",\A 47:   \"_components/components.global-nav-core-actions\",\A 48:   \"_components/components.avatars\",\A 49:   \"_components/components.center-object\",\A 50:   \"_components/components.ratios\",\A 51:   \"_components/components.truncate-text\","; }
