<section class="video-collaborators video-collaborators--{{ $root.layoutMode }}">

  <header class="video-collaborators__header">
    <h4 class="video-collaborators__title  no-spacing">collaborators <a class="show-modal-indicator" fullscreen-modal="video-add-collaborator" ng-if="flags.isOwner">[+]</a></h4>
    <a class="btn  btn--small  btn--positive  video-collaborators__notify  f--right"
      ng-click="!flags.notified && notify(videoId)"
      ng-class="{ 'btn--disabled' : flags.notified || !collaborators || !comments.length }">Notify All</a>
  </header>

  <p class="video-collaborators__none-message" ng-hide="collaborators">You have no collaborators!</p>

  <ul class="nav  nav--stacked  video-collaborators__collaborators" ng-show="collaborators">
    <li class="video-collaborators__collaborator" ng-repeat="collaborator in collaborators">
      <div class="media">
        <div class="media__img">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="video-collaborators__collaborator-image" ng-style="{ 'background-image' : 'url(' + collaborator.avatar + ')' }">
        </div>
        <div class="media__body">
          <span class="video-collaborators__collaborator-name truncate" ng-bind="collaborator.display_name"></span>
        </div>
      </div>
    </li>
  </ul>

</section>