/**
 * _theme.browse-list.scss
 */
.browse-list {
  margin: 0;
  margin-bottom: $base-spacing-unit;
  font-family: $heading-font-family;

  > li {
    margin-bottom: 4px;
  }  
}

  .browse-list__title {
    margin-bottom: 6px;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1.125em;
    text-transform: lowercase;
    letter-spacing: 0.1em;
    color: $swatch-two;
  }
    .browse-list__link {
      display: block;
      margin: -4px -6px -4px 18px;
      padding: 4px 6px;
      font-size: 0.875em;
      line-height: 1.75;
      color: $swatch-four;
      text-decoration: none;
      border: none;
      cursor: pointer;
      -webkit-transition: background-color 0.15s ease-in-out;
              transition: background-color 0.15s ease-in-out;

      &:hover {
        color: $swatch-three;
        background-color: rgba($swatch-two,0.12);
        border-radius: 3px;
      }
    }
    .browse-list__link--create { font-weight: 600; }

    .browse-list__link--active {
      font-weight: bold;

      &,
      &:hover,
      &:active,
      &:focus {
        color: $swatch-five;
        background-color: transparent;
        cursor: default;
      }
    }