/**
 * _theme.structure.scss
 */
.wrapper {
  margin-right: auto;
  margin-left:  auto;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;
  position: relative;
  @extend .cf;
}

.wrapper--fixed {
  width: 63em;
}