/**
 * _theme.page-logo.scss
 */
.page-logo {
  width: 185px;
  height: 15px;
  margin-top:    $half-spacing-unit;
  margin-right:  $base-spacing-unit;
  margin-bottom: $half-spacing-unit;
  position: relative;
  float: left;

  &,
  &:hover {
    border-bottom: 0;
  }

  &,
  > img {
    display: block;
  }
}

.page-logo__img {
  background-image: url(/static/assets/img/wonder-logo-185x15.svg);
  @extend %img--full;
}