/**
 * _theme.browse-list.scss
 */
.browse-list {
  margin: 0;
  margin-bottom: $base-spacing-unit;
  font-family: $heading-font-family;
  border: 0;

  &:first-of-type {
    padding-top: $half-spacing-unit;
  }

  > li {
    margin-bottom: 4px;
    padding: 0;
    border: 0;
  }  
}

  .browse-list__title {
    font-weight: bold;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $swatch-two;
  }
    .browse-list__link {
      display: block;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-: -4px -6px -4px 18px;
      padding: 4px 6px;
      font-size: 1em;
      line-height: 1.25;
      color: $base-color-text;
      border: 1px solid transparent;
      border-radius: 3px;
      cursor: pointer;
      -webkit-transition: 0.15s ease-in-out;
              transition: 0.15s ease-in-out;

      &:hover {
        text-decoration: underline;
        border-color: rgba($base-color-ui,0.25);
      }
    }

    .browse-list__link--create {
      text-decoration: underline;
      margin-bottom: 4px;
      /* !Note! – Find a better property to transition, for performance purposes. */
      font-weight: bold;
      text-indent: -20px;
      //border: $base-shadow-outline;
      border-color: rgba($base-color-ui,0.25);
      -webkit-transition: text-indent 0.15s ease-in-out;
              transition: text-indent 0.15s ease-in-out;

      > .icon {
        margin-right: 6px;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
        -webkit-transition: all 0.15s ease-in-out;
                transition: all 0.15s ease-in-out;
      }

      &:hover {
        text-indent: 0;

        > .icon {
          position: relative;
          left: 0;
          opacity: 1;
          visibility: visible;
          -webkit-transform: translate3d(0,0,0);
                  transform: translate3d(0,0,0);
        }
      }
    }

    .browse-list__link--active {

      &,
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        background-color: rgba($base-color-ui,0.25);
        cursor: default;
      }
    }