.content-heading {
  padding-top: 4px;
  font-variant: small-caps;
  font-family: "Proxima Nova", AvenirNext-Regular, Helmet, Freesans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  color: #999999;
}