/**
 * _theme.modal.scss
 */
.modal-bg {
  width: 100%;
  height: 100%;
  top:    0;
  right:  0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  @extend .is-hidden;

  &.show {
    position: fixed !important;
    left: 0;
    z-index: 6000;
    visibility: visible;
    @extend .center-container;
  }
}
.modal {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.1);
}

.show {

  .modal {
    max-width: 50%;
    margin-right: auto;
    margin-left:  auto;
  }
}

  .modal__title,
  .modal__content,
  .modal__footer {
    padding: $half-spacing-unit;
    @extend .cf;
  }
  .modal__title {
    font-size: 22px;
    font-family: $heading-font-family;
    border-bottom: 1px solid $swatch-two;
  }
    .modal__link {
      display: inline-block;
      color: $swatch-four;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }

    .modal__actions {
      text-align: right;

      > .btn + .btn {
        margin-left: $half-spacing-unit / 2;
      }
    }

.modal-collection-thumb {
  display: block;
  width: 96px;
  height: 96px;
  background-image: url('http://localhost:5001/static/assets/img/video-collection__tag.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.show-modal-indicator {
  transition: transform 0.4s ease-in-out;
}

.show-modal-indicator:hover {
  @extend .animate-spin;
}

