/**
 * _theme.forms.scss
 */
.form-fields {
  list-style: none;
  margin: 0;

  > li {
    margin-bottom: $base-spacing-unit;
    padding: $half-spacing-unit;
  }

  > li:last-child {
    margin-bottom: 0;
  }
}

label,
.label {
  display: block;
}
.form-label {
  font-size: 0.75em;
  color: darken($swatch-four, 30%);
  cursor: pointer;
  .form-checkbox {
    display: inline-block;
  }
  .form-checkbox--l {
    float: left;
    margin-top: 3px;
    margin-right: $half-spacing-unit;
  }
}
.form-label__text {
  display: inline-block;
}
.additional {
  display: block;
  font-weight: normal;
}
.check-list {
  list-style: none;
  margin:0;
}
  .check-label,
  .check-list label,
  .check-list .label{
    display: inline-block;
  }

.spoken-form label {
  display: inline-block;
  font: inherit;
}

.login-view__form {

  > li {
    margin-bottom: 0;
  }
}


.login-view__input {
  margin: 0;
  padding: $half-spacing-unit 0;
  border: 0;

  & + & {
    border-top: 1px solid $swatch-two;
  }

  input {
    width: 93.85964912280701;
    width: calc(100% - 28px);
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    color: $swatch-three;
    border: 0;
    appearance: none;

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &:active {
      cursor: text;
    }
  }
}