/**
 * _theme.structure.scss
 */
.page-content {
  min-height: 100%;
  /**
   * equal to footer height
   */
  margin-bottom: $base-spacing-unit;

  &:after {
    content: "";
    display: block;
    height: $base-spacing-unit;
  }
}


.wrapper {
  margin-right: auto;
  margin-left:  auto;
  padding: 0 $base-spacing-unit $base-spacing-unit;
  position: relative;
  @extend .cf;
}

.wrapper--fixed {
  width: 63em;
}