/**
 * _trumps.text-styles.scss
 */
.t--block  { display: block !important; }
.t--inline { display: inline !important; }
.t--iblock { display: inline-block !important; }

.t--center { text-align: center !important; }
.t--right  { text-align: right !important; }
.t--left   { text-align: left !important; }