/**
 * _trumps.text-styles.scss
 */
.t--block  { display: block !important; }
.t--inline { display: inline !important; }
.t--iblock { display: inline-block !important; }

.t--center,
.u--ta-center { text-align: center !important; }
.t--right,
.u--ta-right  { text-align: right !important; }
.t--left,
.u--ta-left   { text-align: left !important; }