/**
 * _trumps.text-styles.scss
 */
.t--block  { display: block; }
.t--inline { display: inline; }
.t--iblock { display: inline-block; }

.t--center { text-align: center; }
.t--right  { text-align: right; }
.t--left   { text-align: left; }