/**
 * _trumps.global-height.scss
 */
// Let's define some global height variables
$min-height:            $base-spacing-unit * 2;
$min-height-small:      $base-spacing-unit * 4;
$min-height-medium:     $base-spacing-unit * 6;
$min-height-large:      $base-spacing-unit * 8;
$min-height-huge:       $base-spacing-unit * 10;

.u--h,
%u--h {
  min-height: $min-height;
}
.u--h-small,
%u--h-small {
  min-height: $min-height-small;
}
.u--h-medium,
%u--h-medium {
  min-height: $min-height-medium;
}
.u--h-large,
%u--h-large {
  min-height: $min-height-large;
}
.u--h-huge,
%u--h-huge {
  min-height: $min-height-huge;
}