/**
 * _trump.widths.scss
 */
.one-whole       { width: 100%; }
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths    { width: 50%; }
.one-third,
.two-sixths,
.three-ninths,
.four-twelfths   { width: 33.3333333%; }
.two-thirds,
.four-sixths,
.six-ninths,
.eight-twelfths  { width: 66.6666666%; }
.one-quarter,
.two-eighths,
.three-twelfths  { width: 25%; }
.three-quarters,
.six-eighths,
.nine-twelfths   { width: 75%; }
.one-fifth,
.two-tenths      { width: 20%; }
.two-fifths,
.four-tenths     { width: 40%; }
.three-fifths,
.six-tenths      { width: 60%; }
.four-fifths,
.eight-tenths    { width: 80%; }
.one-sixth,
.two-twelfths    { width: 16.6666666%; }
.five-sixths,
.ten-twelfths    { width: 83.3333333%; }
.one-eighth      { width: 12.5%; }
.three-eighths   { width: 37.5%; }
.five-eighths    { width: 62.5%; }
.seven-eighths   { width: 87.5%; }
.one-ninth       { width: 11.1111111%; }
.two-ninths      { width: 22.2222222%; }
.four-ninths     { width: 44.4444444%; }
.five-ninths     { width: 55.5555555%; }
.seven-ninths    { width: 77.7777777%; }
.eight-ninths    { width: 88.8888888%; }
.one-tenth       { width: 10%; }
.three-tenths    { width: 30%; }
.seven-tenths    { width: 70%; }
.nine-tenths     { width: 90%; }
.one-twelfth     { width: 8.3333333%; }
.five-twelfths   { width: 41.6666666%; }
.seven-twelfths  { width: 58.3333333%; }
.eleven-twelfths { width: 91.6666666%; }