/**
 * _organise-collection.scss
 */
.collection-status {
  display: inline-block;
  margin-bottom: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: "FreightSans Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}


.collection-edit-btn {
  margin-bottom: 24px;
  position: absolute;
  right:  0;
  bottom: 0;
}


.collection-edit-list {
  margin-bottom: 24px;
  position: absolute;
  right:  0;
  bottom: 0;

  > li + li { margin-left: $half-spacing-unit; }
}