.organise-video-list {
}

.organise-video-list__display-controls {
  text-align: right;
  margin-bottom: $half-spacing-unit;
}

.organise-video-list__videos {
  text-align: left;
}

.organise-video-list__video {
  display: inline-block;
  width: 32.5%;
  min-width: 200px;
  margin-right: 8px;
  margin-bottom: $half-spacing-unit;
  vertical-align: top;
}

.organise-video-list__video--list {
  width: 100%;
  //border-bottom: solid 1px $light-grey;
  //padding: $half-spacing-unit 0;
}

.organise-video-list__video--last {
  margin-right: 0;
}

.organise-video-list__message {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.organise-video-list__list-controls {
  text-align: right;
  margin-bottom: $base-spacing-unit;
}

.organise-video-list__select {

  @include vendor(appearance, none);
  
}

.organise-video-list__list-control-label {
  display: inline-block;
  font-family: $heading-font-family;
  @extend .cf;

  & + & {
    margin-left: $base-spacing-unit;
  }

  > .btn-group { margin-bottom: 0; }
}
