<a class="modal-close" ng-click="close()"><i class="icon  icon--large  icon--cross"></i></a>
<div class="center-object">
  <header class="modal-header">
    <div class="wrapper">
      <h2 class="heading  alpha  u--ta-center">Delete video?</h2>
    </div>
  </header>
  <div class="modal-body">
    <div class="wrapper  wrapper--fixed">
      <div class="text-col">
        <div class="media">
          <div class="media__img">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="collection-sprite">
          </div>
          <div class="media__body">
            <p class="u--ff-sans  organise-video-delete__msg">Are you sure you want to delete '{{video.title}}'?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="modal-footer">
    <div class="wrapper">
      <ul class="list-inline  u--ta-center">
        <li><a ng-if="!collection.label" ng-click="close()" class="btn">Cancel</a></li>
        <li><a ng-click="delete(video)" class="btn  btn--destructive">Delete</a></li>
      </ul>
    </div>
  </footer>
</div>