<section class="organise-video-list">
  <ul class="sort-ui  sort-ui--right">
    <li>
      <label for="organize-collection-sort__options" class="sort-ui__label">Sort by:</label>
      <select class="sort-ui__options" id="organize-collection-sort__options" ng-model="sortOption" ng-init="sortOption=''">
        <option value="date_updated">Newest</option>
        <option value="">Oldest</option>
        <option value="">A-Z</option>
        <option value="">Z-A</option>
        <option value="">Hotness</option>
        <option value="">Views</option>
      </select>
    </li><!--
 --><li>
      <label for="organize-collection-sort__view" class="sort-ui__label">View:</label>
      <select class="sort-ui__options" id="organize-collection-sort__view" ng-model="collectionSortView" ng-change="onChange()">
        <option ng-selected="{{ !isList }}">Grid</option>
        <option ng-selected="{{ isList }}">List</option>
      </select>
    </li>
  </ul>

  <div ng-hide="filteredVideos" class="organise-video-list__message">
    <p>There are no videos here right now</p>
    <p ng-if="!filterByCollaboration">Go and <a href="#/video">upload</a> a video.</p>
  </div>

  <ul class="layout" ng-class="{ 'grid-list' : isList }" ng-show="filteredVideos">
    <li class="layout__item" ng-repeat="video in filteredVideos | orderBy: sortOption" ng-class="{ 'one-third ' : !isList, 'grid-list__item' : isList }">
      <organise-video video="video" is-list="isList" is-collaboration="filterByCollaboration"></organise-video>
    </li>
  </ul>

</section>





