@import "_providers";

/**
 * _components.popup.scss
 */
.publish-thumb {
  width: 320px;
}

.btn--popup {
  position: relative;
}
.popup {
  width: 128px;
  margin-left: -64px;
  position: absolute;
  top:   100%;
  right: 0;
  left:  50%;
  z-index: 1;
  text-align: left;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.06);
  border-radius: 3px;
  box-shadow: 0 4px 48px 1px rgba(0,0,0,0.12);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0.8) translateY(-25%);
          transform: scale(0.8) translateY(-25%);
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
          transition: 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: none;
            transform: none;
  }
  
  &:before,
  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
  }
  &:before {
    border-color: rgba(7, 8, 8, 0);
    border-bottom-color: rgba(0,0,0,0.06);
    border-width: 9px;
    margin-left: -9px;
  }
  
  > li {
    border: 0;
    padding: 0;
  }
  
  > li + li {
    border-top: 1px solid #ddd;
  }
}
  .popup__link {
    display: block;
    padding: 4px 12px;
    line-height: 1.5;
    border: none;
  }
  .popup__link-cal {
    position: relative;
  }


.schedule-date {
  max-width: none;
  width: 263px;
  height: 387px;
  margin-left: -131px;
  position: absolute;
  top:   100%;
  left:  50%;
  right: 0;
  background-size: cover;
  background-image: url('/static/assets/img/date-picker-placeholder.png');
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(0.8) translateY(-25%);
          transform: scale(0.8) translateY(-25%);
  -webkit-transition: 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
          transition: 0.2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

  @media print,(-o-min-device-pixel-ratio:5/4),(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
    background-image: url('/static/assets/img/date-picker-placeholder@2x.png');
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    -webkit-transform: none;
            transform: none;
  }
}