<div>
  <header class="modal-header">
    <div class="wrapper">
      <h2 class="heading  alpha  u--ta-center">Invite a publisher</h2>
    </div>
  </header>
  <div class="modal-body">
    <form class="text-col form-ui">
      <fieldset class="form-ui__fieldset">
        <legend class="accessible">Invite a publisher by sending them an email.</legend>
        <ul class="form-fields">
          <li class="u--m-none">
            <label for="publisher-name" class="accessible">Invite a publisher:</label>
            <input id="publisher-name" name="publisher-name" class="one-whole" type="hidden" placeholder="Name or email address of a publisher you want to invite" ui-select2="select2Options" ng-model="invite.collaborators">
          </li>
          <li>
            <label for="publisher-message" class="accessible">Invite a publisher:</label>
            <textarea id="publisher-message" name="publisher-message" class="text-input  one-whole">Send a custom message to the publisher</textarea>
          </li>
          <li>
            <div class="btn-center">
              <a class="btn  btn--positive" ng-click="save()">Send invite</a>
            </div>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  <footer class="modal-footer">
    <div class="wrapper">
    </div>
  </footer>
</div>