<div class="video-view__nav-placeholder">
  <video-navigation flags="flags" video-id="video.id" video-status="video.status"></video-navigation>
</div>
<section class="page-section">
  <div class="wrapper  wrapper--fixed">

    <h1 class="heading  alpha  t--center">Publish '{{ video.title }}' to Wonder Place</h1>

    <div class="text-col">
      <p class="t--center">Schedule a timed publish for your video on Wonder Place. The act of publishing on Wonder Place is done by placing your video inside a public collection which will appear on the app.</p>
    </div>
    <div class="media">
      <div class="media__img  publish-thumb">
        <div class="ratio  ratio--16x9">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="ratio__src" style="background-image:url('{{ video.thumbnails.items[3].url }}');">
        </div>
      </div>
      <div class="media__body">
        <p class="heading  gamma" ng-bind="video.title"></p>
        <p ng-bind-html="video.description"></p>
        <p ng-bind="video.search_keywords"></p>
      </div>
    </div>
    <div class="text-col">
      <p class="heading  kilo" ng-if="isPublished">Your video has been published!</p>
      <p ng-if="isPublic && video.tags.items">Your video has been published to: <span ng-bind="video.tags.items | filter:public='true' | commaSeparatedList"></span></p>

      <!--<div class="notice  notice--info">
        <p>By clicking 'Publish', you agree that this video does not violate the Terms of Use of any of the video sites you plan to upload to and that you own all copyrights in this video or have express permission from all copyright owners to upload it. You also agree to Wonder PL’s Terms of Service.</p>
      </div>-->

      <div class="btn-center">

        <div class="btn  btn--positive  btn--small  btn--popup">
          <span class="icon-text--rev" ng-click="showPublishOptions = !showPublishOptions">publish<i class="icon  icon--ellipsis  icon-text__icon"></i></span>
          <ul class="nav  nav--stacked  popup" ng-class="{ 'visible' : showPublishOptions }">
            <li class="popup__item"><a class="popup__link" ng-click="showPublish()">Publish Now</a></li>
            <li class="popup__item"><a class="popup__link" ng-click="showPublish()">Add to Queue</a></li>
            <li class="popup__item">
              <a class="popup__link  popup__link-cal" ng-click="showCalendar = !showCalendar">Schedule a date
                <div class="schedule-date" ng-class="{ 'visible' : showCalendar }"></div>
                <!--<div class="date-picker" ng-show="showCalendar ">

                </div>-->
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <hr class="rule">
  </div>
</section>
<section class="page-section">
  <div class="wrapper  wrapper--fixed">

    <h2 class="heading  beta  t--center">Set up your multi-platform publishing&hellip;</h2>
    <div class="text-col">
      <p class="t--center">Publish to many different places with Wonder Place and we will make sure your posts look great everywhere. Click the associated logo buttons below to begin connecting your accounts to Wonder Place.</p>
    </div>

    <ul class="layout  publish-host">
      <li class="layout__item  one-quarter  publish-host__option" ng-class="{ 'publish-host__option--published' : providers.wonderpl.isPublished }">
        <div class="avatar  avatar--huge">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" class="avatar__img  publish-logo-wonder">
        </div>
        <p class="publish-host__title  icon-text"><i class="icon  icon-text__icon  icon--circle-check" ng-if="providers.wonderpl.isPublished"></i>Wonder PL</p>
      </li><!--

      --><li class="layout__item  one-quarter  publish-host__option">
        <div class="avatar  avatar--huge">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" class="avatar__img  publish-logo-youtube">
        </div>
        <p class="publish-host__title  icon-text"><i class="icon  icon-text__icon  icon--circle-check" ng-if="providers.youtube.isPublished"></i>Youtube</p>
      </li><!--

      --><li class="layout__item  one-quarter  publish-host__option">
        <div class="avatar  avatar--huge">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" class="avatar__img  publish-logo-facebook">
        </div>
        <p class="publish-host__title  icon-text"><i class="icon  icon-text__icon  icon--circle-check" ng-if="providers.facebook.isPublished"></i>Facebook</p>
      </li><!--

      --><li class="layout__item  one-quarter  publish-host__option">
        <div class="avatar  avatar--huge">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" class="avatar__img  publish-logo-more">
        </div>
        <p class="publish-host__title  icon-text--rev">Add<i class="icon  icon-text__icon  icon--plus"></i></p>
      </li>
    </ul>

  </div>
</section>