.cover-selector {

}

.cover-selector__carousel {
  overflow: hidden;
}

.cover-selector__images {
  list-style: none;
  overflow: hidden;
  margin-left: none;
  transition: margin-left 0.4s ease-in-out;
}

.cover-selector__image-container {
  display: inline-block;
  width: 9%;
  margin-right: $half-spacing-unit;
}

.cover-selector__upload {
  //height: 200px;
  //width: 300px;
  border: dashed 2px $base-color-ui;
}