/**
 * _settings.defaults.scss
 */

// High level base settings
$base-font-weight:          400 !default;
$base-font-size:            16px !default;
$base-line-height:          24px !default;
$base-font-family:          "FreightText Pro", Georgia, Cambria, 'Times New Roman', Times, serif;
$base-color-text:           #2e2e32;        // cold black | type-color
$base-color-background:     #fff;           // white | background-color


// define font-families
$heading-font-family:       "FreightSans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$small-heading-font-family: $heading-font-family;
$monospace-font-family:     "M+ 1m", Consolas, "Lucida Console", Courier, monospace;
$ampersand-font-family:     Ampersand, Georgia, serif;


// Namespace.
//
// would you like to prepend classes with a namespace? If so, define it here.
$namespace:                 null !default;



// These variables are framework variables, sourced from variables defines
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$base-spacing-unit:         $base-line-height;
$half-spacing-unit:         round($base-spacing-unit / 2);
$double-spacing-unit:       round($base-spacing-unit * 2);