.button {
  border: solid 1px $lightGrey;
  border-radius: 24px;
  display: inline-block;
  padding: 1em;
  color: $lightGrey;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  border-color: $darkGrey;
}

.button--primary {
  color: $darkGreen;
  border-color: $green;
}

.button--primary:hover {
  border-color: $darkGreen;
}

.button--wide {
  padding-left: 2em;
  padding-right: 2em;
}
