.button {
  border: solid 1px $light-grey;
  border-radius: 24px;
  display: inline-block;
  padding: 0.5em 1em;
  color: $grey;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
  background: $white;
}

.button:hover {
  border-color: $dark-grey;
}

.button--primary {
  color: $dark-green;
  border-color: $green;
}

.button--primary:hover {
  border-color: $dark-green;
}

.button--wide {
  padding-left: 2em;
  padding-right: 2em;
}

.button--right {
  float: right;
}

.button--small {
  padding: 0.5em;
}

.button--disabled {
  border-color: $light-grey;
  color: $light-grey;
  cursor: not-allowed;
}

.button--disabled:hover {
  border-color: $light-grey;
}

.button__component {
  @extend .no-selection;
  border-radius: 0;
  cursor: pointer;
}

.button__component--left {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  border-right-color: transparent;
  font-weight: bold;
}

.button__component--right {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-left-color: transparent;
  font-weight: bold;
}

.button__component--input-container {
  padding-top: 14px;
}






