/**
 * _notice.scss
 */
.notice-tray {
  width: 100%;
  position: fixed;
  top:  0;
  left: 0;
  z-index: 5001;
  pointer-events: auto;
  @extend .cf;

  .notice {
    max-width: 50%;
    margin-right: auto;
    margin-left:  auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.notice {
  padding: $half-spacing-unit $base-spacing-unit;
  font-size: 0.875em;
  font-family: $heading-font-family;
  border-radius: 3px;
}