.sub-navigation {
  text-align: right;
}

.sub-navigation__control {
  text-align: right;
  padding: 0.5em 0;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
}

.sub-navigation__modes {
  margin: 0;
  padding-top:    $half-spacing-unit / 2;
  padding-bottom: $half-spacing-unit / 2;

  > li + li {
    margin-left: $half-spacing-unit / 2;
  }
}

.sub-navigation__mode {
  display: inline-block;
}



.sub-navigation {
  background: $swatch-one;
  z-index: 10;
}

.sub-navigation--column {
  width: 960px;
  margin: 0 auto;
}

.sub-navigation--sticky {
  position: fixed;
  top:  0;
  left: 0;
  width: 100%;
  background-color: rgba($swatch-one,0.9);
  box-shadow: 0 4px 4px -4px $swatch-four;
}

.sub-navigation--mirror,
.sub-navigation--wide {
  left: 0;
  margin: 0;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.sub-navigation__placeholder {
  display: block;
  //height: 52px;
}

