/**
 * _trumps.text-styles.scss
 */
/**
 * Strip out unwanted vertical rhythm from text elements.
 */
.no-spacing { margin-bottom: 0 !important; }

/**
 * Change display of certain text elements ad-hoc
 */
.t--block        { display: block; }
.t--inline       { display: inline; }
.t--inline-block { display: inline-block; }

/**
 * Change alignment of text elements ad-hoc
 */
.t--center { text-align: center; }
.t--right  { text-align: right; }
.t--left   { text-align: left; }

/**
 * text transform elements ad-hoc
 */
.t--lowercase { text-transform: lowercase; }
.t--uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.t--smallcaps {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

/**
 * change font weights ad-hoc
 */
.w--200 { font-weight: 200; }
.w--300 { font-weight: 300; }
.w--400 { font-weight: 400; }
.w--800 { font-weight: 800; }

/**
 * Change how text elements break words
 */
.w--break { word-wrap: break-word; }
.w--wrap  { word-wrap: normal; }