.video-player-config {
  padding: 1em 1em 2.5em 1em;
  background: $grey;
  background: rgba(255, 255, 255, 0.2);
}

.video-player-config__hide-logo-label {
  display: block;
  margin: 0.5em;
  color: $white;
  text-shadow: 0 0 10px black;
  position: absolute;
  z-index: 10;
  width: 10em;
}

.video-player-config__hide-logo-checkbox {
  float: left;
  margin-right: 0.5em;
}