.search {

}

.search__form {
  transition: all 0.4s ease-in-out;
  padding: 0 12px;
  margin: 0 12px;
  width: 100%;
  text-align: center;
  max-height: 0;
  overflow: hidden;
}

.search__form--active {
  max-height: 800px;
  padding: 12px;
  margin: 12px;
}

.search__form-container {
  width: 400px;
  margin: 0 auto;
}

.search__results {
  transition: all 0.4s ease-in-out;
  padding: 0 12px;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  max-width: 960px;
}

.search__result-items {
  margin: 0;
}

.search__results-title {
  padding-top: 4px;
  font-variant: small-caps;
  font-family: "Proxima Nova", AvenirNext-Regular, Helmet, Freesans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
  color: #999999;
}

.search__results-heading {
  text-align: center;
}

.search__results--active {
  max-height: 900px;
  padding: 12px;
  margin: 12px auto;
}

.search__results-container {
  padding: 12px;
  margin: 12px;
}

.search__result-item {
  display: block;
  padding-top: 12px;
}

.search__options-container {
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}


.search__label {
  display: block;
  margin-bottom: 1em;
  font-variant: small-caps;
  font-weight: 600;
  font-family: $heading-font-family;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.search__label--inline {
  display: inline;
  margin-right: 1em;
  font-weight: normal;
  font-family: "Proxima Nova", AvenirNext-Regular, Helmet, Freesans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
}

.search__text-input {
  display: block;
  width: 20em;
  font-weight: normal;
  font-size: 1em;
  font-family: "Proxima Nova", AvenirNext-Regular, Helmet, Freesans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  text-transform: normal;
  letter-spacing: 0;
  padding: 0.3em;
}

.search-text-input--center {
  margin: 0 auto;
}

.search__options-container--active {
  max-height: 600px;
}

.search__more-link-container {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.search__more-link {
  display: inline-block;
}

.search__more-link:hover {
  cursor: pointer;
}

.search__user-results {
  width: 34%;
  float: left;
  clear: left;
}

.search__collaborator-results {
  width: 34%;
  float: left;
  clear: left;
}

.search__video-results {
  width: 58%;
  clear: right;
  display: inline-block;
}

.search__avatar-container {
  display: inline-block;
  overflow: hidden;
  width: 66px;
  padding: 10px;
  box-sizing: content-box;
  float: left;
  margin-right: 6px;
}

.search__thumbnail {
  width: 33.3333%;
  background-color: $grey;
}

.search__user-name {
  padding-top: 12px;
}

.search__thumbnail-container {
  border: none;
}

.search__video-description {
  color: $cold-black;
}

.search__user-description {
  color: $cold-black;
}

.search__avatar {
  margin-bottom: 0;
}





