.country-selector__countries {
  transition: max-height 0.4s ease-in-out;
  max-height: 0;
  overflow: hidden;
  &.active {
    max-height: 500px;
  }
}

.country-selector__selected-country {
  cursor: pointer;
  display: inline-block;
}

.country-selector__option {
  list-style: none outside;
}

.country-selector__option:hover {
  cursor: pointer;
}