<section class="profile" ng-controller="ProfileCtrl">

  <div class="profile-view__nav-placeholder sub-navigation__placeholder">
    <profile-navigation is-edit="isEdit"></profile-navigation>
  </div>


  <profile-cover image="profile.profile_cover" is-edit="isEdit"></profile-cover>

  <profile-image image="profile.avatar" is-edit="isEdit"></profile-image>

  <div class="wrapper wrapper--fixed">
    <h2 class="profile__name  no-spacing"
      ng-show="isEdit"
      medium-editor
      data-placeholder="{{ profile.name ? ' ' : 'name' }}"
      options="{ disableToolbar : true, forcePlainText : true, disableReturn : true }"
      ng-model="profile.display_name">
    </h2>
  
    <h2 class="profile__name  no-spacing" ng-hide="isEdit" ng-bind="profile.display_name"></h2>
  
    <div class="profile__description"
      ng-show="isEdit"
      medium-editor
      data-placeholder="{{ profile.description ? ' ' : 'description' }}"
      options="{ buttons : ['bold', 'italic', 'header1', 'header2', 'unorderedlist', 'quote'], firstHeader : 'h2', secondHeader : 'h3' }"
      ng-model="profile.description">
    </div>
  
    <div class="profile__description" ng-hide="isEdit" ng-bind-html="profile.description"></div>
  </div>

</section>