<section class="sub-navigation sub-navigation__placeholder">
    <div class="sub-navigation__control">
      <ul class="sub-navigation__modes">
        <li class="sub-navigation__mode" ng-hide="isEdit">
          <a class="sub-navigation__link btn  btn--utility" ng-click="isEdit = true">edit</a>
        </li>
        <li class="sub-navigation__mode" ng-show="isEdit">
          <a class="sub-navigation__link btn  btn--utility" ng-click="save()">save</a>
        </li>
        <li class="sub-navigation__mode" ng-show="isEdit">
          <a class="sub-navigation__link btn  btn--utility" ng-click="cancel()">cancel</a>
        </li>
      </ul>
    </div>
</section>