.login-view {
  max-width: 63em;
  margin-right: auto;
  margin-left:  auto;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;
}

.login-view__label {
  // display: block;
  // padding: 0 0 12px 0;
  // text-align: right;
  // width: 20em;
}

.login-view__input {

}
.login-view__input_checkbox {
  margin-right: 0.5em;
}

.login-view__errors {
  display: block;
  //margin-bottom: $base-spacing-unit;
  color: $red;
}

.login-view__loading-indicator {
  height: 16px;
  width: 16px;
  position: relative;
  line-height: 1;
  top: 3px;
  margin-left: 12px;
}

.login-view__submit {
  vertical-align: top;
}
.login-view__terms {
  margin-bottom: $half-spacing-unit;
}
.login-view__input--location .icon {
  float: left;
}
.login-view__form .location-selector__label {
  position: static;
  visibility: visible;
  float: left;
  margin-right: 1em;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0 4px;
  color: #a9a9a9;
}
.login-view__form .location-selector {
  color: $grey;
  font-family: $heading-font-family;
}