.login-view {
  max-width: 63em;
  margin-right: auto;
  margin-left:  auto;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;
}

.login-view__label {
  // display: block;
  // padding: 0 0 12px 0;
  // text-align: right;
  // width: 20em;
}

.login-view__input {

}
.login-view__input_checkbox {
  margin-right: 0.5em;
}

.login-view__errors {
  display: block;
  //margin-bottom: $base-spacing-unit;
  color: $red;
}

.login-view__loading-indicator {
  height: 16px;
  width: 16px;
  position: relative;
  line-height: 1;
  top: 3px;
  margin-left: 12px;
}

.login-view__submit {
  vertical-align: top;
}
.login-view__terms {
  margin-bottom: $half-spacing-unit;
}