/**
 * _object.icons.scss
 */
@font-face {
  font-family: "icon-font";
  src: url(/static/assets/fonts/icon/icon.eot);
  src: url(/static/assets/fonts/icon/icon.eot?#ie) format("embedded-opentype"),
       url(/static/assets/fonts/icon/icon.woff) format("woff"),
       url(/static/assets/fonts/icon/icon.ttf) format("truetype"),
       url(/static/assets/fonts/icon/icon.svg#ios) format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  position: relative;
  top: -0.0625em;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  font-family: "icon-font";
  text-align: center;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;

  &:before {
    content: "";
    speak: none;
    text-rendering: optimizeLegibility;
  }
}

.icon--color-picker:before           {content:"\e600"}
.icon--collection-add:before         {content:"\e601"}
.icon--collection-remove:before      {content:"\e602"}
.icon--collection:before             {content:"\e603"}
.icon--edit:before                   {content:"\e604"}
.icon--full-screen:before            {content:"\e605"}
.icon--warning-circle:before         {content:"\e606"}
.icon--air-play:before               {content:"\e607"}
.icon--align-center:before           {content:"\e608"}
.icon--align-justify:before          {content:"\e609"}
.icon--align-left:before             {content:"\e60a"}
.icon--align-right:before            {content:"\e60b"}
.icon--alt:before                    {content:"\e60c"}
.icon--anchor:before                 {content:"\e60d"}
.icon--archive:before                {content:"\e60e"}
.icon--arrow-down:before             {content:"\e60f"}
.icon--arrow-left:before             {content:"\e610"}
.icon--arrow-right:before            {content:"\e611"}
.icon--arrow-up:before               {content:"\e612"}
.icon--bag:before                    {content:"\e613"}
.icon--ban:before                    {content:"\e614"}
.icon--bar-graph-2                   {content:"\e615"}
.icon--bar-graph:before              {content:"\e616"}
.icon--battery:before                {content:"\e617"}
.icon--bell:before                   {content:"\e618"}
.icon--book:before                   {content:"\e619"}
.icon--box:before                    {content:"\e61a"}
.icon--briefcase:before              {content:"\e61b"}
.icon--camera:before                 {content:"\e61c"}
.icon--check:before                  {content:"\e61d"}
.icon--circle-add:before             {content:"\e61e"}
.icon--circle-check:before           {content:"\e61f"}
.icon--circle-cross:before           {content:"\e620"}
.icon--circle-minus:before           {content:"\e621"}
.icon--clipboard:before              {content:"\e622"}
.icon--clock:before                  {content:"\e623"}
.icon--cloud-download:before         {content:"\e624"}
.icon--cloud-upload:before           {content:"\e625"}
.icon--cloud:before                  {content:"\e626"}
.icon--cog:before                    {content:"\e627"}
.icon--columns:before                {content:"\e628"}
.icon--command:before                {content:"\e629"}
.icon--content-left:before           {content:"\e62a"}
.icon--content-right:before          {content:"\e62b"}
.icon--contract:before               {content:"\e62c"}
.icon--cross:before                  {content:"\e62d"}
.icon--delete:before                 {content:"\e62e"}
.icon--disc:before                   {content:"\e62f"}
.icon--download:before               {content:"\e630"}
.icon--drop:before                   {content:"\e631"}
.icon--ellipsis:before               {content:"\e632"}
.icon--esc:before                    {content:"\e633"}
.icon--expand:before                 {content:"\e634"}
.icon--eye:before                    {content:"\e635"}
.icon--fast-forward:before           {content:"\e636"}
.icon--file-add:before               {content:"\e637"}
.icon--file-subtract:before          {content:"\e638"}
.icon--file:before                   {content:"\e639"}
.icon--flag:before                   {content:"\e63a"}
.icon--folder:before                 {content:"\e63b"}
.icon--globe:before                  {content:"\e63c"}
.icon--grid-2:before                 {content:"\e63d"}
.icon--grid:before                   {content:"\e63e"}
.icon--head:before                   {content:"\e63f"}
.icon--heart:before                  {content:"\e640"}
.icon--help:before                   {content:"\e641"}
.icon--image:before                  {content:"\e642"}
.icon--inbox:before                  {content:"\e643"}
.icon--layers:before                 {content:"\e644"}
.icon--layout:before                 {content:"\e645"}
.icon--link:before                   {content:"\e646"}
.icon--loader:before                 {content:"\e647"}
.icon--location-2:before             {content:"\e648"}
.icon--location:before               {content:"\e649"}
.icon--lock:before                   {content:"\e64a"}
.icon--mail:before                   {content:"\e64b"}
.icon--map:before                    {content:"\e64c"}
.icon--marquee-add:before            {content:"\e64d"}
.icon--marquee-subtract:before       {content:"\e64e"} 
.icon--marquee:before                {content:"\e64f"}
.icon--maximize:before               {content:"\e650"}
.icon--menu:before                   {content:"\e651"}
.icon--microphone:before             {content:"\e652"}
.icon--minimize:before               {content:"\e653"}
.icon--minus:before                  {content:"\e654"}
.icon--monitor:before                {content:"\e655"}
.icon--moon:before                   {content:"\e656"}
.icon--move:before                   {content:"\e657"}
.icon--mute:before                   {content:"\e658"}
.icon--open:before                   {content:"\e659"}
.icon--outbox:before                 {content:"\e65a"}
.icon--paper-clip:before             {content:"\e65b"}
.icon--paper-stack:before            {content:"\e65c"}
.icon--paper:before                  {content:"\e65d"}
.icon--paragraph:before              {content:"\e65e"}
.icon--pause:before                  {content:"\e65f"}
.icon--pie-graph:before              {content:"\e660"}
.icon--play:before                   {content:"\e661"}
.icon--plus:before                   {content:"\e662"}
.icon--power:before                  {content:"\e663"}
.icon--printer:before                {content:"\e664"}
.icon--record:before                 {content:"\e665"}
.icon--reload:before                 {content:"\e666"}
.icon--repeat:before                 {content:"\e667"}
.icon--reply:before                  {content:"\e668"}
.icon--rewind:before                 {content:"\e669"}
.icon--ribbon:before                 {content:"\e66a"}
.icon--search:before                 {content:"\e66b"}
.icon--server:before                 {content:"\e66c"}
.icon--share:before                  {content:"\e66d"}
.icon--shuffle:before                {content:"\e66e"}
.icon--signal:before                 {content:"\e66f"}
.icon--skip-back:before              {content:"\e670"}
.icon--skip-forward:before           {content:"\e671"}
.icon--speech-bubble:before          {content:"\e672"}
.icon--square-add:before             {content:"\e673"}
.icon--square-check:before           {content:"\e674"}
.icon--square-cross:before           {content:"\e675"}
.icon--square-minus:before           {content:"\e676"}
.icon--stack-2:before                {content:"\e677"}
.icon--stack:before                  {content:"\e678"}
.icon--star:before                   {content:"\e679"}
.icon--stop:before                   {content:"\e67a"}
.icon--sun:before                    {content:"\e67b"}
.icon--tag:before                    {content:"\e67c"}
.icon--target:before                 {content:"\e67d"}
.icon--thermometer:before            {content:"\e67e"}
.icon--toggle:before                 {content:"\e67f"}
.icon--trash:before                  {content:"\e680"}
.icon--umbrella:before               {content:"\e681"}
.icon--unlock:before                 {content:"\e682"}
.icon--upload:before                 {content:"\e683"}
.icon--video:before                  {content:"\e684"}
.icon--volume:before                 {content:"\e685"}
.icon--watch:before                  {content:"\e686"}
.icon--zoom-in:before                {content:"\e687"}
.icon--zoom-out:before               {content:"\e688"}

.icon--medium  { font-size: 24px; }
.icon--large   { font-size: 32px; }
.icon--huge    { font-size: 64px; }
.icon--natural { font-size: inherit; }