.global-nav-wrapper {
  top: 0;
  left: 0;
  z-index: 1000;
  @include visuallyhidden;
}
#global-nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $cold-black;
  color: $white;
  width: 16em;
  min-height: 100%;
  z-index: 1001;

  ul {
      display: block;
      list-style: none;
      margin: 0 $base-spacing-unit $half-spacing-unit;
  }
}
.global-nav__item {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: 1px $light-grey solid;
}
.global-nav__link {
  padding-right: $half-spacing-unit / 2;
  padding-left:  $half-spacing-unit / 2;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 48px;
  font-family: $heading-font-family;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  color: $white;
  text-decoration: none;
  border: none;

  > .avatar {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    position: relative;
    left: auto;
    z-index: 1002;
  }
}
/*
 * Style for page & navigation when nav showing
 */
.js-nav {
  position: relative;
  overflow: hidden;

  .global-nav-wrapper {
    width: 100%;
    clip: auto;
    height: 100%;
    margin: 0;
    position: fixed;
    overflow: auto;
  }
  .container {
    position: absolute;
    left: 16em;
    transition: left 300ms 100ms ease, transform 500ms ease;
    pointer-events: none;
  }
  .page-header ul {
    visibility: hidden;
  }
}
