@import "compass/css3";

$global-nav-width: 320px;

@mixin transition-transform($left) {
  @include single-transition(transform, 0.15s, ease);
  @include transform((translate3d($left,0,0)), true);
  @include backface-visibility(hidden);
}

.global-nav-wrapper {
  position: relative;
  @include visuallyhidden;
}
  .global-nav {
    width: $global-nav-width;
    min-height: 100%;
    position: absolute;
    top:  0;
    left: 0;
    color: $white;
    background-color: $cold-black;
  }


.global-nav__avatar {
  margin-top: $base-spacing-unit;
}

/**
 * Push other page content over when the global-nav is showing.
 */
.js-ready {

  .global-nav-wrapper {
    width: $global-nav-width;
    height: 100%;
    margin: 0;
    overflow: auto;
    position: fixed;
    clip: auto;
    @include transform((translate3d(-$global-nav-width,0,0)), true);
    @include backface-visibility(hidden);
  }
}

.js-nav--3dtransitions {
  .container {
    @include single-transition(transform, 0.15s, ease);
    -webkit-transform: initial;
            transform: initial;
  }

  .global-nav-wrapper {
    @include transition-transform(-$global-nav-width);
  }
}

.js-nav {
  overflow: hidden;

  .container {
    overflow: hidden;
    @include transition-transform($global-nav-width);
    pointer-events: none;
  }

  .global-nav-wrapper {
    @include transition-transform(0);
    width: 100%;
  }

  .page-header ul {
    //visibility: hidden;
  }
}

.global-nav-menu {
  list-style: none;
  margin-left: 0;
  border: 0;

  > li {
    padding: 0;
    border: 0;
  }
}
.global-nav-menu__item {
  display: list-item;
}
.global-nav-menu__text {
  font-weight: 200;
  line-height: 2;
  font-family: $heading-font-family;
  color: #fff;
  border: none;
}
.global-nav-menu__link {
  @extend .global-nav-menu__text;
  &:hover,
  &:active {
    color: rgba(#fff, 0.5);
  }
}

.global-nav-core-actions {
  margin-bottom: $base-spacing-unit;

  > li + li {
    margin-left: $half-spacing-unit;
  }
}