<div class="global-nav-wrapper">
  <nav id="global-nav" class="global-nav" role="navigation">
    <ul>
      <li class="global-nav__item global-nav__item--home"><a href="#/" class="global-nav__link">Home</a></li>
      <li class="global-nav__item global-nav__item--profile" ng-if="account"><a href="#/profile" class="global-nav__link trunc"><span class="avatar  avatar--small"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" class="avatar__img" ng-style="profileStyle"></span> {{ account.display_name }}</a></li>
      <li ng-repeat="page in pages" class="global-nav__item"><a href="{{ page.url }}" class="global-nav__link">{{ page.title }}</a></li>
    </ul>
  </nav>
</div>