<div class="global-nav-wrapper">
  <nav id="global-nav" class="global-nav" role="navigation">
    <div class="wrapper">
      <div class="avatar  avatar--large  global-nav__avatar">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ account.display_name }}" class="avatar__img" ng-style="profileStyle">
      </div>
      <ul class="list-inline  t--center  global-nav-core-actions">
        <li class="global-nav-core-actions__item" ng-if="account"><a href="#/profile" class="global-nav-core-actions__link  btn  btn--blob  btn--light  simptip-position-bottom  simptip-smooth  simptip-movable" title="View your profile page." data-tooltip="View your profile page."><i class="icon  icon--head"></i></a></li><!--
     --><li class="global-nav-core-actions__item"><a href="#/settings" class="global-nav-core-actions__link  btn  btn--blob  btn--light  simptip-position-bottom  simptip-smooth  simptip-movable" title="View and edit your settings." data-tooltip="View and edit your settings."><i class="icon  icon--cog"></i></a></li><!--
     --><li class="global-nav-core-actions__item"><a ng-click="logout()" class="global-nav-core-actions__link  btn  btn--blob  btn--light  simptip-position-bottom  simptip-smooth  simptip-movable" title="Sign out from Wonder Place." data-tooltip="Sign out from Wonder Place."><i class="icon  icon--exit"></i></a></li>
      </ul>
      <ul class="list-ui  global-nav-menu">
        <li class="global-nav-menu__item"><a href="#/search" class="global-nav-menu__link  icon-text"><i class="icon  icon--search  icon-text__icon"></i>Search</a></li>
        <li class="global-nav-menu__item"><a href="#/video" class="global-nav-menu__link  icon-text"><i class="icon  icon--folder  icon-text__icon"></i>{{isUploading ? 'Uploads in Progress' : 'Upload a Video'}}</a></li>
        <li class="global-nav-menu__item"><a href="#/" title="Manage and organize your video library." class="global-nav-menu__link  icon-text"><i class="icon  icon--layout  icon-text__icon"></i>Organize</a></li>
        <li class="global-nav-menu__item"><a href="#/" class="global-nav-menu__link  icon-text"><i class="icon  icon--pie-graph icon-text__icon"></i>Stats</a></li>
      </ul>
      <ul class="list-ui  global-nav-menu">
        <li class="global-nav-menu__item"><a href="#/faq" class="global-nav-menu__link">FAQs</a></li>
        <!-- li class="global-nav-menu__item"><a href="#/login/upgrade" title="Get access to premium features by upgrading your account." class="global-nav-menu__link">Upgrade account</a></li -->
        <li class="global-nav-menu__item"><a href="mailto:support@wonderpl.com" title="We're here to help." class="global-nav-menu__link">Support</a></li>
        <li class="global-nav-menu__item"><a href="#/tands" title="The Wonder Place Terms of Service." class="global-nav-menu__link">Terms of service</a></li>
        <li class="global-nav-menu__item"><a href="#/privacy-policy" title="The Wonder Place Privary Policy." class="global-nav-menu__link">Privacy policy</a></li>
        <li class="global-nav-menu__item"><a href="#/about" title="Who are we, and why are we here?" class="global-nav-menu__link">About</a></li>
      </ul>
      <p class="global-nav-menu__text">&copy; Copyright 2014</p>
    </div>
  </nav>
</div>