<header class="page-header" role="header">
  <nav class="wrapper" role="navigation">
    <a href="#" class="page-logo  page-logo--header" >
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" class="page-logo__img" alt="Wonder PL">
    </a>
    <upload-progress ng-if="isLoggedIn() && isUploading()"></upload-progress>
    <ul class="nav  nav-menu" ng-if="! isLoggedIn()">
      <li class="nav-menu__item"><a href="#/login" class="nav-menu__link">Login</a></li>
    </ul>
  </nav>
</header>