
blockquote {
  /**
   * .4em is roughly equal to the width of the opening “ that we wish to hang.
   */
  text-indent: -0.41em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;

  quotes: "#{$open-quote}" "#{$close-quote}";

  &:before {
    content: "\2018";
    content: open-quote;
  }
  &:after {
    content: "\2019";
    content: close-quote;
  }
}
