* {
  @include box-sizing( border-box );
}

html,
body {
  @extend .sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: $containerWidth + px;
  margin: 0 auto;
}

a,
a:hover,
a:visited {
 text-decoration: none;
}

h2 {
  margin: 0;
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  margin: 0 0 0.5em;
  font-size: 2.375em;
  line-height: 1.5;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

textarea {
  margin: 0;
  padding: 0;
}