.hide-text {
  color: transparent!important;
  white-space: nowrap;
  overflow: hidden;
}

.inline-space-fix {
  margin-right: -4px;
}

.no-padding {
  padding: 0;
}

.clear-float-container {
  overflow: auto;
  width: 100%
}

.push-bottom {
  margin-bottom: 1em;
}

.truncate {
white-space: nowrap;
text-overflow: ellipsis;
max-width: 100%;
overflow: hidden;
}