$containerWidth: 960;

$dark-grey: #70797b;
$grey: #999;
$light-grey: #b7bcbd;
$green: #c8e6ce;
$dark-green: #51b364;
$black: #2e2e32;
$white: #ffffff;
$red: #ff0000;
$shadow-red: #ee0000;

$open-quote: \201C;
$close-quote: \201D;

$base-line-height: 24px;
